@namespace ibooks "http://www.apple.com/2011/iBooks";
#textShape-4101{
	-ibooks-line-hints: textShape-4101 p url(../hints/content22-paginated.plist) 316 1;
}
#textShape-4723{
	-ibooks-line-hints: textShape-4723 p url(../hints/content22-paginated.plist) 305 1;
}
#textShape-4111{
	-ibooks-line-hints: textShape-4111 p url(../hints/content22-paginated.plist) 339 1;
}
#textShape-4105{
	-ibooks-line-hints: textShape-4105 p url(../hints/content22-paginated.plist) 326 1;
}
#textShape-4727{
	-ibooks-line-hints: textShape-4727 p url(../hints/content22-paginated.plist) 307 1;
}
#textShape-4095{
	-ibooks-line-hints: textShape-4095 p url(../hints/content22-paginated.plist) 301 1;
}
#textShape-4743{
	-ibooks-line-hints: textShape-4743 p url(../hints/content22-paginated.plist) 318 1;
}
#textShape-4109{
	-ibooks-line-hints: textShape-4109 p url(../hints/content22-paginated.plist) 335 1;
}
#textShape-4100{
	-ibooks-line-hints: textShape-4100 p url(../hints/content22-paginated.plist) 314 1;
}
#textShape-4099{
	-ibooks-line-hints: textShape-4099 p url(../hints/content22-paginated.plist) 311 1;
}
#textShape-4747{
	-ibooks-line-hints: textShape-4747 p url(../hints/content22-paginated.plist) 320 1;
}
#textShape-4110{
	-ibooks-line-hints: textShape-4110 p url(../hints/content22-paginated.plist) 337 1;
}
#textShape-4104{
	-ibooks-line-hints: textShape-4104 p url(../hints/content22-paginated.plist) 324 1;
}
#textShape-4094{
	-ibooks-line-hints: textShape-4094 p url(../hints/content22-paginated.plist) 298 1;
}
#textShape-4763{
	-ibooks-line-hints: textShape-4763 p url(../hints/content22-paginated.plist) 329 1;
}
#textShape-4711{
	-ibooks-line-hints: textShape-4711 p url(../hints/content22-paginated.plist) 297 1;
}
#textShape-1737{
	-ibooks-line-hints: textShape-1737 p url(../hints/content22-paginated.plist) 344 1;
}
#textShape-4108{
	-ibooks-line-hints: textShape-4108 p url(../hints/content22-paginated.plist) 333 1;
}
#textShape-4114{
	-ibooks-line-hints: textShape-4114 p url(../hints/content22-paginated.plist) 345 1;
}
#textShape-4098{
	-ibooks-line-hints: textShape-4098 p url(../hints/content22-paginated.plist) 308 1;
}
#textShape-4767{
	-ibooks-line-hints: textShape-4767 p url(../hints/content22-paginated.plist) 332 1;
}
#textShape-4715{
	-ibooks-line-hints: textShape-4715 p url(../hints/content22-paginated.plist) 300 1;
}
#textShape-1732{
	-ibooks-line-hints: textShape-1732 p url(../hints/content22-paginated.plist) 342 1;
}
#textShape-4700{
	-ibooks-line-hints: textShape-4700 p url(../hints/content22-paginated.plist) 291 1;
}
#textShape-4699{
	-ibooks-line-hints: textShape-4699 p url(../hints/content22-paginated.plist) 290 1;
}
#textShape-4731{
	-ibooks-line-hints: textShape-4731 p url(../hints/content22-paginated.plist) 310 1;
}
#textShape-4103{
	-ibooks-line-hints: textShape-4103 p url(../hints/content22-paginated.plist) 321 1;
}
#textShape-4093{
	-ibooks-line-hints: textShape-4093 p url(../hints/content22-paginated.plist) 296 1;
}
#textShape-4719{
	-ibooks-line-hints: textShape-4719 p url(../hints/content22-paginated.plist) 303 1;
}
#textShape-4113{
	-ibooks-line-hints: textShape-4113 p url(../hints/content22-paginated.plist) 343 1;
}
#textShape-4107{
	-ibooks-line-hints: textShape-4107 p url(../hints/content22-paginated.plist) 330 1;
}
#textShape-4735{
	-ibooks-line-hints: textShape-4735 p url(../hints/content22-paginated.plist) 313 1;
}
#textShape-4097{
	-ibooks-line-hints: textShape-4097 p url(../hints/content22-paginated.plist) 306 1;
}
#textShape-4751{
	-ibooks-line-hints: textShape-4751 p url(../hints/content22-paginated.plist) 323 1;
}
#textShape-4739{
	-ibooks-line-hints: textShape-4739 p url(../hints/content22-paginated.plist) 315 1;
}
#textShape-4102{
	-ibooks-line-hints: textShape-4102 p url(../hints/content22-paginated.plist) 319 1;
}
#textShape-4698{
	-ibooks-line-hints: textShape-4698 p url(../hints/content22-paginated.plist) 289 1;
}
#textShape-193{
	-ibooks-line-hints: textShape-193 p url(../hints/content22-paginated.plist) 336 1;
}
#textShape-4092{
	-ibooks-line-hints: textShape-4092 p url(../hints/content22-paginated.plist) 293 1;
}
#textShape-4755{
	-ibooks-line-hints: textShape-4755 p url(../hints/content22-paginated.plist) 325 1;
}
#textShape-4703{
	-ibooks-line-hints: textShape-4703 p url(../hints/content22-paginated.plist) 292 1;
}
#textShape-4106{
	-ibooks-line-hints: textShape-4106 p url(../hints/content22-paginated.plist) 328 1;
}
#textShape-4112{
	-ibooks-line-hints: textShape-4112 p url(../hints/content22-paginated.plist) 341 1;
}
#textShape-4771{
	-ibooks-line-hints: textShape-4771 p url(../hints/content22-paginated.plist) 334 1;
}
#textShape-4096{
	-ibooks-line-hints: textShape-4096 p url(../hints/content22-paginated.plist) 304 1;
}
#textShape-4759{
	-ibooks-line-hints: textShape-4759 p url(../hints/content22-paginated.plist) 327 1;
}
#textShape-200{
	-ibooks-line-hints: textShape-200 p url(../hints/content22-paginated.plist) 338 1;
}
#textShape-4707{
	-ibooks-line-hints: textShape-4707 p url(../hints/content22-paginated.plist) 295 1;
}
#textShape-2432{
	-ibooks-line-hints: textShape-2432 p url(../hints/content22-paginated.plist) 340 1;
}
@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1402)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 210.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-4697)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-4697 p url(../hints/content22-paginated.plist) 0 20;
		height: 696.000pt;
		left: 60.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 249.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-4698)
	{
		height: 54.000pt;
		left: 60.000pt;
		top: 153.000pt;
		width: 648.000pt;
		z-index: 3;
	}
	::slot(textShape-4699)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-4700)
	{
		height: 33.000pt;
		left: 60.000pt;
		top: 129.000pt;
		width: 560.000pt;
		z-index: 5;
	}
	::slot(image-628)
	{
		height: 25.000pt;
		left: 25.000pt;
		top: 254.000pt;
		width: 25.000pt;
		z-index: 6;
	}
	-ibooks-positioned-slots: textShape-1402, textShape-4698, textShape-4699, textShape-4700, image-628, body(textShape-4697);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-764)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-4701)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-4701 p url(../hints/content22-paginated.plist) 20 9;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 657.000pt;
		z-index: 2;
	}
	::slot(textShape-4702)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-4703)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-4704)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-4092)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	::slot(frame-45)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 464.000pt;
		left: 40.000pt;
		top: 284.000pt;
		width: 678.000pt;
		z-index: 7;
	}
	::slot(textShape-2118)
	{
		height: 0.000pt;
		left: 188.667pt;
		top: 487.000pt;
		width: 47.335pt;
		z-index: 8;
	}
	::slot(textShape-2119)
	{
		height: 203.000pt;
		left: 235.667pt;
		top: 398.000pt;
		width: 286.000pt;
		z-index: 9;
	}
	::slot(image-660)
	{
		height: 34.167pt;
		left: 166.000pt;
		top: 470.000pt;
		width: 32.500pt;
		z-index: 10;
	}
	::slot(image-1077)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 683.000pt;
		width: 32.000pt;
		z-index: 11;
	}
	::slot(viewport-popup-52)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 361.000pt;
		left: 134.000pt;
		top: 113.000pt;
		width: 497.000pt;
		z-index: 12;
	}
	-ibooks-positioned-slots: image-764, textShape-4702, textShape-4703, textShape-4704, textShape-4092, frame-45, textShape-2118, textShape-2119, image-660, image-1077, viewport-popup-52, body(textShape-4701);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-765)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-4705)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-4705 p url(../hints/content22-paginated.plist) 29 2;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-4706)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-4707)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-4708)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-4093)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	-ibooks-positioned-slots: image-765, textShape-4706, textShape-4707, textShape-4708, textShape-4093, body(textShape-4705);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-766)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-4709)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-4709 p url(../hints/content22-paginated.plist) 31 3;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-4710)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-4711)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-4712)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-4094)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	::slot(frame-46)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 449.000pt;
		left: 40.000pt;
		top: 126.000pt;
		width: 677.000pt;
		z-index: 7;
	}
	::slot(textShape-2123)
	{
		height: 0.000pt;
		left: 228.667pt;
		top: 380.000pt;
		width: 47.335pt;
		z-index: 8;
	}
	::slot(textShape-2124)
	{
		height: 240.000pt;
		left: 275.667pt;
		top: 232.000pt;
		width: 126.000pt;
		z-index: 9;
	}
	::slot(image-662)
	{
		height: 34.167pt;
		left: 206.000pt;
		top: 363.000pt;
		width: 32.500pt;
		z-index: 10;
	}
	::slot(image-1078)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 529.000pt;
		width: 32.000pt;
		z-index: 11;
	}
	::slot(viewport-popup-53)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 578.000pt;
		left: 499.500pt;
		top: 110.083pt;
		width: 327.000pt;
		z-index: 12;
	}
	-ibooks-positioned-slots: image-766, textShape-4710, textShape-4711, textShape-4712, textShape-4094, frame-46, textShape-2123, textShape-2124, image-662, image-1078, viewport-popup-53, body(textShape-4709);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-767)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-4713)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-4713 p url(../hints/content22-paginated.plist) 34 8;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-4714)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-4715)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-4716)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-4095)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	::slot(frame-48)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 431.000pt;
		left: 40.000pt;
		top: 150.000pt;
		width: 677.000pt;
		z-index: 7;
	}
	::slot(textShape-2127)
	{
		height: 0.000pt;
		left: 220.667pt;
		top: 351.000pt;
		width: 47.335pt;
		z-index: 8;
	}
	::slot(textShape-2128)
	{
		height: 268.000pt;
		left: 267.667pt;
		top: 230.000pt;
		width: 393.000pt;
		z-index: 9;
	}
	::slot(image-664)
	{
		height: 34.167pt;
		left: 198.000pt;
		top: 334.000pt;
		width: 32.500pt;
		z-index: 10;
	}
	::slot(image-1091)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 550.000pt;
		width: 32.000pt;
		z-index: 11;
	}
	::slot(viewport-popup-54)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 527.000pt;
		left: 222.000pt;
		top: 415.167pt;
		width: 733.000pt;
		z-index: 12;
	}
	-ibooks-positioned-slots: image-767, textShape-4714, textShape-4715, textShape-4716, textShape-4095, frame-48, textShape-2127, textShape-2128, image-664, image-1091, viewport-popup-54, body(textShape-4713);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-768)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-4717)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-4717 p url(../hints/content22-paginated.plist) 42 6;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-4718)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-4719)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-4720)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-4096)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	-ibooks-positioned-slots: image-768, textShape-4718, textShape-4719, textShape-4720, textShape-4096, body(textShape-4717);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-769)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-4721)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-4721 p url(../hints/content22-paginated.plist) 48 15;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-4722)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-4723)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-4724)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-4097)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	::slot(image-285)
	{
		height: 29.000pt;
		left: 344.000pt;
		top: 1066.000pt;
		width: 29.000pt;
		z-index: 7;
	}
	-ibooks-positioned-slots: image-769, textShape-4722, textShape-4723, textShape-4724, textShape-4097, image-285, body(textShape-4721);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-770)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-4725)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-4725 p url(../hints/content22-paginated.plist) 63 7;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 670.000pt;
		z-index: 2;
	}
	::slot(textShape-4726)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-4727)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-4728)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-4098)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	::slot(frame-123)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 431.000pt;
		left: 40.000pt;
		top: 122.000pt;
		width: 678.000pt;
		z-index: 7;
	}
	::slot(textShape-2130)
	{
		height: 27.256pt;
		left: 209.667pt;
		top: 457.000pt;
		width: 0.000pt;
		z-index: 8;
	}
	::slot(textShape-2131)
	{
		height: 57.000pt;
		left: 155.667pt;
		top: 485.000pt;
		width: 338.000pt;
		z-index: 9;
	}
	::slot(image-672)
	{
		height: 34.167pt;
		left: 193.000pt;
		top: 435.000pt;
		width: 32.500pt;
		z-index: 10;
	}
	::slot(image-1092)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 527.000pt;
		width: 32.000pt;
		z-index: 11;
	}
	::slot(viewport-popup-55)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 121.000pt;
		left: 141.000pt;
		top: 500.167pt;
		width: 602.000pt;
		z-index: 12;
	}
	-ibooks-positioned-slots: image-770, textShape-4726, textShape-4727, textShape-4728, textShape-4098, frame-123, textShape-2130, textShape-2131, image-672, image-1092, viewport-popup-55, body(textShape-4725);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-771)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-4729)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-4729 p url(../hints/content22-paginated.plist) 70 9;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-4730)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-4731)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-4732)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-4099)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	::slot(frame-124)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 501.000pt;
		left: 40.000pt;
		top: 247.000pt;
		width: 682.000pt;
		z-index: 7;
	}
	::slot(textShape-2135)
	{
		height: 27.256pt;
		left: 334.667pt;
		top: 303.000pt;
		width: 0.000pt;
		z-index: 8;
	}
	::slot(textShape-2136)
	{
		height: 287.000pt;
		left: 280.667pt;
		top: 331.000pt;
		width: 308.000pt;
		z-index: 9;
	}
	::slot(image-678)
	{
		height: 34.167pt;
		left: 317.667pt;
		top: 281.000pt;
		width: 32.500pt;
		z-index: 10;
	}
	::slot(image-1099)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 649.000pt;
		width: 32.000pt;
		z-index: 11;
	}
	::slot(viewport-popup-56)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 469.000pt;
		left: 178.417pt;
		top: 361.167pt;
		width: 501.000pt;
		z-index: 12;
	}
	-ibooks-positioned-slots: image-771, textShape-4730, textShape-4731, textShape-4732, textShape-4099, frame-124, textShape-2135, textShape-2136, image-678, image-1099, viewport-popup-56, body(textShape-4729);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-772)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-4733)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-4733 p url(../hints/content22-paginated.plist) 79 15;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-4734)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-4735)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-4736)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-4100)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	-ibooks-positioned-slots: image-772, textShape-4734, textShape-4735, textShape-4736, textShape-4100, body(textShape-4733);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-773)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-4737)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-4737 p url(../hints/content22-paginated.plist) 94 6;
		height: 895.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 667.000pt;
		z-index: 2;
	}
	::slot(textShape-4738)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-4739)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-4740)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-4101)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	::slot(frame-49)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 507.000pt;
		left: 40.000pt;
		top: 243.000pt;
		width: 684.000pt;
		z-index: 7;
	}
	::slot(textShape-2139)
	{
		height: 27.256pt;
		left: 445.667pt;
		top: 308.000pt;
		width: 0.000pt;
		z-index: 8;
	}
	::slot(textShape-2140)
	{
		height: 172.000pt;
		left: 287.667pt;
		top: 335.000pt;
		width: 302.000pt;
		z-index: 9;
	}
	::slot(image-681)
	{
		height: 34.167pt;
		left: 428.667pt;
		top: 286.000pt;
		width: 32.500pt;
		z-index: 10;
	}
	::slot(image-1100)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 661.000pt;
		width: 32.000pt;
		z-index: 11;
	}
	::slot(viewport-popup-57)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 331.000pt;
		left: 155.417pt;
		top: 351.167pt;
		width: 581.000pt;
		z-index: 12;
	}
	-ibooks-positioned-slots: image-773, textShape-4738, textShape-4739, textShape-4740, textShape-4101, frame-49, textShape-2139, textShape-2140, image-681, image-1100, viewport-popup-57, body(textShape-4737);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-774)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-4741)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-4741 p url(../hints/content22-paginated.plist) 100 10;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-4742)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-4743)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-4744)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-4102)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	-ibooks-positioned-slots: image-774, textShape-4742, textShape-4743, textShape-4744, textShape-4102, body(textShape-4741);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-775)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-4745)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-4745 p url(../hints/content22-paginated.plist) 110 8;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-4746)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-4747)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-4748)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-4103)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	::slot(frame-50)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 477.000pt;
		left: 40.000pt;
		top: 233.000pt;
		width: 682.000pt;
		z-index: 7;
	}
	::slot(textShape-2143)
	{
		height: 27.256pt;
		left: 452.000pt;
		top: 280.000pt;
		width: 0.000pt;
		z-index: 8;
	}
	::slot(textShape-2144)
	{
		height: 218.000pt;
		left: 290.000pt;
		top: 307.000pt;
		width: 297.000pt;
		z-index: 9;
	}
	::slot(image-683)
	{
		height: 34.167pt;
		left: 436.000pt;
		top: 251.000pt;
		width: 32.500pt;
		z-index: 10;
	}
	::slot(image-1101)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 651.000pt;
		width: 32.000pt;
		z-index: 11;
	}
	::slot(viewport-popup-58)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 371.000pt;
		left: 362.250pt;
		top: 356.167pt;
		width: 508.000pt;
		z-index: 12;
	}
	-ibooks-positioned-slots: image-775, textShape-4746, textShape-4747, textShape-4748, textShape-4103, frame-50, textShape-2143, textShape-2144, image-683, image-1101, viewport-popup-58, body(textShape-4745);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-776)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-4749)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-4749 p url(../hints/content22-paginated.plist) 118 26;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 671.000pt;
		z-index: 2;
	}
	::slot(textShape-4750)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-4751)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-4752)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-4104)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	::slot(image-88)
	{
		height: 29.000pt;
		left: 427.000pt;
		top: 1047.000pt;
		width: 29.000pt;
		z-index: 7;
	}
	-ibooks-positioned-slots: image-776, textShape-4750, textShape-4751, textShape-4752, textShape-4104, image-88, body(textShape-4749);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-777)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-4753)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-4753 p url(../hints/content22-paginated.plist) 144 25;
		height: 901.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-4754)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-4755)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-4756)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-4105)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	-ibooks-positioned-slots: image-777, textShape-4754, textShape-4755, textShape-4756, textShape-4105, body(textShape-4753);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-778)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-4757)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-4757 p url(../hints/content22-paginated.plist) 169 10;
		height: 950.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-4758)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-4759)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-4760)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-4106)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	-ibooks-positioned-slots: image-778, textShape-4758, textShape-4759, textShape-4760, textShape-4106, body(textShape-4757);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-779)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-4761)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-4761 p url(../hints/content22-paginated.plist) 179 10;
		height: 905.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 669.000pt;
		z-index: 2;
	}
	::slot(textShape-4762)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-4763)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-4764)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-4107)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	::slot(frame-51)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 431.000pt;
		left: 40.000pt;
		top: 121.000pt;
		width: 677.000pt;
		z-index: 7;
	}
	::slot(textShape-2149)
	{
		height: 0.000pt;
		left: 229.000pt;
		top: 333.000pt;
		width: 26.583pt;
		z-index: 8;
	}
	::slot(textShape-2150)
	{
		height: 288.000pt;
		left: 257.000pt;
		top: 199.000pt;
		width: 158.000pt;
		z-index: 9;
	}
	::slot(image-690)
	{
		height: 34.167pt;
		left: 200.000pt;
		top: 316.000pt;
		width: 32.500pt;
		z-index: 10;
	}
	::slot(image-1102)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 524.000pt;
		width: 32.000pt;
		z-index: 11;
	}
	::slot(viewport-popup-59)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 655.000pt;
		left: 343.500pt;
		top: 16.000pt;
		width: 350.000pt;
		z-index: 12;
	}
	-ibooks-positioned-slots: image-779, textShape-4762, textShape-4763, textShape-4764, textShape-4107, frame-51, textShape-2149, textShape-2150, image-690, image-1102, viewport-popup-59, body(textShape-4761);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-780)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-4765)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-4765 p url(../hints/content22-paginated.plist) 189 16;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 641.000pt;
		z-index: 2;
	}
	::slot(textShape-4766)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-4767)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-4768)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-4108)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	-ibooks-positioned-slots: image-780, textShape-4766, textShape-4767, textShape-4768, textShape-4108, body(textShape-4765);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-781)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-4769)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-4769 p url(../hints/content22-paginated.plist) 205 20;
		height: 889.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-4770)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-4771)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-4772)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-4109)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	-ibooks-positioned-slots: image-781, textShape-4770, textShape-4771, textShape-4772, textShape-4109, body(textShape-4769);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-67)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-187)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-187 p url(../hints/content22-paginated.plist) 225 15;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-192)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-193)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-197)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-4110)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	-ibooks-positioned-slots: image-67, textShape-192, textShape-193, textShape-197, textShape-4110, body(textShape-187);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-68)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-198)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-198 p url(../hints/content22-paginated.plist) 240 5;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-199)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-200)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-201)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-4111)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	-ibooks-positioned-slots: image-68, textShape-199, textShape-200, textShape-201, textShape-4111, body(textShape-198);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-570)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-2430)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-2430 p url(../hints/content22-paginated.plist) 245 26;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 663.000pt;
		z-index: 2;
	}
	::slot(textShape-2431)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-2432)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-2433)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-4112)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	-ibooks-positioned-slots: image-570, textShape-2431, textShape-2432, textShape-2433, textShape-4112, body(textShape-2430);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-305)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-1730)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1730 p url(../hints/content22-paginated.plist) 271 17;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 668.000pt;
		z-index: 2;
	}
	::slot(textShape-1731)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-1732)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-1733)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-4113)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	-ibooks-positioned-slots: image-305, textShape-1731, textShape-1732, textShape-1733, textShape-4113, body(textShape-1730);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-306)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-1734)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1734 p url(../hints/content22-paginated.plist) 288 1;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-1736)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-1737)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-1738)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-4114)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	::slot(review-25)
	{
		height: 455.000pt;
		left: 50.000pt;
		top: 107.000pt;
		width: 658.000pt;
		z-index: 7;
	}
	-ibooks-positioned-slots: image-306, textShape-1736, textShape-1737, textShape-1738, textShape-4114, review-25, body(textShape-1734);
}

