@namespace ibooks "http://www.apple.com/2011/iBooks";
@font-face{
  font-family: "SFHello-Semibold";
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/SF-Hello-Semibold.otf");
}
@font-face{
  font-family: "HanHeiSC-Text";
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/HanHeiSC-Text.otf");
}
@font-face{
  font-family: "SFProDisplay-RegularItalic";
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  src: url("../fonts/SF-Pro-Display-RegularItalic.otf");
}
@font-face{
  font-family: "SFProText-Regular";
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/SF-Pro-Text-Regular.otf");
}
@font-face{
  font-family: "SFMono-Regular";
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/SF-Mono-Regular.otf");
}
@font-face{
  font-family: "HanHeiSC-SemiBold";
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/HanHeiSC-SemiBold.otf");
}
@font-face{
  font-family: "SFProDisplay-Regular";
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/SF-Pro-Display-Regular.otf");
}
@font-face{
  font-family: "SFProDisplay-Bold";
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/SF-Pro-Display-Bold.otf");
}
@font-face{
  font-family: "HanHeiSC-Bold";
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/HanHeiSC-Bold.otf");
}
@font-face{
  font-family: "SFProDisplay-Semibold";
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/SF-Pro-Display-Semibold.otf");
}
body{
	white-space: pre-wrap;
}
.columnbreak{
	break-after: column;
}
a.page{
	-ibooks-layout-hint: anchor page;
	display: none;
}
a.pageShape{
	-ibooks-layout-hint: anchor page shape;
	display: none;
}
sup{
	font-size: 67%;
	vertical-align: 33%;
}
a.shape{
	-ibooks-layout-hint: shape;
	display: none;
}
div.multichoice{
	list-style-type: upper-alpha;
}
a.anchor{
	-ibooks-layout-hint: anchor;
	display: none;
}
.hide{
	display: none;
}
a.attachment{
	-ibooks-layout-hint: inline;
	display: none;
}
sub{
	font-size: 67%;
	vertical-align: -10%;
}
table{
	border-collapse: collapse;
	white-space: pre-wrap;
}
.pagebreak{
	break-after: page;
}
.inlineblock{
	display: inline;
}
p, ul, ol{
	margin: 0px;
}
.s1{
	-ibooks-line-spacing-mode: exact;
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #000000;
	font-family: "SFProDisplay-Regular";
	font-size: 150.00%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0;
	line-height: 23.00pt;
	margin-bottom: 15.00pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
.s2{
	-ibooks-list-text-indent: 0.00pt;
	font-family: "HanHeiSC-Text";
}
.s3{
	-ibooks-list-text-indent: 0.00pt;
	font-family: "HanHeiSC-Text";
	hyphens: auto;
}
.s4{
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.00px;
	border-top-color: rgba(102,102,102,0.250000);
	border-top-style: solid;
	border-top-width: 3.00px;
	color: #424242;
	font-family: "SFProDisplay-Bold";
	font-size: 150.00%;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	hyphens: auto;
	letter-spacing: 0;
	line-height: 1.20em;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 12.00pt;
	padding-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
.s5{
	-ibooks-list-text-indent: 0.00pt;
	font-family: "HanHeiSC-Bold";
}
.s6{
	padding-left: 11.00pt;
}
.s7{
	-ibooks-bullet-baseline: 0.00pt;
	-ibooks-custom-bullet: "•";
	-ibooks-line-spacing-mode: exact;
	-ibooks-list-text-indent: 15.00pt;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #000000;
	font-family: "SFProDisplay-Regular";
	font-size: 150.00%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0;
	line-height: 23.00pt;
	list-style-position: -ibooks-inside-align-to-text;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: '' left 11.0pt '' left 36.0pt;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
}
.s8{
	-ibooks-line-spacing-mode: exact;
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #424242;
	font-family: "SFProDisplay-Regular";
	font-size: 150.00%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0;
	line-height: 23.00pt;
	margin-bottom: 12.00pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
.s9{
	-ibooks-list-text-indent: 0.00pt;
	letter-spacing: 0.02em;
}
.s10{
	-ibooks-list-text-indent: 0.00pt;
	letter-spacing: 0.03em;
}
.s11{
	-ibooks-line-spacing-mode: exact;
	-ibooks-list-text-indent: 0.00pt;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #424242;
	font-family: "SFProDisplay-Regular";
	font-size: 150.00%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0;
	line-height: 23.00pt;
	margin-bottom: 12.00pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
}
.s12{
	-ibooks-line-spacing-mode: exact;
	-ibooks-list-text-indent: 0.00pt;
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #424242;
	font-family: "HanHeiSC-Text";
	font-size: 150.00%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0;
	line-height: 23.00pt;
	margin-bottom: 12.00pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
.s13{
	-ibooks-line-spacing-mode: exact;
	-ibooks-list-text-indent: 0.00pt;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #424242;
	font-family: "SFProDisplay-Regular";
	font-size: 150.00%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0;
	line-height: 15.00pt;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
}
.s14{
	-ibooks-line-spacing-mode: exact;
	-ibooks-list-text-indent: 0.00pt;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #989FA2;
	font-family: "SFMono-Regular";
	font-size: 133.33%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0;
	line-height: 20.00pt;
	margin-bottom: 6.00pt;
	margin-left: 7.00pt;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
}
.s15{
	-ibooks-line-spacing-mode: exact;
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.00px;
	border-top-color: #989FA2;
	border-top-style: solid;
	border-top-width: 0.50px;
	color: #000000;
	font-family: "SFProDisplay-Semibold";
	font-size: 125.00%;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	hyphens: none;
	letter-spacing: 0;
	line-height: 23.00pt;
	margin-bottom: 6.00pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 6.00pt;
	padding-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
.s16{
	-ibooks-list-text-indent: 6.00pt;
	font-family: "HanHeiSC-SemiBold";
}
.s17{
	-ibooks-list-text-indent: 0.00pt;
}
.s18{
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #153969;
	font-family: "SFProDisplay-Bold";
	font-size: 183.33%;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	hyphens: auto;
	letter-spacing: 0;
	line-height: 1.10em;
	margin-bottom: 10.00pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: capitalize;
	vertical-align: 0;
	text-decoration: none;
}
.s19{
	-ibooks-list-text-indent: 0.00pt;
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #153969;
	font-family: "HanHeiSC-Bold";
	font-size: 183.33%;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	hyphens: auto;
	letter-spacing: 0;
	line-height: 1.10em;
	margin-bottom: 10.00pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: capitalize;
	vertical-align: 0;
	text-decoration: none;
}
.s20{
	-ibooks-line-spacing-mode: exact;
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #989FA2;
	font-family: "SFMono-Regular";
	font-size: 133.33%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0;
	line-height: 20.00pt;
	margin-bottom: 6.00pt;
	margin-left: 7.00pt;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
.s21{
	-ibooks-line-spacing-mode: exact;
	-ibooks-list-text-indent: 0.00pt;
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #989FA2;
	font-family: "SFMono-Regular";
	font-size: 133.33%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0;
	line-height: 20.00pt;
	margin-bottom: 6.00pt;
	margin-left: 7.00pt;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
.s22{
	-ibooks-list-text-indent: 0.00pt;
	letter-spacing: -0.02em;
}
.s23{
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #666666;
	font-family: "SFProDisplay-Bold";
	font-size: 183.33%;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	hyphens: auto;
	letter-spacing: 0;
	line-height: 1.00em;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: capitalize;
	vertical-align: 0;
	text-decoration: none;
}
.s24{
	-ibooks-list-text-indent: 0.00pt;
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #666666;
	font-family: "HanHeiSC-Bold";
	font-size: 183.33%;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	hyphens: auto;
	letter-spacing: 0;
	line-height: 1.00em;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: capitalize;
	vertical-align: 0;
	text-decoration: none;
}
.s25{
	-ibooks-stroke: none;
	box-shadow: none;
	fill: #153969;
	opacity: 1.000;
	stroke: none;
}
.s26{
	-ibooks-stroke: none;
	box-shadow: none;
	fill: none;
	opacity: 1.000;
	stroke: none;
}
.s27{
	-ibooks-column-count: 1;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	vertical-align: top;
}
.s28{
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #FFFFFF;
	font-family: "SFProDisplay-Bold";
	font-size: 291.67%;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	hyphens: auto;
	letter-spacing: 0;
	line-height: 1.10em;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
.s29{
	-ibooks-list-text-indent: 0.00pt;
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #FFFFFF;
	font-family: "HanHeiSC-Bold";
	font-size: 291.67%;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	hyphens: auto;
	letter-spacing: 0;
	line-height: 1.10em;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
.s30{
	-ibooks-list-text-indent: 0.00pt;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #646464;
	font-family: "HanHeiSC-Text";
	font-size: 100.00%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0;
	line-height: 1.00em;
	margin-bottom: 10.00pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: right;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
}
.s31{
	-ibooks-list-text-indent: 0.00pt;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #FFFFFF;
	font-family: "SFProDisplay-Regular";
	font-size: 166.67%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: auto;
	letter-spacing: 0;
	line-height: 1.20em;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
}
.s32{
	-ibooks-list-text-indent: 0.00pt;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #FFFFFF;
	font-family: "SFProText-Regular";
	font-size: 100.00%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0;
	line-height: 1.00em;
	margin-bottom: 10.00pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: right;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
}
.s33{
	-ibooks-stroke: none;
	box-shadow: none;
	fill: #FFFFFF;
	opacity: 1.000;
	stroke: #818181;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4.0;
	stroke-width: 1.0pt;
}
.s34{
	fill: #153969;
	stroke: none;
}
.s35{
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #000000;
	font-family: "SFProDisplay-Semibold";
	font-size: 150.00%;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	hyphens: auto;
	letter-spacing: 0;
	line-height: 1.00em;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
.s36{
	-ibooks-line-spacing-mode: exact;
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #424242;
	font-family: "SFProDisplay-Bold";
	font-size: 150.00%;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	hyphens: none;
	letter-spacing: 0;
	line-height: 23.00pt;
	margin-bottom: 12.00pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
.s37{
	-ibooks-line-spacing-mode: exact;
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #000000;
	font-family: "SFProDisplay-Regular";
	font-size: 141.67%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0;
	line-height: 23.00pt;
	margin-bottom: 12.00pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
.s38{
	-ibooks-line-spacing-mode: exact;
	-ibooks-list-text-indent: 0.00pt;
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #000000;
	font-family: "HanHeiSC-Text";
	font-size: 141.67%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0;
	line-height: 23.00pt;
	margin-bottom: 12.00pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
.s39{
	-ibooks-line-spacing-mode: exact;
	-ibooks-list-text-indent: 0.00pt;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #000000;
	font-family: "SFProDisplay-Regular";
	font-size: 141.67%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0;
	line-height: 23.00pt;
	margin-bottom: 12.00pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
}
.s40{
	-ibooks-line-spacing-mode: exact;
	-ibooks-list-text-indent: 0.00pt;
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #000000;
	font-family: "SFProDisplay-Regular";
	font-size: 141.67%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0;
	line-height: 23.00pt;
	margin-bottom: 12.00pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
.s41{
	-ibooks-stroke: none;
	border-radius: 3.000;
	box-shadow: none;
	fill: #E2E9EC;
	opacity: 1.000;
	padding: 6.000;
	stroke: #A8B5BA;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4.0;
	stroke-width: 1.0pt;
}
.s42{
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #000000;
	font-family: "Helvetica Neue";
	font-size: 133.33%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: auto;
	letter-spacing: 0;
	line-height: 1.20em;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
.c1{
	letter-spacing: 0;
}
.c2{
	background: transparent;
	font-family: "HanHeiSC-Text";
}
.c3{
	background: transparent;
}
.c4{
	-ibooks-strikethru-type: none;
	-ibooks-underline-type: none;
	background: transparent;
	color: #0E74C1;
	font-family: "SFProDisplay-Semibold";
	font-size: 100.00%;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	letter-spacing: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
.c5{
	font-family: "HanHeiSC-SemiBold";
}
.c6{
	font-family: "HanHeiSC-Text";
	letter-spacing: 0;
}
.c7{
	font-family: "HanHeiSC-Text";
	letter-spacing: -0.02em;
}
.c8{
	background: transparent;
	font-family: "HanHeiSC-Text";
	letter-spacing: -0.02em;
}
.c9{
	background: transparent;
	letter-spacing: -0.02em;
}
.c10{
	-ibooks-strikethru-type: none;
	-ibooks-underline-type: none;
	background: transparent;
	color: #989FA2;
	font-family: "SFMono-Regular";
	font-size: 94.44%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: -0.03em;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
.c11{
	letter-spacing: -0.02em;
}
.c12{
	background: transparent;
	font-family: "HanHeiSC-Text";
	letter-spacing: 0;
}
.c13{
	-ibooks-strikethru-type: none;
	-ibooks-underline-type: none;
	background: transparent;
	color: #AF077F;
	font-family: "SFMono-Regular";
	font-size: 100.00%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
.c14{
	-ibooks-strikethru-type: none;
	-ibooks-underline-type: none;
	background: transparent;
	color: #153969;
	font-family: "SFMono-Regular";
	font-size: 100.00%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
.c15{
	-ibooks-strikethru-type: none;
	-ibooks-underline-type: none;
	background: transparent;
	color: #6700CD;
	font-family: "SFMono-Regular";
	font-size: 100.00%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
.c16{
	-ibooks-strikethru-type: none;
	-ibooks-underline-type: none;
	background: transparent;
	color: #1E80F2;
	font-family: "SFMono-Regular";
	font-size: 100.00%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
.c17{
	-ibooks-strikethru-type: none;
	-ibooks-underline-type: none;
	background: transparent;
	color: #DD3D3D;
	font-family: "SFMono-Regular";
	font-size: 100.00%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
.c18{
	background: transparent;
	color: #DD3D3D;
}
.c19{
	-ibooks-strikethru-type: none;
	-ibooks-underline-type: none;
	background: transparent;
	color: #5FC746;
	font-family: "SFMono-Regular";
	font-size: 100.00%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
.c20{
	font-family: "HanHeiSC-Text";
	letter-spacing: 0.02em;
}
.c21{
	letter-spacing: 0.02em;
}
.c22{
	-ibooks-strikethru-type: none;
	-ibooks-underline-type: none;
	background: transparent;
	color: #424242;
	font-family: "SFProDisplay-RegularItalic";
	font-size: 100.00%;
	font-style: italic;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: -0.02em;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
.c23{
	font-family: "HanHeiSC-Text";
	font-style: normal;
}
.c24{
	-ibooks-strikethru-type: none;
	-ibooks-underline-type: none;
	background: transparent;
	color: #989FA2;
	font-family: "SFMono-Regular";
	font-size: 94.44%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
.c25{
	background: transparent;
	font-family: "HanHeiSC-Text";
	letter-spacing: 0.01em;
}
.c26{
	background: transparent;
	letter-spacing: 0.01em;
}
.c27{
	letter-spacing: 0.01em;
}
.c28{
	background: transparent;
	letter-spacing: 0;
}
.c29{
	font-family: "HanHeiSC-Text";
	letter-spacing: 0.01em;
}
.c30{
	background: transparent;
	color: #24292E;
}
.c31{
	background: transparent;
	color: #A71D5D;
}
.c32{
	background: transparent;
	color: #183691;
}
.c33{
	color: #24292E;
}
.c34{
	background: transparent;
	font-family: "HanHeiSC-Text";
	letter-spacing: -0.03em;
}
.c35{
	background: transparent;
	letter-spacing: -0.03em;
}
.c36{
	background: transparent;
	letter-spacing: 0.02em;
}
.c37{
	background: transparent;
	font-family: "HanHeiSC-Text";
	letter-spacing: 0.02em;
}
.c38{
	background: transparent;
	font-family: "HanHeiSC-Text";
	letter-spacing: 0.03em;
}
.c39{
	background: transparent;
	letter-spacing: 0.03em;
}
.c40{
	letter-spacing: 0.03em;
}
.c41{
	background: transparent;
	font-family: "HanHeiSC-Text";
	letter-spacing: -0.01em;
}
.c42{
	background: transparent;
	letter-spacing: -0.01em;
}
.c43{
	letter-spacing: -0.01em;
}
.c44{
	background: transparent;
	color: #5FC746;
	font-family: "HanHeiSC-Text";
}
.c45{
	background: transparent;
	color: #5FC746;
}
.c46{
	font-family: "HanHeiSC-Text";
	letter-spacing: -0.03em;
}
.c47{
	letter-spacing: -0.03em;
}
.c48{
	background: transparent;
	color: #003A6D;
	font-family: "HanHeiSC-Text";
}
.c49{
	background: transparent;
	color: #003A6D;
	font-family: "SFMono-Regular";
}
.c50{
	-ibooks-strikethru-type: none;
	-ibooks-underline-type: none;
	background: transparent;
	color: #003A6D;
	font-family: "SFMono-Regular";
	font-size: 94.44%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
.c51{
	background: transparent;
	font-family: "SFProDisplay-Regular";
}
.c52{
	background: transparent;
	font-family: "SFHello-Semibold";
	font-weight: bold;
}
.c53{
	-ibooks-strikethru-type: none;
	-ibooks-underline-type: none;
	background: transparent;
	color: #989FA2;
	font-family: "SFMono-Regular";
	font-size: 100.00%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: -0.03em;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
#textShape-1108{
	-ibooks-slot: textShape-1108;
	display: block;
}
#textShape-1125{
	-ibooks-slot: textShape-1125;
	display: block;
}
#textShape-3535-svg{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 648.000pt;
}
#textShape-1133{
	-ibooks-slot: textShape-1133;
	display: block;
}
#textShape-3533-div{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 648.000pt;
}
#textShape-1163-div{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 661.000pt;
}
#textShape-1144{
	-ibooks-slot: textShape-1144;
	display: block;
}
#textShape-1145{
	-ibooks-slot: textShape-1145;
	display: block;
}
#textShape-1108-div{
	height: 54.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 648.000pt;
}
#textShape-1139{
	-ibooks-slot: textShape-1139;
	display: block;
}
#textShape-1160{
	-ibooks-slot: textShape-1160;
	display: block;
}
#textShape-1147{
	-ibooks-slot: textShape-1147;
	display: block;
}
#textShape-1144-svg{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 661.000pt;
}
#textShape-1161{
	-ibooks-slot: textShape-1161;
	display: block;
}
#textShape-1148{
	-ibooks-slot: textShape-1148;
	display: block;
}
#textShape-1163{
	-ibooks-slot: textShape-1163;
	display: block;
}
#textShape-3534-svg{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 648.000pt;
}
#textShape-1171{
	-ibooks-slot: textShape-1171;
	display: block;
}
#textShape-1173{
	-ibooks-slot: textShape-1173;
	display: block;
}
#textShape-1174{
	-ibooks-slot: textShape-1174;
	display: block;
}
#textShape-3538-div{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 648.000pt;
}
#review-14-alt{
	display: block;
	height: 766.0pt;
	left: -5.0pt;
	top: -5.0pt;
	visibility: hidden;
	width: 658.0pt;
}
#textShape-3533-svg{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 648.000pt;
}
#textShape-1163-svg{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 661.000pt;
}
#textShape-1147-div{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 661.000pt;
}
#textShape-1108-svg{
	height: 54.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 648.000pt;
}
#textShape-3537-div{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 648.000pt;
}
#textShape-3533{
	-ibooks-slot: textShape-3533;
	display: block;
}
#textShape-3534{
	-ibooks-slot: textShape-3534;
	display: block;
}
#textShape-5022-div{
	height: 33.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 545.000pt;
}
#textShape-3535{
	-ibooks-slot: textShape-3535;
	display: block;
}
#textShape-1133-div{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 661.000pt;
}
#textShape-3536{
	-ibooks-slot: textShape-3536;
	display: block;
}
#textShape-3537{
	-ibooks-slot: textShape-3537;
	display: block;
}
#textShape-3538{
	-ibooks-slot: textShape-3538;
	display: block;
}
#textShape-5022{
	-ibooks-slot: textShape-5022;
	display: block;
}
#textShape-1160-div{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 661.000pt;
}
#textShape-3538-svg{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 648.000pt;
}
#textShape-3536-div{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 648.000pt;
}
#textShape-1173-div{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 661.000pt;
}
#textShape-1125-div{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 661.000pt;
}
#textShape-1147-svg{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 661.000pt;
}
#textShape-3537-svg{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 648.000pt;
}
#review-14-gutter{
	height: 124.7pt;
	left: 0;
	top: 0;
	width: 113.0pt;
}
#textShape-3535-div{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 648.000pt;
}
#image-630{
	-ibooks-slot: image-630;
	display: block;
}
#textShape-5022-svg{
	height: 33.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 545.000pt;
}
#textShape-1133-svg{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 661.000pt;
}
#textShape-310{
	-ibooks-slot: textShape-310;
	display: block;
}
#review-14{
	-ibooks-slot: review-14;
	display: block;
}
#textShape-1160-svg{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 661.000pt;
}
#textShape-1101{
	-ibooks-slot: textShape-1101;
	display: block;
}
#textShape-1144-div{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 661.000pt;
}
#textShape-3536-svg{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 648.000pt;
}
#textShape-1173-svg{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 661.000pt;
}
#textShape-3534-div{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 648.000pt;
}
#textShape-1125-svg{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 661.000pt;
}
