@namespace ibooks "http://www.apple.com/2011/iBooks";
#textShape-1822{
	-ibooks-line-hints: textShape-1822 p url(../hints/content37-paginated.plist) 7 1;
}
#textShape-1821{
	-ibooks-line-hints: textShape-1821 p url(../hints/content37-paginated.plist) 6 1;
}
@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1819)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 210.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-1820)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1820 p url(../hints/content37-paginated.plist) 0 6;
		height: 696.000pt;
		left: 60.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 249.000pt;
		width: 648.000pt;
		z-index: 2;
	}
	::slot(textShape-1821)
	{
		height: 54.000pt;
		left: 60.000pt;
		top: 153.000pt;
		width: 648.000pt;
		z-index: 3;
	}
	::slot(textShape-1822)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-1823)
	{
		height: 33.000pt;
		left: 60.000pt;
		top: 129.000pt;
		width: 648.000pt;
		z-index: 5;
	}
	-ibooks-positioned-slots: textShape-1819, textShape-1821, textShape-1822, textShape-1823, body(textShape-1820);
}

