@namespace ibooks "http://www.apple.com/2011/iBooks";
#textShape-3012{
	-ibooks-line-hints: textShape-3012 p url(../hints/content20-paginated.plist) 257 2;
}
#textShape-4585{
	-ibooks-line-hints: textShape-4585 p url(../hints/content20-paginated.plist) 252 1;
}
#textShape-520{
	-ibooks-line-hints: textShape-520 p url(../hints/content20-paginated.plist) 405 3;
}
#textShape-3042{
	-ibooks-line-hints: textShape-3042 p url(../hints/content20-paginated.plist) 275 1;
}
#textShape-3878{
	-ibooks-line-hints: textShape-3878 p url(../hints/content20-paginated.plist) 319 1;
}
#textShape-3882{
	-ibooks-line-hints: textShape-3882 p url(../hints/content20-paginated.plist) 337 1;
}
#textShape-3108{
	-ibooks-line-hints: textShape-3108 p url(../hints/content20-paginated.plist) 342 1;
}
#textShape-3068{
	-ibooks-line-hints: textShape-3068 p url(../hints/content20-paginated.plist) 300 1;
}
#textShape-3001{
	-ibooks-line-hints: textShape-3001 p url(../hints/content20-paginated.plist) 233 17;
}
#textShape-3112{
	-ibooks-line-hints: textShape-3112 p url(../hints/content20-paginated.plist) 348 1;
}
#textShape-3072{
	-ibooks-line-hints: textShape-3072 p url(../hints/content20-paginated.plist) 306 1;
}
#textShape-3027{
	-ibooks-line-hints: textShape-3027 p url(../hints/content20-paginated.plist) 266 1;
}
#textShape-3031{
	-ibooks-line-hints: textShape-3031 p url(../hints/content20-paginated.plist) 270 1;
}
#textShape-3871{
	-ibooks-line-hints: textShape-3871 p url(../hints/content20-paginated.plist) 262 1;
}
#textShape-3057{
	-ibooks-line-hints: textShape-3057 p url(../hints/content20-paginated.plist) 289 1;
}
#textShape-4589{
	-ibooks-line-hints: textShape-4589 p url(../hints/content20-paginated.plist) 261 1;
}
#textShape-4633{
	-ibooks-line-hints: textShape-4633 p url(../hints/content20-paginated.plist) 336 1;
}
#textShape-4593{
	-ibooks-line-hints: textShape-4593 p url(../hints/content20-paginated.plist) 273 1;
}
#textShape-447{
	-ibooks-line-hints: textShape-447 p url(../hints/content20-paginated.plist) 386 1;
}
#textShape-3127{
	-ibooks-line-hints: textShape-3127 p url(../hints/content20-paginated.plist) 369 1;
}
#textShape-3087{
	-ibooks-line-hints: textShape-3087 p url(../hints/content20-paginated.plist) 325 1;
}
#textShape-3131{
	-ibooks-line-hints: textShape-3131 p url(../hints/content20-paginated.plist) 374 2;
}
#textShape-300{
	-ibooks-line-hints: textShape-300 p url(../hints/content20-paginated.plist) 309 1;
}
#textShape-3046{
	-ibooks-line-hints: textShape-3046 p url(../hints/content20-paginated.plist) 278 1;
}
#textShape-4629{
	-ibooks-line-hints: textShape-4629 p url(../hints/content20-paginated.plist) 334 1;
}
#textShape-488{
	-ibooks-line-hints: textShape-488 p url(../hints/content20-paginated.plist) 392 1;
}
#textShape-3886{
	-ibooks-line-hints: textShape-3886 p url(../hints/content20-paginated.plist) 380 1;
}
#textShape-4578{
	-ibooks-line-hints: textShape-4578 p url(../hints/content20-paginated.plist) 232 1;
}
#textShape-3116{
	-ibooks-line-hints: textShape-3116 p url(../hints/content20-paginated.plist) 354 1;
}
#textShape-3120{
	-ibooks-line-hints: textShape-3120 p url(../hints/content20-paginated.plist) 360 1;
}
#textShape-451{
	-ibooks-line-hints: textShape-451 p url(../hints/content20-paginated.plist) 393 2;
}
#textShape-492{
	-ibooks-line-hints: textShape-492 p url(../hints/content20-paginated.plist) 395 1;
}
#textShape-3875{
	-ibooks-line-hints: textShape-3875 p url(../hints/content20-paginated.plist) 296 1;
}
#textShape-3065{
	-ibooks-line-hints: textShape-3065 p url(../hints/content20-paginated.plist) 298 2;
}
#textShape-4637{
	-ibooks-line-hints: textShape-4637 p url(../hints/content20-paginated.plist) 338 1;
}
#textShape-4597{
	-ibooks-line-hints: textShape-4597 p url(../hints/content20-paginated.plist) 280 1;
}
#textShape-4641{
	-ibooks-line-hints: textShape-4641 p url(../hints/content20-paginated.plist) 340 1;
}
#textShape-3054{
	-ibooks-line-hints: textShape-3054 p url(../hints/content20-paginated.plist) 284 1;
}
#textShape-2428{
	-ibooks-line-hints: textShape-2428 p url(../hints/content20-paginated.plist) 331 1;
}
#textShape-3013{
	-ibooks-line-hints: textShape-3013 p url(../hints/content20-paginated.plist) 256 1;
}
#textShape-3879{
	-ibooks-line-hints: textShape-3879 p url(../hints/content20-paginated.plist) 321 1;
}
#textShape-3883{
	-ibooks-line-hints: textShape-3883 p url(../hints/content20-paginated.plist) 339 1;
}
#textShape-3109{
	-ibooks-line-hints: textShape-3109 p url(../hints/content20-paginated.plist) 347 1;
}
#textShape-3069{
	-ibooks-line-hints: textShape-3069 p url(../hints/content20-paginated.plist) 304 2;
}
#textShape-3113{
	-ibooks-line-hints: textShape-3113 p url(../hints/content20-paginated.plist) 352 2;
}
#textShape-4645{
	-ibooks-line-hints: textShape-4645 p url(../hints/content20-paginated.plist) 363 1;
}
#textShape-3143{
	-ibooks-line-hints: textShape-3143 p url(../hints/content20-paginated.plist) 382 2;
}
#textShape-3028{
	-ibooks-line-hints: textShape-3028 p url(../hints/content20-paginated.plist) 265 1;
}
#textShape-3032{
	-ibooks-line-hints: textShape-3032 p url(../hints/content20-paginated.plist) 269 1;
}
#textShape-3872{
	-ibooks-line-hints: textShape-3872 p url(../hints/content20-paginated.plist) 274 1;
}
#textShape-3058{
	-ibooks-line-hints: textShape-3058 p url(../hints/content20-paginated.plist) 288 1;
}
#textShape-3128{
	-ibooks-line-hints: textShape-3128 p url(../hints/content20-paginated.plist) 368 1;
}
#textShape-3088{
	-ibooks-line-hints: textShape-3088 p url(../hints/content20-paginated.plist) 324 1;
}
#textShape-3132{
	-ibooks-line-hints: textShape-3132 p url(../hints/content20-paginated.plist) 373 1;
}
#textShape-449{
	-ibooks-line-hints: textShape-449 p url(../hints/content20-paginated.plist) 390 2;
}
#textShape-3051{
	-ibooks-line-hints: textShape-3051 p url(../hints/content20-paginated.plist) 283 1;
}
#textShape-3887{
	-ibooks-line-hints: textShape-3887 p url(../hints/content20-paginated.plist) 385 1;
}
#textShape-405{
	-ibooks-line-hints: textShape-405 p url(../hints/content20-paginated.plist) 408 1;
}
#textShape-3117{
	-ibooks-line-hints: textShape-3117 p url(../hints/content20-paginated.plist) 358 2;
}
#textShape-3010{
	-ibooks-line-hints: textShape-3010 p url(../hints/content20-paginated.plist) 255 1;
}
#textShape-468{
	-ibooks-line-hints: textShape-468 p url(../hints/content20-paginated.plist) 411 1;
}
#textShape-4649{
	-ibooks-line-hints: textShape-4649 p url(../hints/content20-paginated.plist) 379 1;
}
#textShape-299{
	-ibooks-line-hints: textShape-299 p url(../hints/content20-paginated.plist) 310 4;
}
#textShape-4653{
	-ibooks-line-hints: textShape-4653 p url(../hints/content20-paginated.plist) 384 1;
}
#textShape-446{
	-ibooks-line-hints: textShape-446 p url(../hints/content20-paginated.plist) 387 2;
}
#textShape-450{
	-ibooks-line-hints: textShape-450 p url(../hints/content20-paginated.plist) 389 1;
}
#textShape-3876{
	-ibooks-line-hints: textShape-3876 p url(../hints/content20-paginated.plist) 315 1;
}
#textShape-3880{
	-ibooks-line-hints: textShape-3880 p url(../hints/content20-paginated.plist) 333 1;
}
#textShape-3066{
	-ibooks-line-hints: textShape-3066 p url(../hints/content20-paginated.plist) 297 1;
}
#textShape-3110{
	-ibooks-line-hints: textShape-3110 p url(../hints/content20-paginated.plist) 346 1;
}
#textShape-3070{
	-ibooks-line-hints: textShape-3070 p url(../hints/content20-paginated.plist) 303 1;
}
#textShape-491{
	-ibooks-line-hints: textShape-491 p url(../hints/content20-paginated.plist) 396 3;
}
#textShape-531{
	-ibooks-line-hints: textShape-531 p url(../hints/content20-paginated.plist) 432 1;
}
#textShape-3025{
	-ibooks-line-hints: textShape-3025 p url(../hints/content20-paginated.plist) 264 1;
}
#textShape-4601{
	-ibooks-line-hints: textShape-4601 p url(../hints/content20-paginated.plist) 293 1;
}
#textShape-3055{
	-ibooks-line-hints: textShape-3055 p url(../hints/content20-paginated.plist) 287 1;
}
#textShape-439{
	-ibooks-line-hints: textShape-439 p url(../hints/content20-paginated.plist) 409 1;
}
#textShape-2429{
	-ibooks-line-hints: textShape-2429 p url(../hints/content20-paginated.plist) 330 1;
}
#textShape-3125{
	-ibooks-line-hints: textShape-3125 p url(../hints/content20-paginated.plist) 366 2;
}
#textShape-3085{
	-ibooks-line-hints: textShape-3085 p url(../hints/content20-paginated.plist) 323 1;
}
#textShape-3014{
	-ibooks-line-hints: textShape-3014 p url(../hints/content20-paginated.plist) 260 1;
}
#textShape-443{
	-ibooks-line-hints: textShape-443 p url(../hints/content20-paginated.plist) 410 1;
}
#textShape-3884{
	-ibooks-line-hints: textShape-3884 p url(../hints/content20-paginated.plist) 341 1;
}
#textShape-4576{
	-ibooks-line-hints: textShape-4576 p url(../hints/content20-paginated.plist) 230 1;
}
#textShape-3114{
	-ibooks-line-hints: textShape-3114 p url(../hints/content20-paginated.plist) 351 1;
}
#textShape-3144{
	-ibooks-line-hints: textShape-3144 p url(../hints/content20-paginated.plist) 381 1;
}
#textShape-3029{
	-ibooks-line-hints: textShape-3029 p url(../hints/content20-paginated.plist) 268 1;
}
#textShape-3033{
	-ibooks-line-hints: textShape-3033 p url(../hints/content20-paginated.plist) 272 1;
}
#textShape-3873{
	-ibooks-line-hints: textShape-3873 p url(../hints/content20-paginated.plist) 281 1;
}
#textShape-4605{
	-ibooks-line-hints: textShape-4605 p url(../hints/content20-paginated.plist) 295 1;
}
#textShape-3059{
	-ibooks-line-hints: textShape-3059 p url(../hints/content20-paginated.plist) 291 2;
}
#textShape-3869{
	-ibooks-line-hints: textShape-3869 p url(../hints/content20-paginated.plist) 251 1;
}
#textShape-521{
	-ibooks-line-hints: textShape-521 p url(../hints/content20-paginated.plist) 404 1;
}
#textShape-3129{
	-ibooks-line-hints: textShape-3129 p url(../hints/content20-paginated.plist) 371 2;
}
#textShape-3089{
	-ibooks-line-hints: textShape-3089 p url(../hints/content20-paginated.plist) 327 1;
}
#textShape-3133{
	-ibooks-line-hints: textShape-3133 p url(../hints/content20-paginated.plist) 377 2;
}
#textShape-3052{
	-ibooks-line-hints: textShape-3052 p url(../hints/content20-paginated.plist) 282 1;
}
#textShape-2426{
	-ibooks-line-hints: textShape-2426 p url(../hints/content20-paginated.plist) 329 1;
}
#textShape-3118{
	-ibooks-line-hints: textShape-3118 p url(../hints/content20-paginated.plist) 357 1;
}
#textShape-3011{
	-ibooks-line-hints: textShape-3011 p url(../hints/content20-paginated.plist) 254 1;
}
#textShape-3041{
	-ibooks-line-hints: textShape-3041 p url(../hints/content20-paginated.plist) 276 2;
}
#textShape-3877{
	-ibooks-line-hints: textShape-3877 p url(../hints/content20-paginated.plist) 317 1;
}
#textShape-4609{
	-ibooks-line-hints: textShape-4609 p url(../hints/content20-paginated.plist) 314 1;
}
#textShape-3881{
	-ibooks-line-hints: textShape-3881 p url(../hints/content20-paginated.plist) 335 1;
}
#textShape-4613{
	-ibooks-line-hints: textShape-4613 p url(../hints/content20-paginated.plist) 316 1;
}
#textShape-3107{
	-ibooks-line-hints: textShape-3107 p url(../hints/content20-paginated.plist) 343 3;
}
#textShape-3067{
	-ibooks-line-hints: textShape-3067 p url(../hints/content20-paginated.plist) 301 2;
}
#textShape-3111{
	-ibooks-line-hints: textShape-3111 p url(../hints/content20-paginated.plist) 349 2;
}
#textShape-3071{
	-ibooks-line-hints: textShape-3071 p url(../hints/content20-paginated.plist) 307 2;
}
#textShape-493{
	-ibooks-line-hints: textShape-493 p url(../hints/content20-paginated.plist) 400 4;
}
#textShape-3026{
	-ibooks-line-hints: textShape-3026 p url(../hints/content20-paginated.plist) 263 1;
}
#textShape-3030{
	-ibooks-line-hints: textShape-3030 p url(../hints/content20-paginated.plist) 267 1;
}
#textShape-3870{
	-ibooks-line-hints: textShape-3870 p url(../hints/content20-paginated.plist) 253 1;
}
#textShape-3056{
	-ibooks-line-hints: textShape-3056 p url(../hints/content20-paginated.plist) 286 1;
}
#textShape-3060{
	-ibooks-line-hints: textShape-3060 p url(../hints/content20-paginated.plist) 290 1;
}
#textShape-3126{
	-ibooks-line-hints: textShape-3126 p url(../hints/content20-paginated.plist) 365 1;
}
#textShape-3086{
	-ibooks-line-hints: textShape-3086 p url(../hints/content20-paginated.plist) 322 1;
}
#textShape-3015{
	-ibooks-line-hints: textShape-3015 p url(../hints/content20-paginated.plist) 259 1;
}
#textShape-3130{
	-ibooks-line-hints: textShape-3130 p url(../hints/content20-paginated.plist) 370 1;
}
#textShape-3090{
	-ibooks-line-hints: textShape-3090 p url(../hints/content20-paginated.plist) 326 1;
}
#textShape-3045{
	-ibooks-line-hints: textShape-3045 p url(../hints/content20-paginated.plist) 279 1;
}
#textShape-3885{
	-ibooks-line-hints: textShape-3885 p url(../hints/content20-paginated.plist) 364 1;
}
#textShape-4617{
	-ibooks-line-hints: textShape-4617 p url(../hints/content20-paginated.plist) 318 1;
}
#textShape-3115{
	-ibooks-line-hints: textShape-3115 p url(../hints/content20-paginated.plist) 355 2;
}
#textShape-4577{
	-ibooks-line-hints: textShape-4577 p url(../hints/content20-paginated.plist) 231 1;
}
#textShape-4621{
	-ibooks-line-hints: textShape-4621 p url(../hints/content20-paginated.plist) 320 1;
}
#textShape-4581{
	-ibooks-line-hints: textShape-4581 p url(../hints/content20-paginated.plist) 250 1;
}
#textShape-3034{
	-ibooks-line-hints: textShape-3034 p url(../hints/content20-paginated.plist) 271 1;
}
#textShape-3874{
	-ibooks-line-hints: textShape-3874 p url(../hints/content20-paginated.plist) 294 1;
}
#textShape-519{
	-ibooks-line-hints: textShape-519 p url(../hints/content20-paginated.plist) 399 1;
}
#textShape-523{
	-ibooks-line-hints: textShape-523 p url(../hints/content20-paginated.plist) 431 1;
}
#textShape-3134{
	-ibooks-line-hints: textShape-3134 p url(../hints/content20-paginated.plist) 376 1;
}
#textShape-3053{
	-ibooks-line-hints: textShape-3053 p url(../hints/content20-paginated.plist) 285 1;
}
#textShape-2427{
	-ibooks-line-hints: textShape-2427 p url(../hints/content20-paginated.plist) 328 1;
}
#textShape-3119{
	-ibooks-line-hints: textShape-3119 p url(../hints/content20-paginated.plist) 361 2;
}
#textShape-4625{
	-ibooks-line-hints: textShape-4625 p url(../hints/content20-paginated.plist) 332 1;
}
@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1392)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 210.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-4575)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-4575 p url(../hints/content20-paginated.plist) 0 17;
		height: 696.000pt;
		left: 60.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 249.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-4576)
	{
		height: 54.000pt;
		left: 60.000pt;
		top: 153.000pt;
		width: 648.000pt;
		z-index: 3;
	}
	::slot(textShape-4577)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-4578)
	{
		height: 33.000pt;
		left: 60.000pt;
		top: 129.000pt;
		width: 560.000pt;
		z-index: 5;
	}
	::slot(textShape-3001)
	{
		height: 149.000pt;
		left: 58.000pt;
		top: 569.000pt;
		width: 682.000pt;
		z-index: 6;
	}
	::slot(image-623)
	{
		height: 25.000pt;
		left: 25.000pt;
		top: 254.000pt;
		width: 25.000pt;
		z-index: 7;
	}
	-ibooks-positioned-slots: textShape-1392, textShape-4576, textShape-4577, textShape-4578, textShape-3001, image-623, body(textShape-4575);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-743)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-4579)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-4579 p url(../hints/content20-paginated.plist) 17 9;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 670.000pt;
		z-index: 2;
	}
	::slot(textShape-4580)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-4581)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-4582)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-3869)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	::slot(frame-25)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 769.000pt;
		left: 145.500pt;
		top: 74.500pt;
		width: 1306.000pt;
		z-index: 7;
	}
	::slot(image-515)
	{
		height: 29.000pt;
		left: 368.000pt;
		top: 786.000pt;
		width: 29.000pt;
		z-index: 8;
	}
	-ibooks-positioned-slots: image-743, textShape-4580, textShape-4581, textShape-4582, textShape-3869, frame-25, image-515, body(textShape-4579);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-744)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-4583)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-4583 p url(../hints/content20-paginated.plist) 26 12;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 664.000pt;
		z-index: 2;
	}
	::slot(textShape-4584)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-4585)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-4586)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-3870)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	::slot(intimage-2)
	{
		-ibooks-box-wrap-exterior-path: neither rectangular both 12.0pt 0.500000 false;
		height: 408.000pt;
		left: 50.000pt;
		top: 295.000pt;
		width: 658.000pt;
		z-index: 7;
	}
	-ibooks-positioned-slots: image-744, textShape-4584, textShape-4585, textShape-4586, textShape-3870, intimage-2, body(textShape-4583);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-745)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-4587)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-4587 p url(../hints/content20-paginated.plist) 38 5;
		height: 894.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-3024)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 69.000pt;
		left: 61.000pt;
		top: 1053.000pt;
		width: 661.000pt;
		z-index: 3;
	}
	::slot(textShape-4588)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 4;
	}
	::slot(textShape-4589)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 5;
	}
	::slot(textShape-4590)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 6;
	}
	::slot(textShape-3871)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 7;
	}
	::slot(image-517)
	{
		-ibooks-box-wrap-exterior-path: neither contour both 12.0pt 0.500000 false;
		height: 40.727pt;
		left: 241.000pt;
		top: 143.000pt;
		width: 320.000pt;
		z-index: 8;
	}
	::slot(intimage-3)
	{
		-ibooks-box-wrap-exterior-path: neither rectangular both 12.0pt 0.500000 false;
		height: 408.000pt;
		left: 44.000pt;
		top: 234.000pt;
		width: 669.000pt;
		z-index: 9;
	}
	-ibooks-positioned-slots: image-745, textShape-3024, textShape-4588, textShape-4589, textShape-4590, textShape-3871, image-517, intimage-3, body(textShape-4587);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-746)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-4591)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-4591 p url(../hints/content20-paginated.plist) 43 8;
		height: 901.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-4592)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-4593)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-4594)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-3872)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	::slot(frame-26)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 816.000pt;
		left: 255.000pt;
		top: 152.000pt;
		width: 257.000pt;
		z-index: 7;
	}
	::slot(image-520)
	{
		height: 29.000pt;
		left: 369.667pt;
		top: 292.000pt;
		width: 29.000pt;
		z-index: 8;
	}
	::slot(intimage-4)
	{
		-ibooks-box-wrap-exterior-path: neither rectangular both 12.0pt 0.500000 false;
		height: 408.000pt;
		left: 79.000pt;
		top: 381.000pt;
		width: 608.000pt;
		z-index: 9;
	}
	-ibooks-positioned-slots: image-746, textShape-4592, textShape-4593, textShape-4594, textShape-3872, frame-26, image-520, intimage-4, body(textShape-4591);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-747)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-4595)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-4595 p url(../hints/content20-paginated.plist) 51 8;
		height: 908.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-4596)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-4597)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-4598)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-3873)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	::slot(intimage-5)
	{
		-ibooks-box-wrap-exterior-path: neither rectangular both 12.0pt 0.500000 false;
		height: 408.000pt;
		left: 80.000pt;
		top: 406.000pt;
		width: 607.000pt;
		z-index: 7;
	}
	-ibooks-positioned-slots: image-747, textShape-4596, textShape-4597, textShape-4598, textShape-3873, intimage-5, body(textShape-4595);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-748)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-4599)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-4599 p url(../hints/content20-paginated.plist) 59 5;
		height: 928.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-4600)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-4601)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-4602)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-3874)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	::slot(frame-7)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 714.000pt;
		left: -462.333pt;
		top: 98.000pt;
		width: 965.000pt;
		z-index: 7;
	}
	::slot(image-223)
	{
		height: 29.000pt;
		left: 381.000pt;
		top: 369.000pt;
		width: 29.000pt;
		z-index: 8;
	}
	-ibooks-positioned-slots: image-748, textShape-4600, textShape-4601, textShape-4602, textShape-3874, frame-7, image-223, body(textShape-4599);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-749)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-4603)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-4603 p url(../hints/content20-paginated.plist) 64 3;
		height: 1000.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-4604)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-4605)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-4606)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-3875)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	::slot(intimage-6)
	{
		-ibooks-box-wrap-exterior-path: neither rectangular both 12.0pt 0.500000 false;
		height: 408.000pt;
		left: 125.000pt;
		top: 123.000pt;
		width: 541.000pt;
		z-index: 7;
	}
	-ibooks-positioned-slots: image-749, textShape-4604, textShape-4605, textShape-4606, textShape-3875, intimage-6, body(textShape-4603);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-750)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-4607)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-4607 p url(../hints/content20-paginated.plist) 67 6;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-4608)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-4609)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-4610)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-3876)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	::slot(frame-28)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 840.500pt;
		left: -454.333pt;
		top: 114.500pt;
		width: 949.000pt;
		z-index: 7;
	}
	::slot(image-528)
	{
		height: 29.000pt;
		left: 363.667pt;
		top: 577.000pt;
		width: 29.000pt;
		z-index: 8;
	}
	-ibooks-positioned-slots: image-750, textShape-4608, textShape-4609, textShape-4610, textShape-3876, frame-28, image-528, body(textShape-4607);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-751)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-4611)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-4611 p url(../hints/content20-paginated.plist) 73 6;
		height: 923.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-4612)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-4613)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-4614)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-3877)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	-ibooks-positioned-slots: image-751, textShape-4612, textShape-4613, textShape-4614, textShape-3877, body(textShape-4611);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-752)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-4615)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-4615 p url(../hints/content20-paginated.plist) 79 11;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-4616)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-4617)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-4618)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-3878)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	-ibooks-positioned-slots: image-752, textShape-4616, textShape-4617, textShape-4618, textShape-3878, body(textShape-4615);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-753)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-4619)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-4619 p url(../hints/content20-paginated.plist) 90 10;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-4620)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-4621)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-4622)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-3879)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	::slot(intimage-7)
	{
		-ibooks-box-wrap-exterior-path: neither rectangular both 12.0pt 0.500000 false;
		height: 408.000pt;
		left: 50.000pt;
		top: 322.000pt;
		width: 648.000pt;
		z-index: 7;
	}
	-ibooks-positioned-slots: image-753, textShape-4620, textShape-4621, textShape-4622, textShape-3879, intimage-7, body(textShape-4619);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-754)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-4623)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-4623 p url(../hints/content20-paginated.plist) 100 15;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-4624)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-4625)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-4626)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-3880)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	-ibooks-positioned-slots: image-754, textShape-4624, textShape-4625, textShape-4626, textShape-3880, body(textShape-4623);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-755)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-4627)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-4627 p url(../hints/content20-paginated.plist) 115 13;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 650.000pt;
		z-index: 2;
	}
	::slot(textShape-4628)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-4629)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-4630)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-3881)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	-ibooks-positioned-slots: image-755, textShape-4628, textShape-4629, textShape-4630, textShape-3881, body(textShape-4627);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-756)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-4631)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-4631 p url(../hints/content20-paginated.plist) 128 11;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-4632)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-4633)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-4634)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-3882)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	-ibooks-positioned-slots: image-756, textShape-4632, textShape-4633, textShape-4634, textShape-3882, body(textShape-4631);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-757)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-4635)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-4635 p url(../hints/content20-paginated.plist) 139 11;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-4636)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-4637)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-4638)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-3883)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	::slot(textShape-3174)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 50.000pt;
		top: 913.000pt;
		width: 658.000pt;
		z-index: 7;
	}
	-ibooks-positioned-slots: image-757, textShape-4636, textShape-4637, textShape-4638, textShape-3883, textShape-3174, body(textShape-4635);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-758)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-4639)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-4639 p url(../hints/content20-paginated.plist) 150 8;
		height: 895.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-4640)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-4641)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-4642)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-3884)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	::slot(intimage-8)
	{
		-ibooks-box-wrap-exterior-path: neither rectangular both 12.0pt 0.500000 false;
		height: 512.000pt;
		left: 55.000pt;
		top: 259.000pt;
		width: 659.000pt;
		z-index: 7;
	}
	-ibooks-positioned-slots: image-758, textShape-4640, textShape-4641, textShape-4642, textShape-3884, intimage-8, body(textShape-4639);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-759)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-4643)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-4643 p url(../hints/content20-paginated.plist) 158 9;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-4644)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-4645)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-4646)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-3885)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	::slot(intimage-9)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 426.000pt;
		left: 50.000pt;
		top: 295.000pt;
		width: 663.000pt;
		z-index: 7;
	}
	-ibooks-positioned-slots: image-759, textShape-4644, textShape-4645, textShape-4646, textShape-3885, intimage-9, body(textShape-4643);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-760)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-4647)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-4647 p url(../hints/content20-paginated.plist) 167 7;
		height: 941.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-4648)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-4649)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-4650)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-3886)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	::slot(intimage-10)
	{
		-ibooks-box-wrap-exterior-path: neither rectangular both 12.0pt 0.500000 false;
		height: 408.000pt;
		left: 130.000pt;
		top: 287.000pt;
		width: 507.000pt;
		z-index: 7;
	}
	-ibooks-positioned-slots: image-760, textShape-4648, textShape-4649, textShape-4650, textShape-3886, intimage-10, body(textShape-4647);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-761)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-4651)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-4651 p url(../hints/content20-paginated.plist) 174 8;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-4652)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-4653)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-4654)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-3887)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	::slot(intimage-0)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 421.000pt;
		left: 56.000pt;
		top: 353.000pt;
		width: 647.000pt;
		z-index: 7;
	}
	-ibooks-positioned-slots: image-761, textShape-4652, textShape-4653, textShape-4654, textShape-3887, intimage-0, body(textShape-4651);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-963)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-403)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-403 p url(../hints/content20-paginated.plist) 182 23;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 668.000pt;
		z-index: 2;
	}
	::slot(textShape-404)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-405)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-407)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-439)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	-ibooks-positioned-slots: image-963, textShape-404, textShape-405, textShape-407, textShape-439, body(textShape-403);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-974)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-440)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-440 p url(../hints/content20-paginated.plist) 205 24;
		height: 928.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-441)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-443)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-467)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-468)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	-ibooks-positioned-slots: image-974, textShape-441, textShape-443, textShape-467, textShape-468, body(textShape-440);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-1223)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-517)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-517 p url(../hints/content20-paginated.plist) 229 1;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(review-27)
	{
		height: 455.000pt;
		left: 50.000pt;
		top: 107.000pt;
		width: 658.000pt;
		z-index: 3;
	}
	::slot(textShape-518)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 4;
	}
	::slot(textShape-523)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 5;
	}
	::slot(textShape-530)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 6;
	}
	::slot(textShape-531)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 7;
	}
	-ibooks-positioned-slots: image-1223, review-27, textShape-518, textShape-523, textShape-530, textShape-531, body(textShape-517);
}

