@namespace ibooks "http://www.apple.com/2011/iBooks";
#textShape-1092{
	-ibooks-line-hints: textShape-1092 p url(../hints/content39-paginated.plist) 347 1;
}
#textShape-3476{
	-ibooks-line-hints: textShape-3476 p url(../hints/content39-paginated.plist) 358 1;
}
#textShape-3461{
	-ibooks-line-hints: textShape-3461 p url(../hints/content39-paginated.plist) 328 1;
}
#textShape-4375{
	-ibooks-line-hints: textShape-4375 p url(../hints/content39-paginated.plist) 329 1;
}
#textShape-3471{
	-ibooks-line-hints: textShape-3471 p url(../hints/content39-paginated.plist) 348 1;
}
#textShape-3465{
	-ibooks-line-hints: textShape-3465 p url(../hints/content39-paginated.plist) 336 1;
}
#textShape-3459{
	-ibooks-line-hints: textShape-3459 p url(../hints/content39-paginated.plist) 324 1;
}
#textShape-4074{
	-ibooks-line-hints: textShape-4074 p url(../hints/content39-paginated.plist) 357 1;
}
#textShape-4535{
	-ibooks-line-hints: textShape-4535 p url(../hints/content39-paginated.plist) 331 1;
}
#textShape-3475{
	-ibooks-line-hints: textShape-3475 p url(../hints/content39-paginated.plist) 356 1;
}
#textShape-4370{
	-ibooks-line-hints: textShape-4370 p url(../hints/content39-paginated.plist) 327 1;
}
#textShape-3469{
	-ibooks-line-hints: textShape-3469 p url(../hints/content39-paginated.plist) 344 1;
}
#textShape-3460{
	-ibooks-line-hints: textShape-3460 p url(../hints/content39-paginated.plist) 326 1;
}
#textShape-5150{
	-ibooks-line-hints: textShape-5150 p url(../hints/content39-paginated.plist) 333 1;
}
#textShape-905{
	-ibooks-line-hints: textShape-905 p url(../hints/content39-paginated.plist) 314 1;
}
#textShape-3470{
	-ibooks-line-hints: textShape-3470 p url(../hints/content39-paginated.plist) 346 1;
}
#textShape-5154{
	-ibooks-line-hints: textShape-5154 p url(../hints/content39-paginated.plist) 335 1;
}
#textShape-3464{
	-ibooks-line-hints: textShape-3464 p url(../hints/content39-paginated.plist) 334 1;
}
#textShape-5158{
	-ibooks-line-hints: textShape-5158 p url(../hints/content39-paginated.plist) 337 1;
}
#textShape-3474{
	-ibooks-line-hints: textShape-3474 p url(../hints/content39-paginated.plist) 354 1;
}
#textShape-3468{
	-ibooks-line-hints: textShape-3468 p url(../hints/content39-paginated.plist) 342 1;
}
#textShape-4357{
	-ibooks-line-hints: textShape-4357 p url(../hints/content39-paginated.plist) 313 1;
}
#textShape-4077{
	-ibooks-line-hints: textShape-4077 p url(../hints/content39-paginated.plist) 359 1;
}
#textShape-4056{
	-ibooks-line-hints: textShape-4056 p url(../hints/content39-paginated.plist) 351 1;
}
#textShape-3463{
	-ibooks-line-hints: textShape-3463 p url(../hints/content39-paginated.plist) 332 1;
}
#textShape-3473{
	-ibooks-line-hints: textShape-3473 p url(../hints/content39-paginated.plist) 352 1;
}
#textShape-3467{
	-ibooks-line-hints: textShape-3467 p url(../hints/content39-paginated.plist) 340 1;
}
#textShape-4362{
	-ibooks-line-hints: textShape-4362 p url(../hints/content39-paginated.plist) 323 1;
}
#textShape-4356{
	-ibooks-line-hints: textShape-4356 p url(../hints/content39-paginated.plist) 312 1;
}
#textShape-3477{
	-ibooks-line-hints: textShape-3477 p url(../hints/content39-paginated.plist) 360 1;
}
#textShape-267{
	-ibooks-line-hints: textShape-267 p url(../hints/content39-paginated.plist) 345 1;
}
#textShape-4366{
	-ibooks-line-hints: textShape-4366 p url(../hints/content39-paginated.plist) 325 1;
}
#textShape-3462{
	-ibooks-line-hints: textShape-3462 p url(../hints/content39-paginated.plist) 330 1;
}
#textShape-1196{
	-ibooks-line-hints: textShape-1196 p url(../hints/content39-paginated.plist) 315 8;
}
#textShape-253{
	-ibooks-line-hints: textShape-253 p url(../hints/content39-paginated.plist) 343 1;
}
#textShape-5162{
	-ibooks-line-hints: textShape-5162 p url(../hints/content39-paginated.plist) 339 1;
}
#textShape-249{
	-ibooks-line-hints: textShape-249 p url(../hints/content39-paginated.plist) 341 1;
}
#textShape-3472{
	-ibooks-line-hints: textShape-3472 p url(../hints/content39-paginated.plist) 350 1;
}
#textShape-3466{
	-ibooks-line-hints: textShape-3466 p url(../hints/content39-paginated.plist) 338 1;
}
#textShape-4059{
	-ibooks-line-hints: textShape-4059 p url(../hints/content39-paginated.plist) 353 1;
}
#textShape-4071{
	-ibooks-line-hints: textShape-4071 p url(../hints/content39-paginated.plist) 355 1;
}
#textShape-1568{
	-ibooks-line-hints: textShape-1568 p url(../hints/content39-paginated.plist) 349 1;
}
@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-6137)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 210.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-4355)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-4355 p url(../hints/content39-paginated.plist) 0 28;
		height: 717.000pt;
		left: 60.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 249.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-4356)
	{
		height: 54.000pt;
		left: 60.000pt;
		top: 153.000pt;
		width: 648.000pt;
		z-index: 3;
	}
	::slot(textShape-4357)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-905)
	{
		height: 33.000pt;
		left: 60.000pt;
		top: 129.000pt;
		width: 648.000pt;
		z-index: 5;
	}
	::slot(image-640)
	{
		height: 25.000pt;
		left: 25.000pt;
		top: 254.000pt;
		width: 25.000pt;
		z-index: 6;
	}
	::slot(textShape-1196)
	{
		height: 111.000pt;
		left: 60.333pt;
		top: 635.000pt;
		width: 658.000pt;
		z-index: 7;
	}
	::slot(image-1461)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 306.421pt;
		left: 7026.000pt;
		top: 388.000pt;
		width: 629.096pt;
		z-index: 8;
	}
	-ibooks-positioned-slots: textShape-6137, textShape-4356, textShape-4357, textShape-905, image-640, textShape-1196, image-1461, body(textShape-4355);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-4361)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-4361 p url(../hints/content39-paginated.plist) 28 16;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 62.000pt;
		width: 658.000pt;
		z-index: 1;
	}
	::slot(textShape-4362)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-4363)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 3;
	}
	::slot(textShape-3459)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	-ibooks-positioned-slots: textShape-4362, textShape-4363, textShape-3459, body(textShape-4361);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-4365)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-4365 p url(../hints/content39-paginated.plist) 44 6;
		height: 905.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 62.000pt;
		width: 661.000pt;
		z-index: 1;
	}
	::slot(textShape-4366)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-4367)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 3;
	}
	::slot(textShape-3460)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(table-6)
	{
		-ibooks-box-wrap-exterior-path: neither rectangular both 9.0pt 0.000000 false;
		height: 556.005pt;
		left: 50.000pt;
		top: 243.000pt;
		width: 657.000pt;
		z-index: 5;
	}
	::slot(image-742)
	{
		height: 75.000pt;
		left: 607.000pt;
		top: 255.000pt;
		width: 75.000pt;
		z-index: 6;
	}
	::slot(image-762)
	{
		height: 75.000pt;
		left: 607.000pt;
		top: 413.000pt;
		width: 75.000pt;
		z-index: 7;
	}
	::slot(image-763)
	{
		height: 75.000pt;
		left: 607.000pt;
		top: 574.000pt;
		width: 75.000pt;
		z-index: 8;
	}
	-ibooks-positioned-slots: textShape-4366, textShape-4367, textShape-3460, table-6, image-742, image-762, image-763, body(textShape-4365);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-4369)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-4369 p url(../hints/content39-paginated.plist) 50 14;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 62.000pt;
		width: 663.000pt;
		z-index: 1;
	}
	::slot(textShape-4372)
	{
		height: 100.000pt;
		left: 284.000pt;
		top: 884.000pt;
		width: 200.000pt;
		z-index: 2;
	}
	::slot(textShape-4370)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 3;
	}
	::slot(textShape-4371)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 4;
	}
	::slot(textShape-3461)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 5;
	}
	::slot(table-15)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 236.000pt;
		left: 62.000pt;
		top: 221.000pt;
		width: 633.293pt;
		z-index: 6;
	}
	-ibooks-positioned-slots: textShape-4372, textShape-4370, textShape-4371, textShape-3461, table-15, body(textShape-4369);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-4374)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-4374 p url(../hints/content39-paginated.plist) 64 15;
		height: 875.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 67.000pt;
		width: 659.000pt;
		z-index: 1;
	}
	::slot(textShape-4375)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-4376)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 3;
	}
	::slot(textShape-3462)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(frame-74)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 743.000pt;
		left: -729.333pt;
		top: 50.000pt;
		width: 1449.000pt;
		z-index: 5;
	}
	::slot(image-862)
	{
		height: 29.000pt;
		left: 363.667pt;
		top: 351.000pt;
		width: 29.000pt;
		z-index: 6;
	}
	-ibooks-positioned-slots: textShape-4375, textShape-4376, textShape-3462, frame-74, image-862, body(textShape-4374);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-4379)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-4379 p url(../hints/content39-paginated.plist) 79 20;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 62.000pt;
		width: 666.000pt;
		z-index: 1;
	}
	::slot(textShape-4535)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-4536)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 3;
	}
	::slot(textShape-3463)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	-ibooks-positioned-slots: textShape-4535, textShape-4536, textShape-3463, body(textShape-4379);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-4538)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-4538 p url(../hints/content39-paginated.plist) 99 30;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 62.000pt;
		width: 669.000pt;
		z-index: 1;
	}
	::slot(textShape-5150)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-5151)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 3;
	}
	::slot(textShape-3464)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	-ibooks-positioned-slots: textShape-5150, textShape-5151, textShape-3464, body(textShape-4538);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-5153)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-5153 p url(../hints/content39-paginated.plist) 129 18;
		height: 907.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 62.000pt;
		width: 658.000pt;
		z-index: 1;
	}
	::slot(textShape-5154)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-5155)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 3;
	}
	::slot(textShape-3465)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	-ibooks-positioned-slots: textShape-5154, textShape-5155, textShape-3465, body(textShape-5153);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-5157)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-5157 p url(../hints/content39-paginated.plist) 147 1;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 62.000pt;
		width: 658.000pt;
		z-index: 1;
	}
	::slot(textShape-5158)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-5159)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 3;
	}
	::slot(textShape-3466)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(mediawidget-2)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 409.205pt;
		left: 50.000pt;
		top: 60.000pt;
		width: 650.000pt;
		z-index: 5;
	}
	-ibooks-positioned-slots: textShape-5158, textShape-5159, textShape-3466, mediawidget-2, body(textShape-5157);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-5161)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-5161 p url(../hints/content39-paginated.plist) 148 11;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 62.000pt;
		width: 658.000pt;
		z-index: 1;
	}
	::slot(textShape-5162)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-5163)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 3;
	}
	::slot(textShape-3467)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	-ibooks-positioned-slots: textShape-5162, textShape-5163, textShape-3467, body(textShape-5161);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-248)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-248 p url(../hints/content39-paginated.plist) 159 15;
		height: 906.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 62.000pt;
		width: 658.000pt;
		z-index: 1;
	}
	::slot(textShape-249)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-250)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 3;
	}
	::slot(textShape-3468)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	-ibooks-positioned-slots: textShape-249, textShape-250, textShape-3468, body(textShape-248);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-252)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-252 p url(../hints/content39-paginated.plist) 174 24;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 62.000pt;
		width: 664.000pt;
		z-index: 1;
	}
	::slot(textShape-253)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-254)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 3;
	}
	::slot(textShape-3469)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	-ibooks-positioned-slots: textShape-253, textShape-254, textShape-3469, body(textShape-252);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-264)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-264 p url(../hints/content39-paginated.plist) 198 13;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 62.000pt;
		width: 662.000pt;
		z-index: 1;
	}
	::slot(textShape-267)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-302)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 3;
	}
	::slot(textShape-3470)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	-ibooks-positioned-slots: textShape-267, textShape-302, textShape-3470, body(textShape-264);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1091)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1091 p url(../hints/content39-paginated.plist) 211 20;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 62.000pt;
		width: 663.000pt;
		z-index: 1;
	}
	::slot(textShape-1092)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-1093)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 3;
	}
	::slot(textShape-3471)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	-ibooks-positioned-slots: textShape-1092, textShape-1093, textShape-3471, body(textShape-1091);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1564)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1564 p url(../hints/content39-paginated.plist) 231 16;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 62.000pt;
		width: 664.000pt;
		z-index: 1;
	}
	::slot(textShape-1568)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-1572)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 3;
	}
	::slot(textShape-3472)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	-ibooks-positioned-slots: textShape-1568, textShape-1572, textShape-3472, body(textShape-1564);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-4055)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-4055 p url(../hints/content39-paginated.plist) 247 19;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 62.000pt;
		width: 667.000pt;
		z-index: 1;
	}
	::slot(textShape-4056)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-4057)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 3;
	}
	::slot(textShape-3473)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	-ibooks-positioned-slots: textShape-4056, textShape-4057, textShape-3473, body(textShape-4055);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-4058)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-4058 p url(../hints/content39-paginated.plist) 266 7;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 62.000pt;
		width: 658.000pt;
		z-index: 1;
	}
	::slot(textShape-4059)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-4060)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 3;
	}
	::slot(textShape-3474)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	-ibooks-positioned-slots: textShape-4059, textShape-4060, textShape-3474, body(textShape-4058);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-4070)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-4070 p url(../hints/content39-paginated.plist) 273 8;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 62.000pt;
		width: 658.000pt;
		z-index: 1;
	}
	::slot(textShape-4071)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-4072)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 3;
	}
	::slot(textShape-3475)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	-ibooks-positioned-slots: textShape-4071, textShape-4072, textShape-3475, body(textShape-4070);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-4073)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-4073 p url(../hints/content39-paginated.plist) 281 12;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 62.000pt;
		width: 658.000pt;
		z-index: 1;
	}
	::slot(textShape-4074)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-4075)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 3;
	}
	::slot(textShape-3476)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	-ibooks-positioned-slots: textShape-4074, textShape-4075, textShape-3476, body(textShape-4073);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-4076)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-4076 p url(../hints/content39-paginated.plist) 293 19;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 62.000pt;
		width: 658.000pt;
		z-index: 1;
	}
	::slot(textShape-4077)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-4078)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 3;
	}
	::slot(textShape-3477)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	-ibooks-positioned-slots: textShape-4077, textShape-4078, textShape-3477, body(textShape-4076);
}

