@namespace ibooks "http://www.apple.com/2011/iBooks";
#textShape-3916{
	-ibooks-line-hints: textShape-3916 p url(../hints/content32-paginated.plist) 447 1;
}
#textShape-3909{
	-ibooks-line-hints: textShape-3909 p url(../hints/content32-paginated.plist) 422 1;
}
#textShape-3917{
	-ibooks-line-hints: textShape-3917 p url(../hints/content32-paginated.plist) 451 1;
}
#textShape-3920{
	-ibooks-line-hints: textShape-3920 p url(../hints/content32-paginated.plist) 459 1;
}
#textShape-3918{
	-ibooks-line-hints: textShape-3918 p url(../hints/content32-paginated.plist) 453 1;
}
#textShape-3921{
	-ibooks-line-hints: textShape-3921 p url(../hints/content32-paginated.plist) 461 1;
}
#textShape-3919{
	-ibooks-line-hints: textShape-3919 p url(../hints/content32-paginated.plist) 455 1;
}
#textShape-3922{
	-ibooks-line-hints: textShape-3922 p url(../hints/content32-paginated.plist) 463 1;
}
#textShape-3923{
	-ibooks-line-hints: textShape-3923 p url(../hints/content32-paginated.plist) 487 1;
}
#textShape-1150{
	-ibooks-line-hints: textShape-1150 p url(../hints/content32-paginated.plist) 458 1;
}
#textShape-1697{
	-ibooks-line-hints: textShape-1697 p url(../hints/content32-paginated.plist) 460 1;
}
#textShape-3894{
	-ibooks-line-hints: textShape-3894 p url(../hints/content32-paginated.plist) 352 1;
}
#textShape-3895{
	-ibooks-line-hints: textShape-3895 p url(../hints/content32-paginated.plist) 354 1;
}
#textShape-3896{
	-ibooks-line-hints: textShape-3896 p url(../hints/content32-paginated.plist) 382 1;
}
#textShape-2005{
	-ibooks-line-hints: textShape-2005 p url(../hints/content32-paginated.plist) 337 13;
}
#textShape-3897{
	-ibooks-line-hints: textShape-3897 p url(../hints/content32-paginated.plist) 384 1;
}
#textShape-3898{
	-ibooks-line-hints: textShape-3898 p url(../hints/content32-paginated.plist) 392 1;
}
#textShape-1868{
	-ibooks-line-hints: textShape-1868 p url(../hints/content32-paginated.plist) 486 1;
}
#textShape-3899{
	-ibooks-line-hints: textShape-3899 p url(../hints/content32-paginated.plist) 394 1;
}
#textShape-1410{
	-ibooks-line-hints: textShape-1410 p url(../hints/content32-paginated.plist) 353 1;
}
#textShape-1351{
	-ibooks-line-hints: textShape-1351 p url(../hints/content32-paginated.plist) 335 1;
}
#textShape-1500{
	-ibooks-line-hints: textShape-1500 p url(../hints/content32-paginated.plist) 429 1;
}
#textShape-1347{
	-ibooks-line-hints: textShape-1347 p url(../hints/content32-paginated.plist) 334 1;
}
#textShape-1426{
	-ibooks-line-hints: textShape-1426 p url(../hints/content32-paginated.plist) 381 1;
}
#textShape-1503{
	-ibooks-line-hints: textShape-1503 p url(../hints/content32-paginated.plist) 432 1;
}
#textShape-1511{
	-ibooks-line-hints: textShape-1511 p url(../hints/content32-paginated.plist) 434 1;
}
#textShape-1359{
	-ibooks-line-hints: textShape-1359 p url(../hints/content32-paginated.plist) 351 1;
}
#textShape-1444{
	-ibooks-line-hints: textShape-1444 p url(../hints/content32-paginated.plist) 391 1;
}
#textShape-1522{
	-ibooks-line-hints: textShape-1522 p url(../hints/content32-paginated.plist) 436 1;
}
#textShape-27{
	-ibooks-line-hints: textShape-27 p url(../hints/content32-paginated.plist) 350 1;
}
#textShape-1460{
	-ibooks-line-hints: textShape-1460 p url(../hints/content32-paginated.plist) 397 1;
}
#textShape-1439{
	-ibooks-line-hints: textShape-1439 p url(../hints/content32-paginated.plist) 383 1;
}
#textShape-1447{
	-ibooks-line-hints: textShape-1447 p url(../hints/content32-paginated.plist) 393 1;
}
#textShape-1531{
	-ibooks-line-hints: textShape-1531 p url(../hints/content32-paginated.plist) 452 1;
}
#textShape-1525{
	-ibooks-line-hints: textShape-1525 p url(../hints/content32-paginated.plist) 446 1;
}
#textShape-1457{
	-ibooks-line-hints: textShape-1457 p url(../hints/content32-paginated.plist) 395 1;
}
#textShape-1534{
	-ibooks-line-hints: textShape-1534 p url(../hints/content32-paginated.plist) 454 1;
}
#textShape-1528{
	-ibooks-line-hints: textShape-1528 p url(../hints/content32-paginated.plist) 450 1;
}
#textShape-1472{
	-ibooks-line-hints: textShape-1472 p url(../hints/content32-paginated.plist) 403 1;
}
#textShape-1482{
	-ibooks-line-hints: textShape-1482 p url(../hints/content32-paginated.plist) 412 1;
}
#textShape-1469{
	-ibooks-line-hints: textShape-1469 p url(../hints/content32-paginated.plist) 400 1;
}
#textShape-1630{
	-ibooks-line-hints: textShape-1630 p url(../hints/content32-paginated.plist) 336 1;
}
#textShape-1491{
	-ibooks-line-hints: textShape-1491 p url(../hints/content32-paginated.plist) 421 1;
}
#textShape-1476{
	-ibooks-line-hints: textShape-1476 p url(../hints/content32-paginated.plist) 406 1;
}
#textShape-1485{
	-ibooks-line-hints: textShape-1485 p url(../hints/content32-paginated.plist) 415 1;
}
#textShape-1701{
	-ibooks-line-hints: textShape-1701 p url(../hints/content32-paginated.plist) 462 1;
}
#textShape-1479{
	-ibooks-line-hints: textShape-1479 p url(../hints/content32-paginated.plist) 409 1;
}
#textShape-1494{
	-ibooks-line-hints: textShape-1494 p url(../hints/content32-paginated.plist) 423 1;
}
#textShape-1488{
	-ibooks-line-hints: textShape-1488 p url(../hints/content32-paginated.plist) 418 1;
}
#textShape-1497{
	-ibooks-line-hints: textShape-1497 p url(../hints/content32-paginated.plist) 426 1;
}
#textShape-3900{
	-ibooks-line-hints: textShape-3900 p url(../hints/content32-paginated.plist) 396 1;
}
#textShape-3901{
	-ibooks-line-hints: textShape-3901 p url(../hints/content32-paginated.plist) 398 1;
}
#textShape-3902{
	-ibooks-line-hints: textShape-3902 p url(../hints/content32-paginated.plist) 401 1;
}
#textShape-3910{
	-ibooks-line-hints: textShape-3910 p url(../hints/content32-paginated.plist) 424 1;
}
#textShape-3903{
	-ibooks-line-hints: textShape-3903 p url(../hints/content32-paginated.plist) 404 1;
}
#textShape-3911{
	-ibooks-line-hints: textShape-3911 p url(../hints/content32-paginated.plist) 427 1;
}
#textShape-3904{
	-ibooks-line-hints: textShape-3904 p url(../hints/content32-paginated.plist) 407 1;
}
#textShape-3912{
	-ibooks-line-hints: textShape-3912 p url(../hints/content32-paginated.plist) 430 1;
}
#textShape-3905{
	-ibooks-line-hints: textShape-3905 p url(../hints/content32-paginated.plist) 410 1;
}
#textShape-3906{
	-ibooks-line-hints: textShape-3906 p url(../hints/content32-paginated.plist) 413 1;
}
#textShape-3913{
	-ibooks-line-hints: textShape-3913 p url(../hints/content32-paginated.plist) 433 1;
}
#textShape-3914{
	-ibooks-line-hints: textShape-3914 p url(../hints/content32-paginated.plist) 435 1;
}
#textShape-3907{
	-ibooks-line-hints: textShape-3907 p url(../hints/content32-paginated.plist) 416 1;
}
#textShape-3915{
	-ibooks-line-hints: textShape-3915 p url(../hints/content32-paginated.plist) 437 1;
}
#textShape-3908{
	-ibooks-line-hints: textShape-3908 p url(../hints/content32-paginated.plist) 419 1;
}
@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1339)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 210.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-1343)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1343 p url(../hints/content32-paginated.plist) 0 14;
		height: 696.000pt;
		left: 60.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 249.000pt;
		width: 648.000pt;
		z-index: 2;
	}
	::slot(textShape-1347)
	{
		height: 54.000pt;
		left: 60.000pt;
		top: 153.000pt;
		width: 648.000pt;
		z-index: 3;
	}
	::slot(textShape-1351)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-1630)
	{
		height: 33.000pt;
		left: 60.000pt;
		top: 129.000pt;
		width: 521.000pt;
		z-index: 5;
	}
	::slot(textShape-2005)
	{
		-ibooks-box-wrap-exterior-path: neither contour both 14.0pt 0.500000 false;
		height: 174.000pt;
		left: 60.000pt;
		top: 523.000pt;
		width: 643.000pt;
		z-index: 6;
	}
	::slot(image-633)
	{
		height: 25.000pt;
		left: 25.000pt;
		top: 254.000pt;
		width: 25.000pt;
		z-index: 7;
	}
	::slot(textShape-27)
	{
		height: 30.000pt;
		left: 60.000pt;
		top: 515.000pt;
		width: 647.000pt;
		z-index: 8;
	}
	-ibooks-positioned-slots: textShape-1339, textShape-1347, textShape-1351, textShape-1630, textShape-2005, image-633, textShape-27, body(textShape-1343);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1355)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1355 p url(../hints/content32-paginated.plist) 14 26;
		height: 894.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 660.000pt;
		z-index: 1;
	}
	::slot(textShape-1359)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-1362)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 3;
	}
	::slot(textShape-3894)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	-ibooks-positioned-slots: textShape-1359, textShape-1362, textShape-3894, body(textShape-1355);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1364)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1364 p url(../hints/content32-paginated.plist) 40 1;
		height: 938.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 671.000pt;
		z-index: 1;
	}
	::slot(textShape-1410)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-1418)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 3;
	}
	::slot(textShape-3895)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(gallery-22)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 872.000pt;
		left: 50.500pt;
		top: 65.000pt;
		width: 670.000pt;
		z-index: 5;
	}
	-ibooks-positioned-slots: textShape-1410, textShape-1418, textShape-3895, gallery-22, body(textShape-1364);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1423)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1423 p url(../hints/content32-paginated.plist) 41 17;
		height: 920.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 1;
	}
	::slot(textShape-1426)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-1431)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 3;
	}
	::slot(textShape-3896)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	-ibooks-positioned-slots: textShape-1426, textShape-1431, textShape-3896, body(textShape-1423);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1434)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1434 p url(../hints/content32-paginated.plist) 58 1;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 1;
	}
	::slot(textShape-1439)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-1442)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 3;
	}
	::slot(textShape-3897)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(gallery-28)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 645.000pt;
		left: 50.000pt;
		top: 62.000pt;
		width: 661.000pt;
		z-index: 5;
	}
	-ibooks-positioned-slots: textShape-1439, textShape-1442, textShape-3897, gallery-28, body(textShape-1434);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1443)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1443 p url(../hints/content32-paginated.plist) 59 8;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 1;
	}
	::slot(textShape-1444)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-1445)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 3;
	}
	::slot(textShape-3898)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(mediawidget-77)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 581.000pt;
		left: 94.000pt;
		top: 364.000pt;
		width: 579.000pt;
		z-index: 5;
	}
	-ibooks-positioned-slots: textShape-1444, textShape-1445, textShape-3898, mediawidget-77, body(textShape-1443);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1446)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1446 p url(../hints/content32-paginated.plist) 67 11;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 1;
	}
	::slot(textShape-1447)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-1448)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 3;
	}
	::slot(textShape-3899)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(image-423)
	{
		height: 29.000pt;
		left: 369.000pt;
		top: 1039.000pt;
		width: 29.000pt;
		z-index: 5;
	}
	::slot(frame-76)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 592.000pt;
		left: 40.000pt;
		top: 55.000pt;
		width: 677.000pt;
		z-index: 6;
	}
	::slot(image-1143)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 620.000pt;
		width: 32.000pt;
		z-index: 7;
	}
	-ibooks-positioned-slots: textShape-1447, textShape-1448, textShape-3899, image-423, frame-76, image-1143, body(textShape-1446);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1449)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1449 p url(../hints/content32-paginated.plist) 78 10;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 1;
	}
	::slot(textShape-1457)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-1458)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 3;
	}
	::slot(textShape-3900)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	-ibooks-positioned-slots: textShape-1457, textShape-1458, textShape-3900, body(textShape-1449);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1459)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1459 p url(../hints/content32-paginated.plist) 88 12;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 1;
	}
	::slot(textShape-1460)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-1461)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 3;
	}
	::slot(textShape-3901)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(frame-77)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 431.000pt;
		left: 40.000pt;
		top: 55.000pt;
		width: 677.000pt;
		z-index: 5;
	}
	::slot(textShape-2508)
	{
		height: 30.191pt;
		left: 485.723pt;
		top: 383.383pt;
		width: 0.219pt;
		z-index: 6;
	}
	::slot(textShape-2509)
	{
		height: 217.000pt;
		left: 261.000pt;
		top: 166.000pt;
		width: 446.000pt;
		z-index: 7;
	}
	::slot(image-891)
	{
		height: 35.000pt;
		left: 469.000pt;
		top: 407.000pt;
		width: 32.500pt;
		z-index: 8;
	}
	::slot(image-1144)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 458.000pt;
		width: 32.000pt;
		z-index: 9;
	}
	::slot(viewport-popup-108)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 332.000pt;
		left: 301.000pt;
		top: 473.000pt;
		width: 674.000pt;
		z-index: 10;
	}
	-ibooks-positioned-slots: textShape-1460, textShape-1461, textShape-3901, frame-77, textShape-2508, textShape-2509, image-891, image-1144, viewport-popup-108, body(textShape-1459);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1465)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1465 p url(../hints/content32-paginated.plist) 100 12;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 1;
	}
	::slot(textShape-1469)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-1470)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 3;
	}
	::slot(textShape-3902)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(frame-78)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 459.000pt;
		left: 40.000pt;
		top: 363.000pt;
		width: 678.000pt;
		z-index: 5;
	}
	::slot(textShape-2512)
	{
		height: 0.141pt;
		left: 259.297pt;
		top: 434.574pt;
		width: 34.426pt;
		z-index: 6;
	}
	::slot(textShape-2513)
	{
		height: 56.000pt;
		left: 156.000pt;
		top: 407.000pt;
		width: 105.000pt;
		z-index: 7;
	}
	::slot(image-894)
	{
		height: 35.000pt;
		left: 282.000pt;
		top: 418.000pt;
		width: 32.500pt;
		z-index: 8;
	}
	::slot(image-1145)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 766.000pt;
		width: 32.000pt;
		z-index: 9;
	}
	::slot(viewport-popup-109)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 271.000pt;
		left: 344.250pt;
		top: 512.000pt;
		width: 336.000pt;
		z-index: 10;
	}
	-ibooks-positioned-slots: textShape-1469, textShape-1470, textShape-3902, frame-78, textShape-2512, textShape-2513, image-894, image-1145, viewport-popup-109, body(textShape-1465);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1471)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1471 p url(../hints/content32-paginated.plist) 112 3;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 678.000pt;
		z-index: 1;
	}
	::slot(textShape-1472)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-1474)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 3;
	}
	::slot(textShape-3903)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(frame-79)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 451.000pt;
		left: 40.000pt;
		top: 102.000pt;
		width: 678.000pt;
		z-index: 5;
	}
	::slot(textShape-2517)
	{
		height: 0.141pt;
		left: 343.297pt;
		top: 182.574pt;
		width: 34.426pt;
		z-index: 6;
	}
	::slot(textShape-2519)
	{
		height: 124.000pt;
		left: 377.000pt;
		top: 147.000pt;
		width: 330.000pt;
		z-index: 7;
	}
	::slot(image-896)
	{
		height: 35.000pt;
		left: 315.000pt;
		top: 166.000pt;
		width: 32.500pt;
		z-index: 8;
	}
	::slot(image-1146)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 505.000pt;
		width: 32.000pt;
		z-index: 9;
	}
	::slot(viewport-popup-110)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 261.000pt;
		left: 14.000pt;
		top: 252.000pt;
		width: 740.000pt;
		z-index: 10;
	}
	-ibooks-positioned-slots: textShape-1472, textShape-1474, textShape-3903, frame-79, textShape-2517, textShape-2519, image-896, image-1146, viewport-popup-110, body(textShape-1471);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1475)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1475 p url(../hints/content32-paginated.plist) 115 6;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 1;
	}
	::slot(textShape-1476)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-1477)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 3;
	}
	::slot(textShape-3904)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(frame-80)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 468.000pt;
		left: 40.000pt;
		top: 177.000pt;
		width: 678.000pt;
		z-index: 5;
	}
	::slot(textShape-2523)
	{
		height: 32.633pt;
		left: 656.207pt;
		top: 271.082pt;
		width: 0.090pt;
		z-index: 6;
	}
	::slot(textShape-2524)
	{
		height: 57.000pt;
		left: 606.000pt;
		top: 214.000pt;
		width: 101.000pt;
		z-index: 7;
	}
	::slot(image-898)
	{
		height: 35.000pt;
		left: 640.000pt;
		top: 295.000pt;
		width: 32.500pt;
		z-index: 8;
	}
	::slot(image-1147)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 579.000pt;
		width: 32.000pt;
		z-index: 9;
	}
	::slot(viewport-popup-111)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 269.000pt;
		left: 323.000pt;
		top: 398.000pt;
		width: 431.000pt;
		z-index: 10;
	}
	-ibooks-positioned-slots: textShape-1476, textShape-1477, textShape-3904, frame-80, textShape-2523, textShape-2524, image-898, image-1147, viewport-popup-111, body(textShape-1475);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1478)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1478 p url(../hints/content32-paginated.plist) 121 9;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 1;
	}
	::slot(textShape-1479)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-1480)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 3;
	}
	::slot(textShape-3905)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(frame-81)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 471.000pt;
		left: 40.000pt;
		top: 284.000pt;
		width: 678.000pt;
		z-index: 5;
	}
	::slot(textShape-2532)
	{
		height: 32.633pt;
		left: 420.407pt;
		top: 383.082pt;
		width: 0.090pt;
		z-index: 6;
	}
	::slot(textShape-2533)
	{
		height: 264.000pt;
		left: 262.200pt;
		top: 400.000pt;
		width: 332.000pt;
		z-index: 7;
	}
	::slot(image-900)
	{
		height: 35.000pt;
		left: 404.200pt;
		top: 347.000pt;
		width: 32.500pt;
		z-index: 8;
	}
	::slot(image-1148)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 688.000pt;
		width: 32.000pt;
		z-index: 9;
	}
	::slot(viewport-popup-112)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 356.000pt;
		left: 272.450pt;
		top: 446.000pt;
		width: 422.000pt;
		z-index: 10;
	}
	-ibooks-positioned-slots: textShape-1479, textShape-1480, textShape-3905, frame-81, textShape-2532, textShape-2533, image-900, image-1148, viewport-popup-112, body(textShape-1478);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1481)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1481 p url(../hints/content32-paginated.plist) 130 12;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 1;
	}
	::slot(textShape-1482)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-1483)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 3;
	}
	::slot(textShape-3906)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(frame-82)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 436.000pt;
		left: 40.000pt;
		top: 351.000pt;
		width: 677.000pt;
		z-index: 5;
	}
	::slot(textShape-2536)
	{
		height: 32.633pt;
		left: 418.607pt;
		top: 428.082pt;
		width: 0.090pt;
		z-index: 6;
	}
	::slot(textShape-2537)
	{
		height: 222.000pt;
		left: 260.400pt;
		top: 461.000pt;
		width: 436.000pt;
		z-index: 7;
	}
	::slot(image-907)
	{
		height: 35.000pt;
		left: 402.400pt;
		top: 408.000pt;
		width: 32.500pt;
		z-index: 8;
	}
	::slot(image-1149)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 756.000pt;
		width: 32.000pt;
		z-index: 9;
	}
	::slot(viewport-popup-113)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 378.000pt;
		left: 73.000pt;
		top: 510.000pt;
		width: 700.000pt;
		z-index: 10;
	}
	-ibooks-positioned-slots: textShape-1482, textShape-1483, textShape-3906, frame-82, textShape-2536, textShape-2537, image-907, image-1149, viewport-popup-113, body(textShape-1481);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1484)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1484 p url(../hints/content32-paginated.plist) 142 6;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 1;
	}
	::slot(textShape-1485)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-1486)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 3;
	}
	::slot(textShape-3907)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(frame-83)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 455.000pt;
		left: 40.000pt;
		top: 177.000pt;
		width: 677.000pt;
		z-index: 5;
	}
	::slot(textShape-2540)
	{
		height: 0.134pt;
		left: 577.807pt;
		top: 254.082pt;
		width: 27.371pt;
		z-index: 6;
	}
	::slot(textShape-2541)
	{
		height: 75.000pt;
		left: 604.600pt;
		top: 237.000pt;
		width: 102.000pt;
		z-index: 7;
	}
	::slot(image-909)
	{
		height: 35.000pt;
		left: 552.600pt;
		top: 237.000pt;
		width: 32.500pt;
		z-index: 8;
	}
	::slot(image-1150)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 580.000pt;
		width: 32.000pt;
		z-index: 9;
	}
	::slot(viewport-popup-114)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 209.000pt;
		left: 136.850pt;
		top: 302.000pt;
		width: 264.000pt;
		z-index: 10;
	}
	-ibooks-positioned-slots: textShape-1485, textShape-1486, textShape-3907, frame-83, textShape-2540, textShape-2541, image-909, image-1150, viewport-popup-114, body(textShape-1484);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1487)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1487 p url(../hints/content32-paginated.plist) 148 7;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 1;
	}
	::slot(textShape-1488)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-1489)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 3;
	}
	::slot(textShape-3908)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(frame-84)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 431.000pt;
		left: 40.000pt;
		top: 167.000pt;
		width: 677.000pt;
		z-index: 5;
	}
	::slot(textShape-2545)
	{
		height: 0.134pt;
		left: 578.007pt;
		top: 220.082pt;
		width: 27.371pt;
		z-index: 6;
	}
	::slot(textShape-2546)
	{
		height: 67.000pt;
		left: 605.800pt;
		top: 203.000pt;
		width: 101.000pt;
		z-index: 7;
	}
	::slot(image-911)
	{
		height: 34.462pt;
		left: 552.800pt;
		top: 203.269pt;
		width: 32.000pt;
		z-index: 8;
	}
	::slot(image-1151)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 571.000pt;
		width: 32.000pt;
		z-index: 9;
	}
	::slot(viewport-popup-115)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 187.000pt;
		left: 463.800pt;
		top: 268.731pt;
		width: 260.000pt;
		z-index: 10;
	}
	-ibooks-positioned-slots: textShape-1488, textShape-1489, textShape-3908, frame-84, textShape-2545, textShape-2546, image-911, image-1151, viewport-popup-115, body(textShape-1487);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1490)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1490 p url(../hints/content32-paginated.plist) 155 10;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 648.000pt;
		z-index: 1;
	}
	::slot(textShape-1491)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-1492)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 3;
	}
	::slot(textShape-3909)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	-ibooks-positioned-slots: textShape-1491, textShape-1492, textShape-3909, body(textShape-1490);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1493)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1493 p url(../hints/content32-paginated.plist) 165 4;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 1;
	}
	::slot(textShape-1494)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-1495)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 3;
	}
	::slot(textShape-3910)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(frame-85)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 436.000pt;
		left: 40.000pt;
		top: 121.000pt;
		width: 677.000pt;
		z-index: 5;
	}
	::slot(image-1152)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 528.000pt;
		width: 32.000pt;
		z-index: 6;
	}
	::slot(textShape-2049)
	{
		height: 0.134pt;
		left: 349.007pt;
		top: 329.082pt;
		width: 27.371pt;
		z-index: 7;
	}
	::slot(textShape-2050)
	{
		height: 67.000pt;
		left: 376.800pt;
		top: 312.000pt;
		width: 101.000pt;
		z-index: 8;
	}
	::slot(image-1397)
	{
		height: 35.000pt;
		left: 323.800pt;
		top: 312.000pt;
		width: 32.500pt;
		z-index: 9;
	}
	::slot(viewport-popup-185)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 193.000pt;
		left: 195.050pt;
		top: 378.000pt;
		width: 292.000pt;
		z-index: 10;
	}
	-ibooks-positioned-slots: textShape-1494, textShape-1495, textShape-3910, frame-85, image-1152, textShape-2049, textShape-2050, image-1397, viewport-popup-185, body(textShape-1493);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1496)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1496 p url(../hints/content32-paginated.plist) 169 4;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 1;
	}
	::slot(textShape-1497)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-1498)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 3;
	}
	::slot(textShape-3911)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(frame-86)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 433.000pt;
		left: 40.000pt;
		top: 121.000pt;
		width: 677.000pt;
		z-index: 5;
	}
	::slot(textShape-2548)
	{
		height: 43.352pt;
		left: 561.512pt;
		top: 279.320pt;
		width: 0.000pt;
		z-index: 6;
	}
	::slot(textShape-2550)
	{
		height: 50.000pt;
		left: 380.800pt;
		top: 229.000pt;
		width: 190.000pt;
		z-index: 7;
	}
	::slot(image-916)
	{
		height: 35.000pt;
		left: 545.800pt;
		top: 309.000pt;
		width: 32.500pt;
		z-index: 8;
	}
	::slot(image-1171)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 526.000pt;
		width: 32.000pt;
		z-index: 9;
	}
	::slot(viewport-popup-116)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 104.000pt;
		left: 363.000pt;
		top: 393.000pt;
		width: 561.000pt;
		z-index: 10;
	}
	-ibooks-positioned-slots: textShape-1497, textShape-1498, textShape-3911, frame-86, textShape-2548, textShape-2550, image-916, image-1171, viewport-popup-116, body(textShape-1496);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1499)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1499 p url(../hints/content32-paginated.plist) 173 11;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 656.000pt;
		z-index: 1;
	}
	::slot(textShape-1500)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-1501)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 3;
	}
	::slot(textShape-3912)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(frame-87)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 444.000pt;
		left: 40.000pt;
		top: 178.000pt;
		width: 678.000pt;
		z-index: 5;
	}
	::slot(textShape-2552)
	{
		height: 43.352pt;
		left: 277.512pt;
		top: 410.320pt;
		width: 0.000pt;
		z-index: 6;
	}
	::slot(textShape-2633)
	{
		height: 65.000pt;
		left: 171.800pt;
		top: 345.000pt;
		width: 211.000pt;
		z-index: 7;
	}
	::slot(image-920)
	{
		height: 35.000pt;
		left: 261.800pt;
		top: 443.000pt;
		width: 32.500pt;
		z-index: 8;
	}
	::slot(image-1172)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 583.000pt;
		width: 32.000pt;
		z-index: 9;
	}
	::slot(viewport-popup-117)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 178.000pt;
		left: 158.550pt;
		top: 509.000pt;
		width: 447.000pt;
		z-index: 10;
	}
	-ibooks-positioned-slots: textShape-1500, textShape-1501, textShape-3912, frame-87, textShape-2552, textShape-2633, image-920, image-1172, viewport-popup-117, body(textShape-1499);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1502)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1502 p url(../hints/content32-paginated.plist) 184 13;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 652.000pt;
		z-index: 1;
	}
	::slot(textShape-1503)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-1504)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 3;
	}
	::slot(textShape-3913)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	-ibooks-positioned-slots: textShape-1503, textShape-1504, textShape-3913, body(textShape-1502);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1505)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1505 p url(../hints/content32-paginated.plist) 197 8;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 1;
	}
	::slot(textShape-1511)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-1516)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 3;
	}
	::slot(textShape-3914)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(frame-88)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 496.000pt;
		left: 40.000pt;
		top: 268.000pt;
		width: 678.000pt;
		z-index: 5;
	}
	::slot(image-1173)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 670.000pt;
		width: 32.000pt;
		z-index: 6;
	}
	-ibooks-positioned-slots: textShape-1511, textShape-1516, textShape-3914, frame-88, image-1173, body(textShape-1505);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1521)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1521 p url(../hints/content32-paginated.plist) 205 3;
		height: 907.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 1;
	}
	::slot(textShape-1522)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-1523)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 3;
	}
	::slot(textShape-3915)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(gallery-27)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 632.000pt;
		left: 50.833pt;
		top: 161.000pt;
		width: 658.000pt;
		z-index: 5;
	}
	-ibooks-positioned-slots: textShape-1522, textShape-1523, textShape-3915, gallery-27, body(textShape-1521);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1524)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1524 p url(../hints/content32-paginated.plist) 208 10;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 1;
	}
	::slot(textShape-1525)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-1526)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 3;
	}
	::slot(textShape-3916)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(frame-89)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 455.000pt;
		left: 40.000pt;
		top: 148.000pt;
		width: 678.000pt;
		z-index: 5;
	}
	::slot(textShape-2635)
	{
		height: 43.352pt;
		left: 656.512pt;
		top: 259.320pt;
		width: 0.000pt;
		z-index: 6;
	}
	::slot(textShape-2640)
	{
		height: 75.000pt;
		left: 605.800pt;
		top: 184.000pt;
		width: 102.000pt;
		z-index: 7;
	}
	::slot(image-926)
	{
		height: 35.000pt;
		left: 641.000pt;
		top: 289.000pt;
		width: 32.500pt;
		z-index: 8;
	}
	::slot(image-1174)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 552.000pt;
		width: 32.000pt;
		z-index: 9;
	}
	::slot(textShape-2052)
	{
		height: 0.000pt;
		left: 388.586pt;
		top: 353.832pt;
		width: 25.701pt;
		z-index: 10;
	}
	::slot(textShape-2062)
	{
		height: 221.000pt;
		left: 417.000pt;
		top: 243.000pt;
		width: 40.000pt;
		z-index: 11;
	}
	::slot(image-1399)
	{
		height: 35.000pt;
		left: 359.800pt;
		top: 335.000pt;
		width: 32.500pt;
		z-index: 12;
	}
	::slot(viewport-popup-118)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 279.000pt;
		left: 519.000pt;
		top: 379.000pt;
		width: 347.000pt;
		z-index: 13;
	}
	::slot(viewport-popup-186)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 501.000pt;
		left: 266.050pt;
		top: 425.000pt;
		width: 236.000pt;
		z-index: 14;
	}
	-ibooks-positioned-slots: textShape-1525, textShape-1526, textShape-3916, frame-89, textShape-2635, textShape-2640, image-926, image-1174, textShape-2052, textShape-2062, image-1399, viewport-popup-118, viewport-popup-186, body(textShape-1524);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1527)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1527 p url(../hints/content32-paginated.plist) 218 31;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 1;
	}
	::slot(textShape-1528)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-1529)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 3;
	}
	::slot(textShape-3917)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	-ibooks-positioned-slots: textShape-1528, textShape-1529, textShape-3917, body(textShape-1527);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1530)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1530 p url(../hints/content32-paginated.plist) 249 6;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 669.000pt;
		z-index: 1;
	}
	::slot(textShape-1531)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-1532)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 3;
	}
	::slot(textShape-3918)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	-ibooks-positioned-slots: textShape-1531, textShape-1532, textShape-3918, body(textShape-1530);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1533)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1533 p url(../hints/content32-paginated.plist) 255 10;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 1;
	}
	::slot(textShape-1534)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-1535)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 3;
	}
	::slot(textShape-3919)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(frame-90)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 460.000pt;
		left: 40.000pt;
		top: 347.000pt;
		width: 677.000pt;
		z-index: 5;
	}
	::slot(image-1175)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 751.000pt;
		width: 32.000pt;
		z-index: 6;
	}
	::slot(textShape-3496)
	{
		height: 0.000pt;
		left: 401.586pt;
		top: 532.832pt;
		width: 25.701pt;
		z-index: 7;
	}
	::slot(textShape-3497)
	{
		height: 31.000pt;
		left: 426.800pt;
		top: 522.000pt;
		width: 104.000pt;
		z-index: 8;
	}
	::slot(image-1401)
	{
		height: 35.000pt;
		left: 373.000pt;
		top: 514.000pt;
		width: 32.500pt;
		z-index: 9;
	}
	::slot(textShape-4307)
	{
		height: 0.000pt;
		left: 401.586pt;
		top: 575.832pt;
		width: 25.701pt;
		z-index: 10;
	}
	::slot(textShape-4308)
	{
		height: 28.000pt;
		left: 426.800pt;
		top: 555.000pt;
		width: 104.000pt;
		z-index: 11;
	}
	::slot(image-1488)
	{
		height: 35.000pt;
		left: 372.800pt;
		top: 557.000pt;
		width: 32.500pt;
		z-index: 12;
	}
	::slot(viewport-popup-194)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 134.000pt;
		left: 225.250pt;
		top: 380.000pt;
		width: 330.000pt;
		z-index: 13;
	}
	::slot(viewport-popup-202)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 114.000pt;
		left: 225.050pt;
		top: 443.000pt;
		width: 330.000pt;
		z-index: 14;
	}
	-ibooks-positioned-slots: textShape-1534, textShape-1535, textShape-3919, frame-90, image-1175, textShape-3496, textShape-3497, image-1401, textShape-4307, textShape-4308, image-1488, viewport-popup-194, viewport-popup-202, body(textShape-1533);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-406)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-406 p url(../hints/content32-paginated.plist) 265 25;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 661.000pt;
		z-index: 1;
	}
	::slot(textShape-1150)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-1252)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 3;
	}
	::slot(textShape-3920)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	-ibooks-positioned-slots: textShape-1150, textShape-1252, textShape-3920, body(textShape-406);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1696)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1696 p url(../hints/content32-paginated.plist) 290 23;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 1;
	}
	::slot(textShape-1697)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-1698)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 3;
	}
	::slot(textShape-3921)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	-ibooks-positioned-slots: textShape-1697, textShape-1698, textShape-3921, body(textShape-1696);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1700)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1700 p url(../hints/content32-paginated.plist) 313 20;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 656.000pt;
		z-index: 1;
	}
	::slot(textShape-1701)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-1702)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 3;
	}
	::slot(textShape-3922)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	-ibooks-positioned-slots: textShape-1701, textShape-1702, textShape-3922, body(textShape-1700);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-266)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-266 p url(../hints/content32-paginated.plist) 333 1;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 1;
	}
	::slot(review-19)
	{
		height: 449.000pt;
		left: 50.000pt;
		top: 111.000pt;
		width: 648.000pt;
		z-index: 2;
	}
	::slot(textShape-1868)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 3;
	}
	::slot(textShape-1869)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 4;
	}
	::slot(textShape-3923)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 5;
	}
	-ibooks-positioned-slots: review-19, textShape-1868, textShape-1869, textShape-3923, body(textShape-266);
}

