@namespace ibooks "http://www.apple.com/2011/iBooks";
#textShape-845{
	-ibooks-line-hints: textShape-845 p url(../hints/content11-paginated.plist) 267 1;
}
#textShape-3930{
	-ibooks-line-hints: textShape-3930 p url(../hints/content11-paginated.plist) 279 1;
}
#textShape-3931{
	-ibooks-line-hints: textShape-3931 p url(../hints/content11-paginated.plist) 282 1;
}
#textShape-3924{
	-ibooks-line-hints: textShape-3924 p url(../hints/content11-paginated.plist) 262 1;
}
#textShape-3932{
	-ibooks-line-hints: textShape-3932 p url(../hints/content11-paginated.plist) 285 1;
}
#textShape-3925{
	-ibooks-line-hints: textShape-3925 p url(../hints/content11-paginated.plist) 265 1;
}
#textShape-3926{
	-ibooks-line-hints: textShape-3926 p url(../hints/content11-paginated.plist) 268 1;
}
#textShape-779{
	-ibooks-line-hints: textShape-779 p url(../hints/content11-paginated.plist) 260 1;
}
#textShape-933{
	-ibooks-line-hints: textShape-933 p url(../hints/content11-paginated.plist) 269 1;
}
#textShape-3934{
	-ibooks-line-hints: textShape-3934 p url(../hints/content11-paginated.plist) 290 1;
}
#textShape-3942{
	-ibooks-line-hints: textShape-3942 p url(../hints/content11-paginated.plist) 311 1;
}
#textShape-3935{
	-ibooks-line-hints: textShape-3935 p url(../hints/content11-paginated.plist) 292 1;
}
#textShape-3943{
	-ibooks-line-hints: textShape-3943 p url(../hints/content11-paginated.plist) 314 1;
}
#textShape-3936{
	-ibooks-line-hints: textShape-3936 p url(../hints/content11-paginated.plist) 296 1;
}
#textShape-3937{
	-ibooks-line-hints: textShape-3937 p url(../hints/content11-paginated.plist) 299 1;
}
#textShape-3929{
	-ibooks-line-hints: textShape-3929 p url(../hints/content11-paginated.plist) 276 1;
}
#textShape-3945{
	-ibooks-line-hints: textShape-3945 p url(../hints/content11-paginated.plist) 323 1;
}
#textShape-1067{
	-ibooks-line-hints: textShape-1067 p url(../hints/content11-paginated.plist) 328 1;
}
#textShape-3939{
	-ibooks-line-hints: textShape-3939 p url(../hints/content11-paginated.plist) 304 1;
}
#textShape-3928{
	-ibooks-line-hints: textShape-3928 p url(../hints/content11-paginated.plist) 273 1;
}
#textShape-3947{
	-ibooks-line-hints: textShape-3947 p url(../hints/content11-paginated.plist) 326 1;
}
#textShape-3940{
	-ibooks-line-hints: textShape-3940 p url(../hints/content11-paginated.plist) 306 1;
}
#textShape-3950{
	-ibooks-line-hints: textShape-3950 p url(../hints/content11-paginated.plist) 333 1;
}
#textShape-3938{
	-ibooks-line-hints: textShape-3938 p url(../hints/content11-paginated.plist) 301 1;
}
#textShape-1085{
	-ibooks-line-hints: textShape-1085 p url(../hints/content11-paginated.plist) 330 1;
}
#textShape-3949{
	-ibooks-line-hints: textShape-3949 p url(../hints/content11-paginated.plist) 331 1;
}
#textShape-3944{
	-ibooks-line-hints: textShape-3944 p url(../hints/content11-paginated.plist) 316 1;
}
#textShape-3948{
	-ibooks-line-hints: textShape-3948 p url(../hints/content11-paginated.plist) 329 1;
}
#textShape-3933{
	-ibooks-line-hints: textShape-3933 p url(../hints/content11-paginated.plist) 288 1;
}
#textShape-3927{
	-ibooks-line-hints: textShape-3927 p url(../hints/content11-paginated.plist) 270 1;
}
#textShape-3952{
	-ibooks-line-hints: textShape-3952 p url(../hints/content11-paginated.plist) 336 1;
}
#textShape-3953{
	-ibooks-line-hints: textShape-3953 p url(../hints/content11-paginated.plist) 339 1;
}
#textShape-3954{
	-ibooks-line-hints: textShape-3954 p url(../hints/content11-paginated.plist) 342 1;
}
#textShape-3955{
	-ibooks-line-hints: textShape-3955 p url(../hints/content11-paginated.plist) 345 1;
}
#textShape-1407{
	-ibooks-line-hints: textShape-1407 p url(../hints/content11-paginated.plist) 332 1;
}
#textShape-2108{
	-ibooks-line-hints: textShape-2108 p url(../hints/content11-paginated.plist) 298 1;
}
#textShape-362{
	-ibooks-line-hints: textShape-362 p url(../hints/content11-paginated.plist) 300 1;
}
#textShape-783{
	-ibooks-line-hints: textShape-783 p url(../hints/content11-paginated.plist) 261 1;
}
#textShape-778{
	-ibooks-line-hints: textShape-778 p url(../hints/content11-paginated.plist) 259 1;
}
#textShape-787{
	-ibooks-line-hints: textShape-787 p url(../hints/content11-paginated.plist) 264 1;
}
#textShape-1453{
	-ibooks-line-hints: textShape-1453 p url(../hints/content11-paginated.plist) 310 1;
}
#textShape-1456{
	-ibooks-line-hints: textShape-1456 p url(../hints/content11-paginated.plist) 313 1;
}
#textShape-49{
	-ibooks-line-hints: textShape-49 p url(../hints/content11-paginated.plist) 325 1;
}
#textShape-2943{
	-ibooks-line-hints: textShape-2943 p url(../hints/content11-paginated.plist) 305 1;
}
#textShape-1550{
	-ibooks-line-hints: textShape-1550 p url(../hints/content11-paginated.plist) 278 1;
}
#textShape-1554{
	-ibooks-line-hints: textShape-1554 p url(../hints/content11-paginated.plist) 281 1;
}
#textShape-1562{
	-ibooks-line-hints: textShape-1562 p url(../hints/content11-paginated.plist) 287 1;
}
#textShape-1570{
	-ibooks-line-hints: textShape-1570 p url(../hints/content11-paginated.plist) 291 1;
}
#textShape-1010{
	-ibooks-line-hints: textShape-1010 p url(../hints/content11-paginated.plist) 272 1;
}
#textShape-1640{
	-ibooks-line-hints: textShape-1640 p url(../hints/content11-paginated.plist) 338 1;
}
#textShape-1558{
	-ibooks-line-hints: textShape-1558 p url(../hints/content11-paginated.plist) 284 1;
}
#textShape-1566{
	-ibooks-line-hints: textShape-1566 p url(../hints/content11-paginated.plist) 289 1;
}
#textShape-998{
	-ibooks-line-hints: textShape-998 p url(../hints/content11-paginated.plist) 303 1;
}
#textShape-1574{
	-ibooks-line-hints: textShape-1574 p url(../hints/content11-paginated.plist) 295 1;
}
#textShape-1645{
	-ibooks-line-hints: textShape-1645 p url(../hints/content11-paginated.plist) 315 1;
}
#textShape-1018{
	-ibooks-line-hints: textShape-1018 p url(../hints/content11-paginated.plist) 275 1;
}
#textShape-1649{
	-ibooks-line-hints: textShape-1649 p url(../hints/content11-paginated.plist) 322 1;
}
#textShape-1664{
	-ibooks-line-hints: textShape-1664 p url(../hints/content11-paginated.plist) 341 1;
}
#textShape-1588{
	-ibooks-line-hints: textShape-1588 p url(../hints/content11-paginated.plist) 335 1;
}
#textShape-1668{
	-ibooks-line-hints: textShape-1668 p url(../hints/content11-paginated.plist) 344 1;
}
@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1064)
	{
		height: 210.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-777)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-777 p url(../hints/content11-paginated.plist) 0 13;
		height: 591.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 249.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-778)
	{
		height: 54.000pt;
		left: 60.000pt;
		top: 153.000pt;
		width: 648.000pt;
		z-index: 3;
	}
	::slot(textShape-779)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-1065)
	{
		height: 33.000pt;
		left: 60.000pt;
		top: 129.000pt;
		width: 648.000pt;
		z-index: 5;
	}
	-ibooks-positioned-slots: textShape-1064, textShape-778, textShape-779, textShape-1065, body(textShape-777);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-784)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-782)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-782 p url(../hints/content11-paginated.plist) 13 6;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 62.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-783)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 3;
	}
	::slot(textShape-3924)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(textShape-2120)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 350.000pt;
		left: 51.000pt;
		top: 78.000pt;
		width: 658.000pt;
		z-index: 5;
	}
	::slot(frame-34)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 438.000pt;
		left: 40.000pt;
		top: 45.000pt;
		width: 677.000pt;
		z-index: 6;
	}
	::slot(image-227)
	{
		height: 32.000pt;
		left: 370.000pt;
		top: 454.000pt;
		width: 32.000pt;
		z-index: 7;
	}
	::slot(textShape-4162)
	{
		height: 23.392pt;
		left: 262.039pt;
		top: 407.414pt;
		width: 0.000pt;
		z-index: 8;
	}
	::slot(textShape-4163)
	{
		height: 13.000pt;
		left: 256.000pt;
		top: 431.000pt;
		width: 12.000pt;
		z-index: 9;
	}
	::slot(image-1298)
	{
		height: 35.000pt;
		left: 246.000pt;
		top: 384.000pt;
		width: 32.500pt;
		z-index: 10;
	}
	::slot(viewport-popup-188)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 65.000pt;
		left: 86.250pt;
		top: 450.000pt;
		width: 452.000pt;
		z-index: 11;
	}
	-ibooks-positioned-slots: textShape-784, textShape-783, textShape-3924, textShape-2120, frame-34, image-227, textShape-4162, textShape-4163, image-1298, viewport-popup-188, body(textShape-782);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-788)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-786)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-786 p url(../hints/content11-paginated.plist) 19 6;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 62.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-787)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 3;
	}
	::slot(textShape-3925)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(frame-1)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 431.000pt;
		left: 40.000pt;
		top: 52.000pt;
		width: 677.000pt;
		z-index: 5;
	}
	::slot(image-61)
	{
		height: 32.000pt;
		left: 365.667pt;
		top: 456.000pt;
		width: 32.000pt;
		z-index: 6;
	}
	::slot(textShape-2000)
	{
		height: 0.695pt;
		left: 256.000pt;
		top: 126.000pt;
		width: 52.039pt;
		z-index: 7;
	}
	::slot(textShape-2001)
	{
		height: 51.000pt;
		left: 157.000pt;
		top: 99.000pt;
		width: 99.000pt;
		z-index: 8;
	}
	::slot(image-489)
	{
		height: 35.000pt;
		left: 288.000pt;
		top: 108.000pt;
		width: 32.500pt;
		z-index: 9;
	}
	::slot(viewport-popup-25)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 189.000pt;
		left: 305.250pt;
		top: 174.000pt;
		width: 288.000pt;
		z-index: 10;
	}
	-ibooks-positioned-slots: textShape-788, textShape-787, textShape-3925, frame-1, image-61, textShape-2000, textShape-2001, image-489, viewport-popup-25, body(textShape-786);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-878)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-790)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-790 p url(../hints/content11-paginated.plist) 25 13;
		height: 852.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 62.000pt;
		width: 666.000pt;
		z-index: 2;
	}
	::slot(textShape-845)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 3;
	}
	::slot(textShape-3926)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	-ibooks-positioned-slots: textShape-878, textShape-845, textShape-3926, body(textShape-790);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-945)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-932)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-932 p url(../hints/content11-paginated.plist) 38 3;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 62.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-933)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 3;
	}
	::slot(textShape-3927)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(frame-31)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 458.000pt;
		left: 40.000pt;
		top: 508.000pt;
		width: 677.000pt;
		z-index: 5;
	}
	::slot(textShape-2003)
	{
		height: 0.695pt;
		left: 256.000pt;
		top: 590.000pt;
		width: 52.039pt;
		z-index: 6;
	}
	::slot(textShape-2004)
	{
		height: 7.000pt;
		left: 157.000pt;
		top: 587.000pt;
		width: 99.000pt;
		z-index: 7;
	}
	::slot(image-491)
	{
		height: 35.000pt;
		left: 288.000pt;
		top: 572.000pt;
		width: 32.500pt;
		z-index: 8;
	}
	::slot(image-1233)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 907.000pt;
		width: 32.000pt;
		z-index: 9;
	}
	::slot(viewport-popup-26)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 305.000pt;
		left: 63.750pt;
		top: 238.000pt;
		width: 483.000pt;
		z-index: 10;
	}
	-ibooks-positioned-slots: textShape-945, textShape-933, textShape-3927, frame-31, textShape-2003, textShape-2004, image-491, image-1233, viewport-popup-26, body(textShape-932);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1014)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-1009)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1009 p url(../hints/content11-paginated.plist) 41 3;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 62.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-1010)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 3;
	}
	::slot(textShape-3928)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(frame-109)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 431.000pt;
		left: 40.000pt;
		top: 52.000pt;
		width: 677.000pt;
		z-index: 5;
	}
	::slot(textShape-2007)
	{
		height: 0.695pt;
		left: 296.667pt;
		top: 148.000pt;
		width: 52.039pt;
		z-index: 6;
	}
	::slot(textShape-2008)
	{
		height: 93.000pt;
		left: 348.667pt;
		top: 100.000pt;
		width: 155.000pt;
		z-index: 7;
	}
	::slot(image-497)
	{
		height: 35.000pt;
		left: 283.000pt;
		top: 130.000pt;
		width: 32.500pt;
		z-index: 8;
	}
	::slot(image-71)
	{
		height: 32.000pt;
		left: 363.667pt;
		top: 451.000pt;
		width: 32.000pt;
		z-index: 9;
	}
	::slot(viewport-popup-27)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 303.000pt;
		left: 301.750pt;
		top: 196.000pt;
		width: 433.000pt;
		z-index: 10;
	}
	-ibooks-positioned-slots: textShape-1014, textShape-1010, textShape-3928, frame-109, textShape-2007, textShape-2008, image-497, image-71, viewport-popup-27, body(textShape-1009);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1019)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-1017)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1017 p url(../hints/content11-paginated.plist) 44 4;
		height: 897.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 62.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-1018)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 3;
	}
	::slot(textShape-3929)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(frame-110)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 525.000pt;
		left: 40.000pt;
		top: 52.000pt;
		width: 677.000pt;
		z-index: 5;
	}
	::slot(textShape-4015)
	{
		height: 0.695pt;
		left: 508.667pt;
		top: 244.000pt;
		width: 52.039pt;
		z-index: 6;
	}
	::slot(textShape-4016)
	{
		height: 148.000pt;
		left: 560.000pt;
		top: 171.000pt;
		width: 145.000pt;
		z-index: 7;
	}
	::slot(image-1057)
	{
		height: 35.000pt;
		left: 496.000pt;
		top: 226.000pt;
		width: 32.500pt;
		z-index: 8;
	}
	::slot(image-1059)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 550.000pt;
		width: 32.000pt;
		z-index: 9;
	}
	::slot(viewport-popup-167)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 361.000pt;
		left: 560.750pt;
		top: 292.000pt;
		width: 347.000pt;
		z-index: 10;
	}
	-ibooks-positioned-slots: textShape-1019, textShape-1018, textShape-3929, frame-110, textShape-4015, textShape-4016, image-1057, image-1059, viewport-popup-167, body(textShape-1017);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1551)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-1549)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1549 p url(../hints/content11-paginated.plist) 48 4;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 62.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-1550)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 3;
	}
	::slot(textShape-3930)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(frame-2)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 431.000pt;
		left: 40.000pt;
		top: 52.000pt;
		width: 677.000pt;
		z-index: 5;
	}
	::slot(image-83)
	{
		height: 32.000pt;
		left: 363.333pt;
		top: 451.000pt;
		width: 32.000pt;
		z-index: 6;
	}
	::slot(textShape-2010)
	{
		height: 0.695pt;
		left: 236.333pt;
		top: 206.000pt;
		width: 52.039pt;
		z-index: 7;
	}
	::slot(textShape-2011)
	{
		height: 101.000pt;
		left: 288.333pt;
		top: 146.000pt;
		width: 372.000pt;
		z-index: 8;
	}
	::slot(image-501)
	{
		height: 35.000pt;
		left: 222.000pt;
		top: 188.000pt;
		width: 32.500pt;
		z-index: 9;
	}
	::slot(viewport-popup-28)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 267.000pt;
		left: 16.000pt;
		top: 254.000pt;
		width: 718.000pt;
		z-index: 10;
	}
	-ibooks-positioned-slots: textShape-1551, textShape-1550, textShape-3930, frame-2, image-83, textShape-2010, textShape-2011, image-501, viewport-popup-28, body(textShape-1549);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1555)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-1553)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1553 p url(../hints/content11-paginated.plist) 52 5;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 62.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-1554)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 3;
	}
	::slot(textShape-3931)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(frame-4)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 431.000pt;
		left: 40.000pt;
		top: 52.000pt;
		width: 682.000pt;
		z-index: 5;
	}
	::slot(image-113)
	{
		height: 32.000pt;
		left: 363.000pt;
		top: 451.000pt;
		width: 32.000pt;
		z-index: 6;
	}
	::slot(textShape-2013)
	{
		height: 0.695pt;
		left: 288.000pt;
		top: 197.000pt;
		width: 52.039pt;
		z-index: 7;
	}
	::slot(textShape-2014)
	{
		height: 72.000pt;
		left: 340.000pt;
		top: 157.000pt;
		width: 112.000pt;
		z-index: 8;
	}
	::slot(image-503)
	{
		height: 35.000pt;
		left: 276.000pt;
		top: 179.000pt;
		width: 32.500pt;
		z-index: 9;
	}
	::slot(viewport-popup-29)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 222.000pt;
		left: 117.250pt;
		top: 245.000pt;
		width: 352.000pt;
		z-index: 10;
	}
	-ibooks-positioned-slots: textShape-1555, textShape-1554, textShape-3931, frame-4, image-113, textShape-2013, textShape-2014, image-503, viewport-popup-29, body(textShape-1553);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1559)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-1557)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1557 p url(../hints/content11-paginated.plist) 57 7;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 62.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-1558)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 3;
	}
	::slot(textShape-3932)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(frame-6)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 1108.000pt;
		left: -94.000pt;
		top: 141.000pt;
		width: 811.000pt;
		z-index: 5;
	}
	::slot(image-161)
	{
		height: 32.000pt;
		left: 363.667pt;
		top: 540.000pt;
		width: 32.000pt;
		z-index: 6;
	}
	::slot(textShape-2016)
	{
		height: 43.128pt;
		left: 400.667pt;
		top: 322.568pt;
		width: 0.000pt;
		z-index: 7;
	}
	::slot(textShape-2017)
	{
		height: 47.000pt;
		left: 156.667pt;
		top: 276.000pt;
		width: 489.000pt;
		z-index: 8;
	}
	::slot(image-506)
	{
		height: 35.000pt;
		left: 384.000pt;
		top: 359.000pt;
		width: 32.500pt;
		z-index: 9;
	}
	::slot(viewport-popup-30)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 93.000pt;
		left: 275.750pt;
		top: 425.000pt;
		width: 693.000pt;
		z-index: 10;
	}
	-ibooks-positioned-slots: textShape-1559, textShape-1558, textShape-3932, frame-6, image-161, textShape-2016, textShape-2017, image-506, viewport-popup-30, body(textShape-1557);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1563)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-1561)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1561 p url(../hints/content11-paginated.plist) 64 18;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 62.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-1562)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 3;
	}
	::slot(textShape-3933)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	-ibooks-positioned-slots: textShape-1563, textShape-1562, textShape-3933, body(textShape-1561);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1567)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-1565)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1565 p url(../hints/content11-paginated.plist) 82 13;
		height: 887.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 62.000pt;
		width: 669.000pt;
		z-index: 2;
	}
	::slot(textShape-1566)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 3;
	}
	::slot(textShape-3934)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	-ibooks-positioned-slots: textShape-1567, textShape-1566, textShape-3934, body(textShape-1565);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1571)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-1569)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1569 p url(../hints/content11-paginated.plist) 95 4;
		height: 896.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 62.000pt;
		width: 666.000pt;
		z-index: 2;
	}
	::slot(textShape-1570)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 3;
	}
	::slot(textShape-3935)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(textShape-2158)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 496.000pt;
		left: 77.000pt;
		top: 1035.000pt;
		width: 658.000pt;
		z-index: 5;
	}
	::slot(image-577)
	{
		height: 32.000pt;
		left: 121.000pt;
		top: 1138.000pt;
		width: 32.000pt;
		z-index: 6;
	}
	::slot(textShape-3331)
	{
		height: 531.000pt;
		left: 50.000pt;
		top: 1017.000pt;
		width: 658.000pt;
		z-index: 7;
	}
	::slot(frame-186)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 431.000pt;
		left: 40.000pt;
		top: 143.000pt;
		width: 677.000pt;
		z-index: 8;
	}
	::slot(textShape-2019)
	{
		height: 28.240pt;
		left: 474.000pt;
		top: 396.456pt;
		width: 0.316pt;
		z-index: 9;
	}
	::slot(textShape-2020)
	{
		height: 93.000pt;
		left: 385.000pt;
		top: 302.000pt;
		width: 190.000pt;
		z-index: 10;
	}
	::slot(image-509)
	{
		height: 35.000pt;
		left: 458.000pt;
		top: 425.000pt;
		width: 32.500pt;
		z-index: 11;
	}
	::slot(image-91)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 546.000pt;
		width: 32.000pt;
		z-index: 12;
	}
	::slot(textShape-4169)
	{
		height: 0.695pt;
		left: 345.000pt;
		top: 224.000pt;
		width: 52.039pt;
		z-index: 13;
	}
	::slot(image-1309)
	{
		height: 35.000pt;
		left: 394.000pt;
		top: 208.000pt;
		width: 32.500pt;
		z-index: 14;
	}
	::slot(textShape-4171)
	{
		height: 146.000pt;
		left: 140.000pt;
		top: 198.000pt;
		width: 207.000pt;
		z-index: 15;
	}
	::slot(viewport-popup-31)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 219.000pt;
		left: 226.000pt;
		top: 491.000pt;
		width: 623.000pt;
		z-index: 16;
	}
	::slot(viewport-popup-189)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 330.000pt;
		left: 286.250pt;
		top: 274.000pt;
		width: 436.000pt;
		z-index: 17;
	}
	-ibooks-positioned-slots: textShape-1571, textShape-1570, textShape-3935, textShape-2158, image-577, textShape-3331, frame-186, textShape-2019, textShape-2020, image-509, image-91, textShape-4169, image-1309, textShape-4171, viewport-popup-31, viewport-popup-189, body(textShape-1569);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1575)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-1573)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1573 p url(../hints/content11-paginated.plist) 99 5;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 62.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-1574)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 3;
	}
	::slot(textShape-3936)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(frame-47)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 1266.000pt;
		left: -1498.000pt;
		top: 71.000pt;
		width: 2056.000pt;
		z-index: 5;
	}
	::slot(frame-35)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 431.000pt;
		left: 40.000pt;
		top: 52.000pt;
		width: 677.000pt;
		z-index: 6;
	}
	::slot(textShape-2022)
	{
		height: 0.695pt;
		left: 333.667pt;
		top: 233.000pt;
		width: 52.039pt;
		z-index: 7;
	}
	::slot(textShape-2023)
	{
		height: 92.000pt;
		left: 385.667pt;
		top: 207.000pt;
		width: 179.000pt;
		z-index: 8;
	}
	::slot(image-511)
	{
		height: 35.000pt;
		left: 320.000pt;
		top: 215.000pt;
		width: 32.500pt;
		z-index: 9;
	}
	::slot(viewport-popup-32)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 311.000pt;
		left: 273.250pt;
		top: 281.000pt;
		width: 570.000pt;
		z-index: 10;
	}
	-ibooks-positioned-slots: textShape-1575, textShape-1574, textShape-3936, frame-47, frame-35, textShape-2022, textShape-2023, image-511, viewport-popup-32, body(textShape-1573);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-2109)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-2107)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-2107 p url(../hints/content11-paginated.plist) 104 19;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 62.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-2108)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 3;
	}
	::slot(textShape-3937)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	-ibooks-positioned-slots: textShape-2109, textShape-2108, textShape-3937, body(textShape-2107);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-375)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-314)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-314 p url(../hints/content11-paginated.plist) 123 11;
		height: 906.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 62.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-362)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 3;
	}
	::slot(textShape-3938)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(frame-111)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 450.000pt;
		left: 40.000pt;
		top: 294.000pt;
		width: 677.000pt;
		z-index: 5;
	}
	::slot(textShape-2028)
	{
		height: 43.103pt;
		left: 342.667pt;
		top: 429.592pt;
		width: 0.000pt;
		z-index: 6;
	}
	::slot(textShape-2029)
	{
		height: 57.000pt;
		left: 292.667pt;
		top: 372.000pt;
		width: 100.000pt;
		z-index: 7;
	}
	::slot(image-513)
	{
		height: 35.000pt;
		left: 326.000pt;
		top: 450.000pt;
		width: 32.500pt;
		z-index: 8;
	}
	::slot(image-106)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 696.000pt;
		width: 32.000pt;
		z-index: 9;
	}
	::slot(viewport-popup-33)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 270.000pt;
		left: 171.750pt;
		top: 516.000pt;
		width: 439.000pt;
		z-index: 10;
	}
	-ibooks-positioned-slots: textShape-375, textShape-362, textShape-3938, frame-111, textShape-2028, textShape-2029, image-513, image-106, viewport-popup-33, body(textShape-314);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1003)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-930)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-930 p url(../hints/content11-paginated.plist) 134 10;
		height: 906.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 62.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-998)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 3;
	}
	::slot(textShape-3939)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	-ibooks-positioned-slots: textShape-1003, textShape-998, textShape-3939, body(textShape-930);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-2939)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-2942)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-2942 p url(../hints/content11-paginated.plist) 144 7;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 62.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-2943)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 3;
	}
	::slot(textShape-3940)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(frame-112)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 431.000pt;
		left: 40.000pt;
		top: 52.000pt;
		width: 677.000pt;
		z-index: 5;
	}
	::slot(textShape-2031)
	{
		height: 0.555pt;
		left: 344.922pt;
		top: 281.402pt;
		width: 49.500pt;
		z-index: 6;
	}
	::slot(textShape-2032)
	{
		height: 27.000pt;
		left: 156.667pt;
		top: 266.000pt;
		width: 188.000pt;
		z-index: 7;
	}
	::slot(image-524)
	{
		height: 35.000pt;
		left: 386.000pt;
		top: 265.000pt;
		width: 32.500pt;
		z-index: 8;
	}
	::slot(image-185)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 456.000pt;
		width: 32.000pt;
		z-index: 9;
	}
	::slot(textShape-4172)
	{
		height: 29.749pt;
		left: 174.598pt;
		top: 386.428pt;
		width: 21.871pt;
		z-index: 10;
	}
	::slot(image-1320)
	{
		height: 35.000pt;
		left: 159.000pt;
		top: 371.000pt;
		width: 32.500pt;
		z-index: 11;
	}
	::slot(textShape-4174)
	{
		height: 30.070pt;
		left: 213.947pt;
		top: 387.371pt;
		width: 10.156pt;
		z-index: 12;
	}
	::slot(image-1322)
	{
		height: 35.000pt;
		left: 207.000pt;
		top: 371.000pt;
		width: 32.500pt;
		z-index: 13;
	}
	::slot(textShape-1683)
	{
		height: 11.000pt;
		left: 194.000pt;
		top: 417.000pt;
		width: 12.000pt;
		z-index: 14;
	}
	::slot(textShape-1684)
	{
		height: 11.000pt;
		left: 207.000pt;
		top: 417.000pt;
		width: 12.000pt;
		z-index: 15;
	}
	::slot(viewport-popup-34)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 128.000pt;
		left: 125.250pt;
		top: 331.000pt;
		width: 556.000pt;
		z-index: 16;
	}
	::slot(viewport-popup-190)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 74.000pt;
		left: 136.250pt;
		top: 437.000pt;
		width: 80.000pt;
		z-index: 17;
	}
	::slot(viewport-popup-191)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 74.000pt;
		left: 184.250pt;
		top: 437.000pt;
		width: 80.000pt;
		z-index: 18;
	}
	-ibooks-positioned-slots: textShape-2939, textShape-2943, textShape-3940, frame-112, textShape-2031, textShape-2032, image-524, image-185, textShape-4172, image-1320, textShape-4174, image-1322, textShape-1683, textShape-1684, viewport-popup-34, viewport-popup-190, viewport-popup-191, body(textShape-2942);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1415)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-1450)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1450 p url(../hints/content11-paginated.plist) 151 10;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 62.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-1453)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 3;
	}
	::slot(textShape-3942)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(frame-113)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 432.000pt;
		left: 40.000pt;
		top: 52.000pt;
		width: 677.000pt;
		z-index: 5;
	}
	::slot(textShape-2034)
	{
		height: 43.103pt;
		left: 238.333pt;
		top: 261.592pt;
		width: 0.000pt;
		z-index: 6;
	}
	::slot(textShape-2035)
	{
		height: 49.000pt;
		left: 156.333pt;
		top: 212.000pt;
		width: 164.000pt;
		z-index: 7;
	}
	::slot(image-535)
	{
		height: 35.000pt;
		left: 221.000pt;
		top: 281.000pt;
		width: 32.500pt;
		z-index: 8;
	}
	::slot(image-188)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 455.000pt;
		width: 32.000pt;
		z-index: 9;
	}
	::slot(viewport-popup-35)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 126.000pt;
		left: 290.250pt;
		top: 347.000pt;
		width: 314.000pt;
		z-index: 10;
	}
	-ibooks-positioned-slots: textShape-1415, textShape-1453, textShape-3942, frame-113, textShape-2034, textShape-2035, image-535, image-188, viewport-popup-35, body(textShape-1450);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1454)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-1455)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1455 p url(../hints/content11-paginated.plist) 161 4;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 62.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-1456)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 3;
	}
	::slot(textShape-3943)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(frame-36)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 431.000pt;
		left: 40.000pt;
		top: 52.000pt;
		width: 677.000pt;
		z-index: 5;
	}
	::slot(image-496)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 456.000pt;
		width: 32.000pt;
		z-index: 6;
	}
	-ibooks-positioned-slots: textShape-1454, textShape-1456, textShape-3943, frame-36, image-496, body(textShape-1455);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1641)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-1642)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1642 p url(../hints/content11-paginated.plist) 165 5;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 62.000pt;
		width: 648.000pt;
		z-index: 2;
	}
	::slot(textShape-1645)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 3;
	}
	::slot(textShape-3944)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(image-206)
	{
		height: 38.281pt;
		left: 525.000pt;
		top: 1047.000pt;
		width: 35.000pt;
		z-index: 5;
	}
	::slot(frame-114)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 431.000pt;
		left: 40.000pt;
		top: 123.000pt;
		width: 678.000pt;
		z-index: 6;
	}
	::slot(textShape-2037)
	{
		height: 43.103pt;
		left: 427.333pt;
		top: 337.592pt;
		width: 0.000pt;
		z-index: 7;
	}
	::slot(textShape-2038)
	{
		height: 204.000pt;
		left: 333.333pt;
		top: 133.000pt;
		width: 192.000pt;
		z-index: 8;
	}
	::slot(image-537)
	{
		height: 35.000pt;
		left: 410.000pt;
		top: 357.000pt;
		width: 32.500pt;
		z-index: 9;
	}
	::slot(image-499)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 528.000pt;
		width: 32.000pt;
		z-index: 10;
	}
	::slot(viewport-popup-6)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 262.000pt;
		left: 295.000pt;
		top: 223.000pt;
		width: 613.000pt;
		z-index: 11;
	}
	::slot(viewport-popup-36)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 449.000pt;
		left: 355.250pt;
		top: 423.000pt;
		width: 418.000pt;
		z-index: 12;
	}
	-ibooks-positioned-slots: textShape-1641, textShape-1645, textShape-3944, image-206, frame-114, textShape-2037, textShape-2038, image-537, image-499, viewport-popup-6, viewport-popup-36, body(textShape-1642);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1646)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-1647)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1647 p url(../hints/content11-paginated.plist) 170 4;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 62.000pt;
		width: 654.000pt;
		z-index: 2;
	}
	::slot(textShape-1649)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 3;
	}
	::slot(textShape-3945)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(frame-187)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 471.000pt;
		left: 40.000pt;
		top: 148.000pt;
		width: 677.000pt;
		z-index: 5;
	}
	::slot(textShape-2040)
	{
		height: 43.103pt;
		left: 340.333pt;
		top: 431.592pt;
		width: 0.000pt;
		z-index: 6;
	}
	::slot(textShape-2041)
	{
		height: 156.000pt;
		left: 226.333pt;
		top: 275.000pt;
		width: 301.000pt;
		z-index: 7;
	}
	::slot(image-539)
	{
		height: 35.000pt;
		left: 323.000pt;
		top: 451.000pt;
		width: 32.500pt;
		z-index: 8;
	}
	::slot(image-600)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 551.000pt;
		width: 32.000pt;
		z-index: 9;
	}
	::slot(viewport-popup-37)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 252.000pt;
		left: 227.250pt;
		top: 210.000pt;
		width: 436.000pt;
		z-index: 10;
	}
	-ibooks-positioned-slots: textShape-1646, textShape-1649, textShape-3945, frame-187, textShape-2040, textShape-2041, image-539, image-600, viewport-popup-37, body(textShape-1647);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-47)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-48)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-48 p url(../hints/content11-paginated.plist) 174 4;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 62.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-49)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 3;
	}
	::slot(textShape-3947)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(frame-38)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 431.000pt;
		left: 40.000pt;
		top: 142.000pt;
		width: 677.000pt;
		z-index: 5;
	}
	::slot(textShape-2046)
	{
		height: 43.103pt;
		left: 273.000pt;
		top: 380.592pt;
		width: 0.000pt;
		z-index: 6;
	}
	::slot(textShape-2047)
	{
		height: 38.000pt;
		left: 227.000pt;
		top: 343.000pt;
		width: 369.000pt;
		z-index: 7;
	}
	::slot(image-544)
	{
		height: 35.000pt;
		left: 256.000pt;
		top: 399.000pt;
		width: 32.500pt;
		z-index: 8;
	}
	::slot(image-601)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 546.000pt;
		width: 32.000pt;
		z-index: 9;
	}
	::slot(viewport-popup-38)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 100.000pt;
		left: 196.000pt;
		top: 465.000pt;
		width: 619.000pt;
		z-index: 10;
	}
	-ibooks-positioned-slots: textShape-47, textShape-49, textShape-3947, frame-38, textShape-2046, textShape-2047, image-544, image-601, viewport-popup-38, body(textShape-48);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-50)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-91)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-91 p url(../hints/content11-paginated.plist) 178 27;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 62.000pt;
		width: 647.000pt;
		z-index: 2;
	}
	::slot(textShape-1067)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 3;
	}
	::slot(textShape-3948)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	-ibooks-positioned-slots: textShape-50, textShape-1067, textShape-3948, body(textShape-91);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1075)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-1084)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1084 p url(../hints/content11-paginated.plist) 205 10;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 62.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-1085)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 3;
	}
	::slot(textShape-3949)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	-ibooks-positioned-slots: textShape-1075, textShape-1085, textShape-3949, body(textShape-1084);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1087)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-1387)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1387 p url(../hints/content11-paginated.plist) 215 4;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 62.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-1407)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 3;
	}
	::slot(textShape-3950)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(frame-115)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 455.000pt;
		left: 40.000pt;
		top: 124.000pt;
		width: 678.000pt;
		z-index: 5;
	}
	::slot(textShape-2053)
	{
		height: 0.153pt;
		left: 169.047pt;
		top: 390.592pt;
		width: 28.953pt;
		z-index: 6;
	}
	::slot(textShape-2054)
	{
		height: 272.000pt;
		left: 198.000pt;
		top: 200.000pt;
		width: 140.000pt;
		z-index: 7;
	}
	::slot(image-549)
	{
		height: 35.000pt;
		left: 138.000pt;
		top: 374.000pt;
		width: 32.500pt;
		z-index: 8;
	}
	::slot(image-603)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 527.000pt;
		width: 32.000pt;
		z-index: 9;
	}
	::slot(viewport-popup-40)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 517.000pt;
		left: 16.000pt;
		top: 440.000pt;
		width: 300.000pt;
		z-index: 10;
	}
	-ibooks-positioned-slots: textShape-1087, textShape-1407, textShape-3950, frame-115, textShape-2053, textShape-2054, image-549, image-603, viewport-popup-40, body(textShape-1387);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1466)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-1586)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1586 p url(../hints/content11-paginated.plist) 219 12;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 62.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-1588)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 3;
	}
	::slot(textShape-3952)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(frame-188)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 431.000pt;
		left: 40.000pt;
		top: 117.000pt;
		width: 678.000pt;
		z-index: 5;
	}
	::slot(textShape-2056)
	{
		height: 0.153pt;
		left: 170.047pt;
		top: 373.592pt;
		width: 28.953pt;
		z-index: 6;
	}
	::slot(textShape-2057)
	{
		height: 277.000pt;
		left: 199.000pt;
		top: 190.000pt;
		width: 140.000pt;
		z-index: 7;
	}
	::slot(image-557)
	{
		height: 35.000pt;
		left: 139.000pt;
		top: 357.000pt;
		width: 32.500pt;
		z-index: 8;
	}
	::slot(image-604)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 522.000pt;
		width: 32.000pt;
		z-index: 9;
	}
	::slot(viewport-popup-41)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 643.000pt;
		left: 263.500pt;
		top: 54.000pt;
		width: 357.000pt;
		z-index: 10;
	}
	-ibooks-positioned-slots: textShape-1466, textShape-1588, textShape-3952, frame-188, textShape-2056, textShape-2057, image-557, image-604, viewport-popup-41, body(textShape-1586);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1594)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-1620)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1620 p url(../hints/content11-paginated.plist) 231 7;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 62.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-1640)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 3;
	}
	::slot(textShape-3953)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(frame-43)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 472.000pt;
		left: 40.000pt;
		top: 245.000pt;
		width: 677.000pt;
		z-index: 5;
	}
	::slot(textShape-2059)
	{
		height: 44.555pt;
		left: 656.047pt;
		top: 463.345pt;
		width: 0.000pt;
		z-index: 6;
	}
	::slot(textShape-2060)
	{
		height: 194.000pt;
		left: 605.000pt;
		top: 269.000pt;
		width: 102.000pt;
		z-index: 7;
	}
	::slot(image-563)
	{
		height: 35.000pt;
		left: 639.000pt;
		top: 501.000pt;
		width: 32.500pt;
		z-index: 8;
	}
	::slot(image-605)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 647.000pt;
		width: 32.000pt;
		z-index: 9;
	}
	::slot(viewport-popup-42)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 450.000pt;
		left: 505.000pt;
		top: 22.000pt;
		width: 249.000pt;
		z-index: 10;
	}
	-ibooks-positioned-slots: textShape-1594, textShape-1640, textShape-3953, frame-43, textShape-2059, textShape-2060, image-563, image-605, viewport-popup-42, body(textShape-1620);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1662)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-1663)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1663 p url(../hints/content11-paginated.plist) 238 12;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 62.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-1664)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 3;
	}
	::slot(textShape-3954)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(frame-116)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 450.000pt;
		left: 40.000pt;
		top: 101.000pt;
		width: 677.000pt;
		z-index: 5;
	}
	::slot(textShape-2063)
	{
		height: 44.555pt;
		left: 528.047pt;
		top: 216.345pt;
		width: 0.000pt;
		z-index: 6;
	}
	::slot(textShape-2064)
	{
		height: 7.000pt;
		left: 381.000pt;
		top: 208.000pt;
		width: 185.000pt;
		z-index: 7;
	}
	::slot(image-569)
	{
		height: 31.231pt;
		left: 511.000pt;
		top: 255.885pt;
		width: 29.000pt;
		z-index: 8;
	}
	::slot(image-606)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 508.000pt;
		width: 32.000pt;
		z-index: 9;
	}
	::slot(viewport-popup-43)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 57.000pt;
		left: 69.000pt;
		top: 338.000pt;
		width: 685.000pt;
		z-index: 10;
	}
	-ibooks-positioned-slots: textShape-1662, textShape-1664, textShape-3954, frame-116, textShape-2063, textShape-2064, image-569, image-606, viewport-popup-43, body(textShape-1663);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1666)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-1667)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1667 p url(../hints/content11-paginated.plist) 250 9;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 62.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-1668)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 3;
	}
	::slot(textShape-3955)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	-ibooks-positioned-slots: textShape-1666, textShape-1668, textShape-3955, body(textShape-1667);
}

