@namespace ibooks "http://www.apple.com/2011/iBooks";
#textShape-1366{
	-ibooks-line-hints: textShape-1366 p url(../hints/content10-paginated.plist) 239 1;
}
#textShape-3482{
	-ibooks-line-hints: textShape-3482 p url(../hints/content10-paginated.plist) 176 1;
}
#textShape-1345{
	-ibooks-line-hints: textShape-1345 p url(../hints/content10-paginated.plist) 200 1;
}
#textShape-4157{
	-ibooks-line-hints: textShape-4157 p url(../hints/content10-paginated.plist) 309 1;
}
#textShape-3492{
	-ibooks-line-hints: textShape-3492 p url(../hints/content10-paginated.plist) 244 1;
}
#textShape-3486{
	-ibooks-line-hints: textShape-3486 p url(../hints/content10-paginated.plist) 201 1;
}
#textShape-1361{
	-ibooks-line-hints: textShape-1361 p url(../hints/content10-paginated.plist) 236 1;
}
#textShape-1349{
	-ibooks-line-hints: textShape-1349 p url(../hints/content10-paginated.plist) 214 1;
}
#textShape-3481{
	-ibooks-line-hints: textShape-3481 p url(../hints/content10-paginated.plist) 172 1;
}
#textShape-1313{
	-ibooks-line-hints: textShape-1313 p url(../hints/content10-paginated.plist) 163 1;
}
#textShape-4156{
	-ibooks-line-hints: textShape-4156 p url(../hints/content10-paginated.plist) 308 1;
}
#textShape-3491{
	-ibooks-line-hints: textShape-3491 p url(../hints/content10-paginated.plist) 240 1;
}
#textShape-3485{
	-ibooks-line-hints: textShape-3485 p url(../hints/content10-paginated.plist) 198 1;
}
#textShape-3479{
	-ibooks-line-hints: textShape-3479 p url(../hints/content10-paginated.plist) 166 1;
}
#textShape-1317{
	-ibooks-line-hints: textShape-1317 p url(../hints/content10-paginated.plist) 165 1;
}
#textShape-1634{
	-ibooks-line-hints: textShape-1634 p url(../hints/content10-paginated.plist) 245 1;
}
#textShape-3495{
	-ibooks-line-hints: textShape-3495 p url(../hints/content10-paginated.plist) 251 1;
}
#textShape-1333{
	-ibooks-line-hints: textShape-1333 p url(../hints/content10-paginated.plist) 177 1;
}
#textShape-3489{
	-ibooks-line-hints: textShape-3489 p url(../hints/content10-paginated.plist) 233 1;
}
#textShape-3480{
	-ibooks-line-hints: textShape-3480 p url(../hints/content10-paginated.plist) 169 1;
}
#textShape-804{
	-ibooks-line-hints: textShape-804 p url(../hints/content10-paginated.plist) 160 1;
}
#textShape-1638{
	-ibooks-line-hints: textShape-1638 p url(../hints/content10-paginated.plist) 247 1;
}
#textShape-1337{
	-ibooks-line-hints: textShape-1337 p url(../hints/content10-paginated.plist) 194 1;
}
#textShape-3490{
	-ibooks-line-hints: textShape-3490 p url(../hints/content10-paginated.plist) 237 1;
}
#textShape-3484{
	-ibooks-line-hints: textShape-3484 p url(../hints/content10-paginated.plist) 195 1;
}
#textShape-3478{
	-ibooks-line-hints: textShape-3478 p url(../hints/content10-paginated.plist) 164 1;
}
#textShape-1005{
	-ibooks-line-hints: textShape-1005 p url(../hints/content10-paginated.plist) 243 1;
}
#textShape-1353{
	-ibooks-line-hints: textShape-1353 p url(../hints/content10-paginated.plist) 217 1;
}
#textShape-3494{
	-ibooks-line-hints: textShape-3494 p url(../hints/content10-paginated.plist) 248 1;
}
#textShape-3488{
	-ibooks-line-hints: textShape-3488 p url(../hints/content10-paginated.plist) 218 1;
}
#textShape-807{
	-ibooks-line-hints: textShape-807 p url(../hints/content10-paginated.plist) 162 1;
}
#textShape-1357{
	-ibooks-line-hints: textShape-1357 p url(../hints/content10-paginated.plist) 232 1;
}
#textShape-3483{
	-ibooks-line-hints: textShape-3483 p url(../hints/content10-paginated.plist) 178 1;
}
#textShape-1321{
	-ibooks-line-hints: textShape-1321 p url(../hints/content10-paginated.plist) 168 1;
}
#textShape-805{
	-ibooks-line-hints: textShape-805 p url(../hints/content10-paginated.plist) 161 1;
}
#textShape-3487{
	-ibooks-line-hints: textShape-3487 p url(../hints/content10-paginated.plist) 215 1;
}
#textShape-1325{
	-ibooks-line-hints: textShape-1325 p url(../hints/content10-paginated.plist) 171 1;
}
#textShape-3493{
	-ibooks-line-hints: textShape-3493 p url(../hints/content10-paginated.plist) 246 1;
}
#textShape-1341{
	-ibooks-line-hints: textShape-1341 p url(../hints/content10-paginated.plist) 197 1;
}
#textShape-1652{
	-ibooks-line-hints: textShape-1652 p url(../hints/content10-paginated.plist) 250 1;
}
#textShape-1329{
	-ibooks-line-hints: textShape-1329 p url(../hints/content10-paginated.plist) 175 1;
}
@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-634)
	{
		height: 210.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-803)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-803 p url(../hints/content10-paginated.plist) 0 19;
		height: 696.000pt;
		left: 60.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 249.000pt;
		width: 655.000pt;
		z-index: 2;
	}
	::slot(textShape-804)
	{
		height: 54.000pt;
		left: 60.000pt;
		top: 153.000pt;
		width: 648.000pt;
		z-index: 3;
	}
	::slot(textShape-805)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-807)
	{
		height: 33.000pt;
		left: 60.000pt;
		top: 129.000pt;
		width: 648.000pt;
		z-index: 5;
	}
	::slot(image-614)
	{
		height: 25.000pt;
		left: 25.000pt;
		top: 254.000pt;
		width: 25.000pt;
		z-index: 6;
	}
	-ibooks-positioned-slots: textShape-634, textShape-804, textShape-805, textShape-807, image-614, body(textShape-803);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1314)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-1312)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1312 p url(../hints/content10-paginated.plist) 19 12;
		height: 937.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 62.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-1313)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 3;
	}
	::slot(textShape-3478)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(frame-39)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 491.000pt;
		left: 40.000pt;
		top: 381.000pt;
		width: 680.000pt;
		z-index: 5;
	}
	::slot(image-326)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 784.000pt;
		width: 32.000pt;
		z-index: 6;
	}
	-ibooks-positioned-slots: textShape-1314, textShape-1313, textShape-3478, frame-39, image-326, body(textShape-1312);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1318)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-1316)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1316 p url(../hints/content10-paginated.plist) 31 11;
		height: 914.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 62.000pt;
		width: 668.000pt;
		z-index: 2;
	}
	::slot(textShape-1317)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 3;
	}
	::slot(textShape-3479)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(frame-21)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 535.000pt;
		left: 40.000pt;
		top: 324.000pt;
		width: 678.000pt;
		z-index: 5;
	}
	::slot(textShape-567)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 0.695pt;
		left: 478.961pt;
		top: 643.000pt;
		width: 52.039pt;
		z-index: 6;
	}
	::slot(textShape-1905)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 19.000pt;
		left: 317.000pt;
		top: 633.000pt;
		width: 161.000pt;
		z-index: 7;
	}
	::slot(image-446)
	{
		height: 38.769pt;
		left: 527.000pt;
		top: 626.000pt;
		width: 36.000pt;
		z-index: 8;
	}
	::slot(image-1043)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 829.000pt;
		width: 32.000pt;
		z-index: 9;
	}
	::slot(viewport-popup-9)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 274.000pt;
		left: 211.000pt;
		top: 323.000pt;
		width: 645.000pt;
		z-index: 10;
	}
	-ibooks-positioned-slots: textShape-1318, textShape-1317, textShape-3479, frame-21, textShape-567, textShape-1905, image-446, image-1043, viewport-popup-9, body(textShape-1316);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1322)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-1320)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1320 p url(../hints/content10-paginated.plist) 42 2;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 62.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-1321)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 3;
	}
	::slot(textShape-3480)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(frame-98)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 456.000pt;
		left: 40.000pt;
		top: 117.000pt;
		width: 677.000pt;
		z-index: 5;
	}
	::slot(image-452)
	{
		height: 38.769pt;
		left: 279.000pt;
		top: 317.000pt;
		width: 36.000pt;
		z-index: 6;
	}
	::slot(textShape-1955)
	{
		height: 23.000pt;
		left: 316.000pt;
		top: 325.000pt;
		width: 51.000pt;
		z-index: 7;
	}
	::slot(image-1044)
	{
		height: 32.000pt;
		left: 326.000pt;
		top: 519.000pt;
		width: 32.000pt;
		z-index: 8;
	}
	::slot(viewport-popup-12)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 318.000pt;
		left: 47.000pt;
		top: 412.769pt;
		width: 645.000pt;
		z-index: 9;
	}
	-ibooks-positioned-slots: textShape-1322, textShape-1321, textShape-3480, frame-98, image-452, textShape-1955, image-1044, viewport-popup-12, body(textShape-1320);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1326)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-1324)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1324 p url(../hints/content10-paginated.plist) 44 8;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 62.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-1325)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 3;
	}
	::slot(textShape-3481)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(frame-40)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 488.000pt;
		left: 40.000pt;
		top: 212.000pt;
		width: 677.000pt;
		z-index: 5;
	}
	::slot(textShape-1956)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 0.000pt;
		left: 225.243pt;
		top: 627.000pt;
		width: 30.757pt;
		z-index: 6;
	}
	::slot(textShape-1957)
	{
		height: 20.000pt;
		left: 255.000pt;
		top: 616.000pt;
		width: 15.000pt;
		z-index: 7;
	}
	::slot(image-456)
	{
		height: 38.769pt;
		left: 201.000pt;
		top: 609.000pt;
		width: 36.000pt;
		z-index: 8;
	}
	::slot(image-1045)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 616.000pt;
		width: 32.000pt;
		z-index: 9;
	}
	::slot(textShape-4147)
	{
		height: 57.000pt;
		left: 157.000pt;
		top: 259.000pt;
		width: 99.000pt;
		z-index: 10;
	}
	::slot(textShape-4148)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 0.000pt;
		left: 256.243pt;
		top: 287.000pt;
		width: 30.757pt;
		z-index: 11;
	}
	::slot(image-1267)
	{
		height: 38.769pt;
		left: 273.000pt;
		top: 269.000pt;
		width: 36.000pt;
		z-index: 12;
	}
	::slot(viewport-popup-13)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 83.000pt;
		left: 101.500pt;
		top: 534.000pt;
		width: 371.000pt;
		z-index: 13;
	}
	::slot(viewport-popup-184)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 204.000pt;
		left: 197.500pt;
		top: 375.769pt;
		width: 323.000pt;
		z-index: 14;
	}
	-ibooks-positioned-slots: textShape-1326, textShape-1325, textShape-3481, frame-40, textShape-1956, textShape-1957, image-456, image-1045, textShape-4147, textShape-4148, image-1267, viewport-popup-13, viewport-popup-184, body(textShape-1324);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1330)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-1328)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1328 p url(../hints/content10-paginated.plist) 52 7;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 62.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-1329)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 3;
	}
	::slot(textShape-3482)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	-ibooks-positioned-slots: textShape-1330, textShape-1329, textShape-3482, body(textShape-1328);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1334)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-1332)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1332 p url(../hints/content10-paginated.plist) 59 6;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 62.000pt;
		width: 670.000pt;
		z-index: 2;
	}
	::slot(textShape-1333)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 3;
	}
	::slot(textShape-3483)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(frame-42)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 470.000pt;
		left: 40.000pt;
		top: 52.000pt;
		width: 677.000pt;
		z-index: 5;
	}
	::slot(image-342)
	{
		height: 32.000pt;
		left: 363.000pt;
		top: 1046.000pt;
		width: 32.000pt;
		z-index: 6;
	}
	::slot(textShape-1959)
	{
		height: 0.695pt;
		left: 552.961pt;
		top: 167.000pt;
		width: 52.039pt;
		z-index: 7;
	}
	::slot(textShape-1960)
	{
		height: 162.000pt;
		left: 605.000pt;
		top: 76.000pt;
		width: 102.000pt;
		z-index: 8;
	}
	::slot(image-460)
	{
		height: 38.769pt;
		left: 527.000pt;
		top: 149.000pt;
		width: 36.000pt;
		z-index: 9;
	}
	::slot(image-1046)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 452.000pt;
		width: 32.000pt;
		z-index: 10;
	}
	::slot(viewport-popup-14)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 716.000pt;
		left: 264.000pt;
		top: 218.769pt;
		width: 572.000pt;
		z-index: 11;
	}
	-ibooks-positioned-slots: textShape-1334, textShape-1333, textShape-3483, frame-42, image-342, textShape-1959, textShape-1960, image-460, image-1046, viewport-popup-14, body(textShape-1332);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1338)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-1336)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1336 p url(../hints/content10-paginated.plist) 65 12;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 62.000pt;
		width: 673.000pt;
		z-index: 2;
	}
	::slot(textShape-1337)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 3;
	}
	::slot(textShape-3484)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(frame-22)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 646.000pt;
		left: 40.000pt;
		top: 52.000pt;
		width: 678.000pt;
		z-index: 5;
	}
	::slot(textShape-1965)
	{
		height: 0.695pt;
		left: 507.961pt;
		top: 371.000pt;
		width: 52.039pt;
		z-index: 6;
	}
	::slot(textShape-1966)
	{
		height: 148.000pt;
		left: 560.000pt;
		top: 292.000pt;
		width: 146.000pt;
		z-index: 7;
	}
	::slot(image-464)
	{
		height: 38.769pt;
		left: 483.000pt;
		top: 353.000pt;
		width: 36.000pt;
		z-index: 8;
	}
	::slot(image-1047)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 670.000pt;
		width: 32.000pt;
		z-index: 9;
	}
	::slot(viewport-popup-15)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 482.000pt;
		left: 269.000pt;
		top: 422.769pt;
		width: 466.000pt;
		z-index: 10;
	}
	-ibooks-positioned-slots: textShape-1338, textShape-1337, textShape-3484, frame-22, textShape-1965, textShape-1966, image-464, image-1047, viewport-popup-15, body(textShape-1336);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1342)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-1340)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1340 p url(../hints/content10-paginated.plist) 77 5;
		height: 906.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 62.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-1341)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 3;
	}
	::slot(textShape-3485)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(frame-23)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 440.000pt;
		left: 40.000pt;
		top: 162.000pt;
		width: 677.000pt;
		z-index: 5;
	}
	::slot(textShape-1968)
	{
		height: 0.695pt;
		left: 211.667pt;
		top: 340.000pt;
		width: 52.039pt;
		z-index: 6;
	}
	::slot(textShape-1969)
	{
		height: 124.000pt;
		left: 263.667pt;
		top: 252.000pt;
		width: 306.000pt;
		z-index: 7;
	}
	::slot(image-466)
	{
		height: 38.769pt;
		left: 187.000pt;
		top: 322.000pt;
		width: 36.000pt;
		z-index: 8;
	}
	::slot(image-1048)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 566.000pt;
		width: 32.000pt;
		z-index: 9;
	}
	::slot(viewport-popup-16)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 331.000pt;
		left: 101.000pt;
		top: 391.769pt;
		width: 740.000pt;
		z-index: 10;
	}
	-ibooks-positioned-slots: textShape-1342, textShape-1341, textShape-3485, frame-23, textShape-1968, textShape-1969, image-466, image-1048, viewport-popup-16, body(textShape-1340);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1346)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-1344)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1344 p url(../hints/content10-paginated.plist) 82 4;
		height: 891.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 62.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-1345)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 3;
	}
	::slot(textShape-3486)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(frame-24)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 523.000pt;
		left: 40.000pt;
		top: 52.000pt;
		width: 677.000pt;
		z-index: 5;
	}
	::slot(image-1049)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 539.000pt;
		width: 32.000pt;
		z-index: 6;
	}
	::slot(textShape-1971)
	{
		height: 0.695pt;
		left: 329.667pt;
		top: 255.000pt;
		width: 52.039pt;
		z-index: 7;
	}
	::slot(textShape-1972)
	{
		height: 19.000pt;
		left: 381.667pt;
		top: 246.000pt;
		width: 190.000pt;
		z-index: 8;
	}
	::slot(image-469)
	{
		height: 38.769pt;
		left: 305.000pt;
		top: 237.000pt;
		width: 36.000pt;
		z-index: 9;
	}
	::slot(viewport-popup-17)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 507.000pt;
		left: 83.500pt;
		top: 305.769pt;
		width: 481.000pt;
		z-index: 10;
	}
	-ibooks-positioned-slots: textShape-1346, textShape-1345, textShape-3486, frame-24, image-1049, textShape-1971, textShape-1972, image-469, viewport-popup-17, body(textShape-1344);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1350)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-1348)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1348 p url(../hints/content10-paginated.plist) 86 13;
		height: 862.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 62.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-1349)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 3;
	}
	::slot(textShape-3487)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(frame-29)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 435.000pt;
		left: 40.000pt;
		top: 416.000pt;
		width: 677.000pt;
		z-index: 5;
	}
	::slot(image-1050)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 815.000pt;
		width: 32.000pt;
		z-index: 6;
	}
	::slot(textShape-1974)
	{
		height: 0.695pt;
		left: 240.333pt;
		top: 578.000pt;
		width: 52.039pt;
		z-index: 7;
	}
	::slot(textShape-1975)
	{
		height: 64.000pt;
		left: 292.333pt;
		top: 545.000pt;
		width: 101.000pt;
		z-index: 8;
	}
	::slot(image-471)
	{
		height: 38.769pt;
		left: 215.000pt;
		top: 560.000pt;
		width: 36.000pt;
		z-index: 9;
	}
	::slot(viewport-popup-18)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 321.000pt;
		left: 16.000pt;
		top: 279.000pt;
		width: 470.000pt;
		z-index: 10;
	}
	-ibooks-positioned-slots: textShape-1350, textShape-1349, textShape-3487, frame-29, image-1050, textShape-1974, textShape-1975, image-471, viewport-popup-18, body(textShape-1348);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1354)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-1352)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1352 p url(../hints/content10-paginated.plist) 99 2;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 62.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-1353)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 3;
	}
	::slot(textShape-3488)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(frame-30)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 508.000pt;
		left: 40.000pt;
		top: 92.000pt;
		width: 677.000pt;
		z-index: 5;
	}
	::slot(textShape-1977)
	{
		height: 0.695pt;
		left: 332.000pt;
		top: 255.000pt;
		width: 52.039pt;
		z-index: 6;
	}
	::slot(textShape-1978)
	{
		height: 22.000pt;
		left: 385.000pt;
		top: 244.000pt;
		width: 186.000pt;
		z-index: 7;
	}
	::slot(image-473)
	{
		height: 38.769pt;
		left: 307.000pt;
		top: 237.000pt;
		width: 36.000pt;
		z-index: 8;
	}
	::slot(image-1051)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 498.000pt;
		width: 32.000pt;
		z-index: 9;
	}
	::slot(viewport-popup-19)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 489.000pt;
		left: 289.500pt;
		top: 305.769pt;
		width: 471.000pt;
		z-index: 10;
	}
	-ibooks-positioned-slots: textShape-1354, textShape-1353, textShape-3488, frame-30, textShape-1977, textShape-1978, image-473, image-1051, viewport-popup-19, body(textShape-1352);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1358)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-1356)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1356 p url(../hints/content10-paginated.plist) 101 7;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 62.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-1357)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 3;
	}
	::slot(textShape-3489)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(frame-99)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 494.000pt;
		left: 40.000pt;
		top: 53.000pt;
		width: 678.000pt;
		z-index: 5;
	}
	::slot(textShape-1980)
	{
		height: 0.695pt;
		left: 327.333pt;
		top: 286.000pt;
		width: 52.039pt;
		z-index: 6;
	}
	::slot(textShape-1981)
	{
		height: 21.000pt;
		left: 380.333pt;
		top: 276.000pt;
		width: 192.000pt;
		z-index: 7;
	}
	::slot(image-475)
	{
		height: 38.769pt;
		left: 302.000pt;
		top: 268.000pt;
		width: 36.000pt;
		z-index: 8;
	}
	::slot(textShape-1983)
	{
		height: 0.695pt;
		left: 328.333pt;
		top: 511.000pt;
		width: 52.039pt;
		z-index: 9;
	}
	::slot(textShape-1984)
	{
		height: 45.000pt;
		left: 381.333pt;
		top: 492.000pt;
		width: 224.000pt;
		z-index: 10;
	}
	::slot(image-477)
	{
		height: 38.769pt;
		left: 303.000pt;
		top: 493.000pt;
		width: 36.000pt;
		z-index: 11;
	}
	::slot(image-1085)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 519.000pt;
		width: 32.000pt;
		z-index: 12;
	}
	::slot(viewport-popup-20)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 102.000pt;
		left: 132.000pt;
		top: 337.769pt;
		width: 604.000pt;
		z-index: 13;
	}
	::slot(viewport-popup-21)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 135.000pt;
		left: 161.500pt;
		top: 329.000pt;
		width: 547.000pt;
		z-index: 14;
	}
	-ibooks-positioned-slots: textShape-1358, textShape-1357, textShape-3489, frame-99, textShape-1980, textShape-1981, image-475, textShape-1983, textShape-1984, image-477, image-1085, viewport-popup-20, viewport-popup-21, body(textShape-1356);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1363)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-1360)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1360 p url(../hints/content10-paginated.plist) 108 2;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 62.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-1361)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 3;
	}
	::slot(textShape-3490)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(image-1291)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 410.625pt;
		left: 50.000pt;
		top: 152.000pt;
		width: 657.000pt;
		z-index: 5;
	}
	::slot(textShape-4158)
	{
		height: 0.695pt;
		left: 553.000pt;
		top: 300.000pt;
		width: 52.039pt;
		z-index: 6;
	}
	::slot(textShape-4159)
	{
		height: 13.000pt;
		left: 605.000pt;
		top: 290.000pt;
		width: 102.000pt;
		z-index: 7;
	}
	::slot(image-1292)
	{
		height: 35.000pt;
		left: 529.000pt;
		top: 283.000pt;
		width: 32.500pt;
		z-index: 8;
	}
	::slot(viewport-popup-187)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 64.000pt;
		left: 412.250pt;
		top: 349.000pt;
		width: 268.000pt;
		z-index: 9;
	}
	-ibooks-positioned-slots: textShape-1363, textShape-1361, textShape-3490, image-1291, textShape-4158, textShape-4159, image-1292, viewport-popup-187, body(textShape-1360);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1473)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-1365)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1365 p url(../hints/content10-paginated.plist) 110 6;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 62.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-1366)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 3;
	}
	::slot(textShape-3491)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(frame-100)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 431.000pt;
		left: 40.000pt;
		top: 211.000pt;
		width: 678.000pt;
		z-index: 5;
	}
	::slot(textShape-1987)
	{
		height: 0.695pt;
		left: 252.000pt;
		top: 340.000pt;
		width: 52.039pt;
		z-index: 6;
	}
	::slot(textShape-1988)
	{
		height: 19.000pt;
		left: 304.000pt;
		top: 330.000pt;
		width: 21.000pt;
		z-index: 7;
	}
	::slot(image-481)
	{
		height: 35.000pt;
		left: 228.000pt;
		top: 322.000pt;
		width: 32.500pt;
		z-index: 8;
	}
	::slot(textShape-1991)
	{
		height: 0.695pt;
		left: 553.000pt;
		top: 254.000pt;
		width: 52.039pt;
		z-index: 9;
	}
	::slot(textShape-1992)
	{
		height: 171.000pt;
		left: 605.000pt;
		top: 236.000pt;
		width: 102.000pt;
		z-index: 10;
	}
	::slot(image-483)
	{
		height: 35.000pt;
		left: 529.000pt;
		top: 236.000pt;
		width: 32.500pt;
		z-index: 11;
	}
	::slot(image-1086)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 614.000pt;
		width: 32.000pt;
		z-index: 12;
	}
	::slot(viewport-popup-22)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 293.000pt;
		left: 129.250pt;
		top: 388.000pt;
		width: 368.000pt;
		z-index: 13;
	}
	::slot(viewport-popup-23)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 546.000pt;
		left: 601.750pt;
		top: 302.000pt;
		width: 331.000pt;
		z-index: 14;
	}
	-ibooks-positioned-slots: textShape-1473, textShape-1366, textShape-3491, frame-100, textShape-1987, textShape-1988, image-481, textShape-1991, textShape-1992, image-483, image-1086, viewport-popup-22, viewport-popup-23, body(textShape-1365);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1006)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-948)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-948 p url(../hints/content10-paginated.plist) 116 4;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 62.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-1005)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 3;
	}
	::slot(textShape-3492)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	-ibooks-positioned-slots: textShape-1006, textShape-1005, textShape-3492, body(textShape-948);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1632)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-1633)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1633 p url(../hints/content10-paginated.plist) 120 21;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 62.000pt;
		width: 648.000pt;
		z-index: 2;
	}
	::slot(textShape-1634)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 3;
	}
	::slot(textShape-3493)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	-ibooks-positioned-slots: textShape-1632, textShape-1634, textShape-3493, body(textShape-1633);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1636)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-1637)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1637 p url(../hints/content10-paginated.plist) 141 9;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 62.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-1638)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 3;
	}
	::slot(textShape-3494)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(frame-108)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 475.000pt;
		left: 40.000pt;
		top: 365.000pt;
		width: 677.000pt;
		z-index: 5;
	}
	::slot(textShape-1994)
	{
		height: 0.695pt;
		left: 264.000pt;
		top: 425.000pt;
		width: 52.039pt;
		z-index: 6;
	}
	::slot(textShape-1995)
	{
		height: 355.000pt;
		left: 316.000pt;
		top: 412.000pt;
		width: 201.000pt;
		z-index: 7;
	}
	::slot(image-487)
	{
		height: 35.000pt;
		left: 240.000pt;
		top: 407.000pt;
		width: 32.500pt;
		z-index: 8;
	}
	::slot(image-90)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 768.000pt;
		width: 32.000pt;
		z-index: 9;
	}
	::slot(viewport-popup-24)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 573.000pt;
		left: 388.500pt;
		top: 183.000pt;
		width: 329.000pt;
		z-index: 10;
	}
	-ibooks-positioned-slots: textShape-1636, textShape-1638, textShape-3494, frame-108, textShape-1994, textShape-1995, image-487, image-90, viewport-popup-24, body(textShape-1637);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1650)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-1651)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1651 p url(../hints/content10-paginated.plist) 150 9;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 62.000pt;
		width: 666.000pt;
		z-index: 2;
	}
	::slot(textShape-1652)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 3;
	}
	::slot(textShape-3495)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	-ibooks-positioned-slots: textShape-1650, textShape-1652, textShape-3495, body(textShape-1651);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-4154)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-4155)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-4155 p url(../hints/content10-paginated.plist) 159 1;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 62.000pt;
		width: 660.000pt;
		z-index: 2;
	}
	::slot(review-24)
	{
		height: 529.000pt;
		left: 50.000pt;
		top: 110.000pt;
		width: 628.000pt;
		z-index: 3;
	}
	::slot(textShape-4156)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-4157)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 5;
	}
	-ibooks-positioned-slots: textShape-4154, review-24, textShape-4156, textShape-4157, body(textShape-4155);
}

