@namespace ibooks "http://www.apple.com/2011/iBooks";
#textShape-2999{
	-ibooks-line-hints: textShape-2999 p url(../hints/content24-paginated.plist) 449 1;
}
#textShape-3083{
	-ibooks-line-hints: textShape-3083 p url(../hints/content24-paginated.plist) 502 1;
}
#textShape-1116{
	-ibooks-line-hints: textShape-1116 p url(../hints/content24-paginated.plist) 493 1;
}
#textShape-3084{
	-ibooks-line-hints: textShape-3084 p url(../hints/content24-paginated.plist) 504 1;
}
#textShape-1131{
	-ibooks-line-hints: textShape-1131 p url(../hints/content24-paginated.plist) 497 1;
}
#textShape-3092{
	-ibooks-line-hints: textShape-3092 p url(../hints/content24-paginated.plist) 508 1;
}
#textShape-358{
	-ibooks-line-hints: textShape-358 p url(../hints/content24-paginated.plist) 454 1;
}
#textShape-3091{
	-ibooks-line-hints: textShape-3091 p url(../hints/content24-paginated.plist) 506 1;
}
#textShape-1126{
	-ibooks-line-hints: textShape-1126 p url(../hints/content24-paginated.plist) 495 1;
}
#textShape-3093{
	-ibooks-line-hints: textShape-3093 p url(../hints/content24-paginated.plist) 510 1;
}
#textShape-1141{
	-ibooks-line-hints: textShape-1141 p url(../hints/content24-paginated.plist) 501 1;
}
#textShape-3094{
	-ibooks-line-hints: textShape-3094 p url(../hints/content24-paginated.plist) 512 1;
}
#textShape-3095{
	-ibooks-line-hints: textShape-3095 p url(../hints/content24-paginated.plist) 514 1;
}
#textShape-104{
	-ibooks-line-hints: textShape-104 p url(../hints/content24-paginated.plist) 444 1;
}
#textShape-1136{
	-ibooks-line-hints: textShape-1136 p url(../hints/content24-paginated.plist) 499 1;
}
#textShape-1900{
	-ibooks-line-hints: textShape-1900 p url(../hints/content24-paginated.plist) 515 1;
}
#textShape-3096{
	-ibooks-line-hints: textShape-3096 p url(../hints/content24-paginated.plist) 516 1;
}
#textShape-387{
	-ibooks-line-hints: textShape-387 p url(../hints/content24-paginated.plist) 457 1;
}
#textShape-730{
	-ibooks-line-hints: textShape-730 p url(../hints/content24-paginated.plist) 471 1;
}
#textShape-1891{
	-ibooks-line-hints: textShape-1891 p url(../hints/content24-paginated.plist) 511 1;
}
#textShape-1878{
	-ibooks-line-hints: textShape-1878 p url(../hints/content24-paginated.plist) 507 1;
}
#textShape-718{
	-ibooks-line-hints: textShape-718 p url(../hints/content24-paginated.plist) 460 1;
}
#textShape-734{
	-ibooks-line-hints: textShape-734 p url(../hints/content24-paginated.plist) 474 1;
}
#textShape-1887{
	-ibooks-line-hints: textShape-1887 p url(../hints/content24-paginated.plist) 509 1;
}
#textShape-750{
	-ibooks-line-hints: textShape-750 p url(../hints/content24-paginated.plist) 485 1;
}
#textShape-1895{
	-ibooks-line-hints: textShape-1895 p url(../hints/content24-paginated.plist) 513 1;
}
#textShape-738{
	-ibooks-line-hints: textShape-738 p url(../hints/content24-paginated.plist) 477 1;
}
#textShape-2807{
	-ibooks-line-hints: textShape-2807 p url(../hints/content24-paginated.plist) 505 1;
}
#textShape-179{
	-ibooks-line-hints: textShape-179 p url(../hints/content24-paginated.plist) 445 1;
}
#textShape-754{
	-ibooks-line-hints: textShape-754 p url(../hints/content24-paginated.plist) 488 1;
}
#textShape-758{
	-ibooks-line-hints: textShape-758 p url(../hints/content24-paginated.plist) 491 1;
}
#textShape-3000{
	-ibooks-line-hints: textShape-3000 p url(../hints/content24-paginated.plist) 452 1;
}
#textShape-103{
	-ibooks-line-hints: textShape-103 p url(../hints/content24-paginated.plist) 443 1;
}
#textShape-2791{
	-ibooks-line-hints: textShape-2791 p url(../hints/content24-paginated.plist) 503 1;
}
#textShape-3002{
	-ibooks-line-hints: textShape-3002 p url(../hints/content24-paginated.plist) 455 1;
}
#textShape-3003{
	-ibooks-line-hints: textShape-3003 p url(../hints/content24-paginated.plist) 458 1;
}
#textShape-3004{
	-ibooks-line-hints: textShape-3004 p url(../hints/content24-paginated.plist) 461 1;
}
#textShape-3005{
	-ibooks-line-hints: textShape-3005 p url(../hints/content24-paginated.plist) 464 1;
}
#textShape-3006{
	-ibooks-line-hints: textShape-3006 p url(../hints/content24-paginated.plist) 468 1;
}
#textShape-3007{
	-ibooks-line-hints: textShape-3007 p url(../hints/content24-paginated.plist) 472 1;
}
#textShape-722{
	-ibooks-line-hints: textShape-722 p url(../hints/content24-paginated.plist) 463 1;
}
#textShape-3043{
	-ibooks-line-hints: textShape-3043 p url(../hints/content24-paginated.plist) 484 1;
}
#textShape-312{
	-ibooks-line-hints: textShape-312 p url(../hints/content24-paginated.plist) 451 1;
}
#textShape-3044{
	-ibooks-line-hints: textShape-3044 p url(../hints/content24-paginated.plist) 486 1;
}
#textShape-726{
	-ibooks-line-hints: textShape-726 p url(../hints/content24-paginated.plist) 467 1;
}
#textShape-3038{
	-ibooks-line-hints: textShape-3038 p url(../hints/content24-paginated.plist) 481 1;
}
#textShape-3037{
	-ibooks-line-hints: textShape-3037 p url(../hints/content24-paginated.plist) 478 1;
}
#textShape-742{
	-ibooks-line-hints: textShape-742 p url(../hints/content24-paginated.plist) 480 1;
}
#textShape-3036{
	-ibooks-line-hints: textShape-3036 p url(../hints/content24-paginated.plist) 475 1;
}
#textShape-3047{
	-ibooks-line-hints: textShape-3047 p url(../hints/content24-paginated.plist) 489 1;
}
#textShape-3048{
	-ibooks-line-hints: textShape-3048 p url(../hints/content24-paginated.plist) 492 1;
}
#textShape-746{
	-ibooks-line-hints: textShape-746 p url(../hints/content24-paginated.plist) 483 1;
}
#textShape-3049{
	-ibooks-line-hints: textShape-3049 p url(../hints/content24-paginated.plist) 494 1;
}
#textShape-189{
	-ibooks-line-hints: textShape-189 p url(../hints/content24-paginated.plist) 448 1;
}
#textShape-3080{
	-ibooks-line-hints: textShape-3080 p url(../hints/content24-paginated.plist) 496 1;
}
#textShape-3081{
	-ibooks-line-hints: textShape-3081 p url(../hints/content24-paginated.plist) 498 1;
}
#textShape-2998{
	-ibooks-line-hints: textShape-2998 p url(../hints/content24-paginated.plist) 446 1;
}
#textShape-3082{
	-ibooks-line-hints: textShape-3082 p url(../hints/content24-paginated.plist) 500 1;
}
@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1370)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 210.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-33)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-33 p url(../hints/content24-paginated.plist) 0 6;
		height: 755.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 249.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-103)
	{
		height: 54.000pt;
		left: 60.000pt;
		top: 153.000pt;
		width: 648.000pt;
		z-index: 3;
	}
	::slot(textShape-104)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-105)
	{
		height: 33.000pt;
		left: 60.000pt;
		top: 129.000pt;
		width: 560.000pt;
		z-index: 5;
	}
	::slot(frame-0)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 515.000pt;
		left: 60.000pt;
		top: 488.000pt;
		width: 638.000pt;
		z-index: 6;
	}
	::slot(image-440)
	{
		height: 29.000pt;
		left: 368.000pt;
		top: 948.000pt;
		width: 29.000pt;
		z-index: 7;
	}
	-ibooks-positioned-slots: textShape-1370, textShape-103, textShape-104, textShape-105, frame-0, image-440, body(textShape-33);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-9)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-106)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-106 p url(../hints/content24-paginated.plist) 6 9;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-119)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-179)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-180)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-2998)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	::slot(frame-72)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 483.000pt;
		left: 40.000pt;
		top: 284.000pt;
		width: 678.000pt;
		z-index: 7;
	}
	::slot(textShape-2384)
	{
		height: 30.000pt;
		left: 309.000pt;
		top: 422.000pt;
		width: 205.000pt;
		z-index: 8;
	}
	::slot(textShape-2385)
	{
		height: 0.000pt;
		left: 514.000pt;
		top: 436.000pt;
		width: 25.507pt;
		z-index: 9;
	}
	::slot(image-831)
	{
		height: 34.167pt;
		left: 529.000pt;
		top: 420.000pt;
		width: 32.500pt;
		z-index: 10;
	}
	::slot(image-1119)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 688.000pt;
		width: 32.000pt;
		z-index: 11;
	}
	::slot(viewport-popup-94)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 134.000pt;
		left: 281.000pt;
		top: 485.167pt;
		width: 473.000pt;
		z-index: 12;
	}
	-ibooks-positioned-slots: image-9, textShape-119, textShape-179, textShape-180, textShape-2998, frame-72, textShape-2384, textShape-2385, image-831, image-1119, viewport-popup-94, body(textShape-106);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-10)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-181)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-181 p url(../hints/content24-paginated.plist) 15 8;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-188)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-189)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-191)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-2999)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	::slot(frame-73)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 492.000pt;
		left: 40.000pt;
		top: 226.000pt;
		width: 677.000pt;
		z-index: 7;
	}
	::slot(textShape-2387)
	{
		height: 0.000pt;
		left: 237.000pt;
		top: 383.000pt;
		width: 25.507pt;
		z-index: 8;
	}
	::slot(image-833)
	{
		height: 34.167pt;
		left: 213.000pt;
		top: 367.000pt;
		width: 32.500pt;
		z-index: 9;
	}
	::slot(textShape-2389)
	{
		height: 251.000pt;
		left: 261.000pt;
		top: 289.000pt;
		width: 336.000pt;
		z-index: 10;
	}
	::slot(image-1120)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 629.000pt;
		width: 32.000pt;
		z-index: 11;
	}
	::slot(viewport-popup-95)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 476.000pt;
		left: 149.000pt;
		top: 493.167pt;
		width: 635.000pt;
		z-index: 12;
	}
	-ibooks-positioned-slots: image-10, textShape-188, textShape-189, textShape-191, textShape-2999, frame-73, textShape-2387, image-833, textShape-2389, image-1120, viewport-popup-95, body(textShape-181);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-11)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-194)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-194 p url(../hints/content24-paginated.plist) 23 7;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 668.000pt;
		z-index: 2;
	}
	::slot(textShape-304)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-312)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-313)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-3000)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	::slot(frame-129)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 493.000pt;
		left: 40.000pt;
		top: 218.000pt;
		width: 678.000pt;
		z-index: 7;
	}
	::slot(textShape-2391)
	{
		height: 0.000pt;
		left: 493.000pt;
		top: 561.000pt;
		width: 25.507pt;
		z-index: 8;
	}
	::slot(textShape-2393)
	{
		height: 144.000pt;
		left: 518.000pt;
		top: 460.000pt;
		width: 116.000pt;
		z-index: 9;
	}
	::slot(image-835)
	{
		height: 34.167pt;
		left: 470.000pt;
		top: 545.000pt;
		width: 32.500pt;
		z-index: 10;
	}
	::slot(image-1121)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 622.000pt;
		width: 32.000pt;
		z-index: 11;
	}
	::slot(viewport-popup-96)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 383.000pt;
		left: 599.250pt;
		top: 195.000pt;
		width: 298.000pt;
		z-index: 12;
	}
	-ibooks-positioned-slots: image-11, textShape-304, textShape-312, textShape-313, textShape-3000, frame-129, textShape-2391, textShape-2393, image-835, image-1121, viewport-popup-96, body(textShape-194);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-12)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-333)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-333 p url(../hints/content24-paginated.plist) 30 5;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-357)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-358)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-380)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-3002)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	::slot(frame-130)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 447.000pt;
		left: 40.000pt;
		top: 174.000pt;
		width: 678.000pt;
		z-index: 7;
	}
	::slot(textShape-2394)
	{
		height: 0.000pt;
		left: 604.000pt;
		top: 350.000pt;
		width: 25.507pt;
		z-index: 8;
	}
	::slot(textShape-2396)
	{
		height: 113.000pt;
		left: 630.000pt;
		top: 297.000pt;
		width: 77.000pt;
		z-index: 9;
	}
	::slot(image-837)
	{
		height: 34.167pt;
		left: 582.000pt;
		top: 334.000pt;
		width: 32.500pt;
		z-index: 10;
	}
	::slot(image-1122)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 577.000pt;
		width: 32.000pt;
		z-index: 11;
	}
	::slot(viewport-popup-97)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 358.000pt;
		left: 610.250pt;
		top: 415.167pt;
		width: 238.000pt;
		z-index: 12;
	}
	-ibooks-positioned-slots: image-12, textShape-357, textShape-358, textShape-380, textShape-3002, frame-130, textShape-2394, textShape-2396, image-837, image-1122, viewport-popup-97, body(textShape-333);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-13)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-381)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-381 p url(../hints/content24-paginated.plist) 35 5;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 655.000pt;
		z-index: 2;
	}
	::slot(textShape-383)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-387)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-715)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-3003)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	::slot(frame-131)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 431.000pt;
		left: 40.000pt;
		top: 144.000pt;
		width: 678.000pt;
		z-index: 7;
	}
	::slot(textShape-2397)
	{
		height: 0.000pt;
		left: 601.000pt;
		top: 317.000pt;
		width: 25.507pt;
		z-index: 8;
	}
	::slot(textShape-2398)
	{
		height: 31.000pt;
		left: 627.000pt;
		top: 301.000pt;
		width: 80.000pt;
		z-index: 9;
	}
	::slot(image-839)
	{
		height: 34.167pt;
		left: 579.000pt;
		top: 301.000pt;
		width: 32.500pt;
		z-index: 10;
	}
	::slot(image-1123)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 549.000pt;
		width: 32.000pt;
		z-index: 11;
	}
	::slot(viewport-popup-98)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 149.000pt;
		left: 442.750pt;
		top: 366.167pt;
		width: 307.000pt;
		z-index: 12;
	}
	-ibooks-positioned-slots: image-13, textShape-383, textShape-387, textShape-715, textShape-3003, frame-131, textShape-2397, textShape-2398, image-839, image-1123, viewport-popup-98, body(textShape-381);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-14)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-716)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-716 p url(../hints/content24-paginated.plist) 40 5;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-717)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-718)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-719)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-3004)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	::slot(frame-132)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 473.000pt;
		left: 40.000pt;
		top: 189.000pt;
		width: 678.000pt;
		z-index: 7;
	}
	::slot(group-2-gen)
	{
		height: 350.000pt;
		left: 215.000pt;
		top: 274.000pt;
		width: 379.000pt;
		z-index: 8;
	}
	::slot(viewport-popup-99)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 460.000pt;
		left: 85.000pt;
		top: 390.167pt;
		width: 599.000pt;
		z-index: 9;
	}
	-ibooks-positioned-slots: image-14, textShape-717, textShape-718, textShape-719, textShape-3004, frame-132, group-2-gen, viewport-popup-99, body(textShape-716);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-36)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-720)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-720 p url(../hints/content24-paginated.plist) 45 9;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-721)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-722)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-723)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-3005)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	::slot(frame-133)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 469.000pt;
		left: 40.000pt;
		top: 257.000pt;
		width: 678.000pt;
		z-index: 7;
	}
	::slot(textShape-2403)
	{
		height: 0.000pt;
		left: 256.000pt;
		top: 347.000pt;
		width: 25.507pt;
		z-index: 8;
	}
	::slot(textShape-2404)
	{
		height: 87.000pt;
		left: 157.000pt;
		top: 304.000pt;
		width: 99.000pt;
		z-index: 9;
	}
	::slot(image-843)
	{
		height: 34.167pt;
		left: 271.000pt;
		top: 331.000pt;
		width: 32.500pt;
		z-index: 10;
	}
	::slot(textShape-3063)
	{
		height: 0.000pt;
		left: 580.000pt;
		top: 337.000pt;
		width: 25.507pt;
		z-index: 11;
	}
	::slot(textShape-3064)
	{
		height: 39.000pt;
		left: 605.000pt;
		top: 319.000pt;
		width: 102.000pt;
		z-index: 12;
	}
	::slot(image-1066)
	{
		height: 34.167pt;
		left: 555.000pt;
		top: 321.000pt;
		width: 32.500pt;
		z-index: 13;
	}
	::slot(image-1125)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 661.000pt;
		width: 32.000pt;
		z-index: 14;
	}
	::slot(viewport-popup-100)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 335.000pt;
		left: 123.750pt;
		top: 434.167pt;
		width: 329.000pt;
		z-index: 15;
	}
	::slot(viewport-popup-168)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 159.000pt;
		left: 388.000pt;
		top: 424.167pt;
		width: 366.000pt;
		z-index: 16;
	}
	-ibooks-positioned-slots: image-36, textShape-721, textShape-722, textShape-723, textShape-3005, frame-133, textShape-2403, textShape-2404, image-843, textShape-3063, textShape-3064, image-1066, image-1125, viewport-popup-100, viewport-popup-168, body(textShape-720);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-38)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-724)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-724 p url(../hints/content24-paginated.plist) 54 4;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-725)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-726)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-727)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-3006)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	::slot(frame-140)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 431.000pt;
		left: 40.000pt;
		top: 145.000pt;
		width: 678.000pt;
		z-index: 7;
	}
	::slot(textShape-2409)
	{
		height: 0.000pt;
		left: 580.000pt;
		top: 204.000pt;
		width: 25.507pt;
		z-index: 8;
	}
	::slot(textShape-2410)
	{
		height: 69.000pt;
		left: 605.000pt;
		top: 170.000pt;
		width: 103.000pt;
		z-index: 9;
	}
	::slot(image-845)
	{
		height: 34.167pt;
		left: 554.000pt;
		top: 188.000pt;
		width: 32.500pt;
		z-index: 10;
	}
	::slot(image-1137)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 549.000pt;
		width: 32.000pt;
		z-index: 11;
	}
	::slot(textShape-1986)
	{
		height: 0.000pt;
		left: 256.000pt;
		top: 219.000pt;
		width: 25.507pt;
		z-index: 12;
	}
	::slot(textShape-1997)
	{
		height: 89.000pt;
		left: 157.000pt;
		top: 192.000pt;
		width: 99.000pt;
		z-index: 13;
	}
	::slot(image-1314)
	{
		height: 34.167pt;
		left: 271.000pt;
		top: 203.000pt;
		width: 32.500pt;
		z-index: 14;
	}
	::slot(viewport-popup-101)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 209.000pt;
		left: 553.750pt;
		top: 253.167pt;
		width: 283.000pt;
		z-index: 15;
	}
	::slot(viewport-popup-181)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 255.000pt;
		left: 280.250pt;
		top: 268.167pt;
		width: 264.000pt;
		z-index: 16;
	}
	-ibooks-positioned-slots: image-38, textShape-725, textShape-726, textShape-727, textShape-3006, frame-140, textShape-2409, textShape-2410, image-845, image-1137, textShape-1986, textShape-1997, image-1314, viewport-popup-101, viewport-popup-181, body(textShape-724);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-40)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-728)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-728 p url(../hints/content24-paginated.plist) 58 6;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-729)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-730)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-731)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-3007)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	::slot(frame-141)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 472.000pt;
		left: 40.000pt;
		top: 149.000pt;
		width: 678.000pt;
		z-index: 7;
	}
	::slot(textShape-2412)
	{
		height: 0.000pt;
		left: 501.000pt;
		top: 439.000pt;
		width: 25.507pt;
		z-index: 8;
	}
	::slot(textShape-2413)
	{
		height: 142.000pt;
		left: 527.000pt;
		top: 400.000pt;
		width: 102.000pt;
		z-index: 9;
	}
	::slot(image-847)
	{
		height: 34.167pt;
		left: 475.000pt;
		top: 423.000pt;
		width: 32.500pt;
		z-index: 10;
	}
	::slot(image-1138)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 552.000pt;
		width: 32.000pt;
		z-index: 11;
	}
	::slot(viewport-popup-102)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 375.000pt;
		left: 353.250pt;
		top: 529.167pt;
		width: 278.000pt;
		z-index: 12;
	}
	-ibooks-positioned-slots: image-40, textShape-729, textShape-730, textShape-731, textShape-3007, frame-141, textShape-2412, textShape-2413, image-847, image-1138, viewport-popup-102, body(textShape-728);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-41)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-732)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-732 p url(../hints/content24-paginated.plist) 64 5;
		height: 896.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 668.000pt;
		z-index: 2;
	}
	::slot(textShape-733)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-734)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-735)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-3036)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	::slot(frame-142)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 469.000pt;
		left: 40.000pt;
		top: 152.000pt;
		width: 678.000pt;
		z-index: 7;
	}
	::slot(textShape-2415)
	{
		height: 0.000pt;
		left: 256.000pt;
		top: 232.000pt;
		width: 25.507pt;
		z-index: 8;
	}
	::slot(textShape-2416)
	{
		height: 185.000pt;
		left: 157.000pt;
		top: 198.000pt;
		width: 99.000pt;
		z-index: 9;
	}
	::slot(image-849)
	{
		height: 34.167pt;
		left: 271.000pt;
		top: 216.000pt;
		width: 32.500pt;
		z-index: 10;
	}
	::slot(image-1139)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 554.000pt;
		width: 32.000pt;
		z-index: 11;
	}
	::slot(viewport-popup-103)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 543.000pt;
		left: 139.750pt;
		top: 320.167pt;
		width: 297.000pt;
		z-index: 12;
	}
	-ibooks-positioned-slots: image-41, textShape-733, textShape-734, textShape-735, textShape-3036, frame-142, textShape-2415, textShape-2416, image-849, image-1139, viewport-popup-103, body(textShape-732);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-42)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-736)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-736 p url(../hints/content24-paginated.plist) 69 5;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-737)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-738)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-739)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-3037)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	::slot(frame-143)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 444.000pt;
		left: 40.000pt;
		top: 154.000pt;
		width: 678.000pt;
		z-index: 7;
	}
	::slot(textShape-2422)
	{
		height: 0.000pt;
		left: 256.000pt;
		top: 222.000pt;
		width: 25.507pt;
		z-index: 8;
	}
	::slot(textShape-2423)
	{
		height: 312.000pt;
		left: 157.000pt;
		top: 201.000pt;
		width: 99.000pt;
		z-index: 9;
	}
	::slot(image-851)
	{
		height: 34.167pt;
		left: 276.000pt;
		top: 206.000pt;
		width: 32.500pt;
		z-index: 10;
	}
	::slot(image-1140)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 557.000pt;
		width: 32.000pt;
		z-index: 11;
	}
	::slot(viewport-popup-104)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 720.000pt;
		left: 339.500pt;
		top: 16.000pt;
		width: 247.000pt;
		z-index: 12;
	}
	-ibooks-positioned-slots: image-42, textShape-737, textShape-738, textShape-739, textShape-3037, frame-143, textShape-2422, textShape-2423, image-851, image-1140, viewport-popup-104, body(textShape-736);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-51)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-740)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-740 p url(../hints/content24-paginated.plist) 74 9;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 668.000pt;
		z-index: 2;
	}
	::slot(textShape-741)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-742)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-743)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-3038)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	::slot(frame-144)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 472.000pt;
		left: 40.000pt;
		top: 172.000pt;
		width: 678.000pt;
		z-index: 7;
	}
	::slot(textShape-2425)
	{
		height: 0.000pt;
		left: 591.000pt;
		top: 327.000pt;
		width: 25.507pt;
		z-index: 8;
	}
	::slot(textShape-2434)
	{
		height: 244.000pt;
		left: 265.000pt;
		top: 258.000pt;
		width: 326.000pt;
		z-index: 9;
	}
	::slot(image-858)
	{
		height: 34.167pt;
		left: 608.000pt;
		top: 311.000pt;
		width: 32.500pt;
		z-index: 10;
	}
	::slot(image-1141)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 575.000pt;
		width: 32.000pt;
		z-index: 11;
	}
	::slot(viewport-popup-105)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 510.000pt;
		left: 80.000pt;
		top: 417.167pt;
		width: 674.000pt;
		z-index: 12;
	}
	-ibooks-positioned-slots: image-51, textShape-741, textShape-742, textShape-743, textShape-3038, frame-144, textShape-2425, textShape-2434, image-858, image-1141, viewport-popup-105, body(textShape-740);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-195)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-744)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-744 p url(../hints/content24-paginated.plist) 83 25;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 666.000pt;
		z-index: 2;
	}
	::slot(textShape-745)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-746)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-747)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-3043)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	-ibooks-positioned-slots: image-195, textShape-745, textShape-746, textShape-747, textShape-3043, body(textShape-744);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-197)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-748)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-748 p url(../hints/content24-paginated.plist) 108 14;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-749)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-750)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-751)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-3044)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	::slot(frame-75)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 452.000pt;
		left: 40.000pt;
		top: 123.000pt;
		width: 677.000pt;
		z-index: 7;
	}
	::slot(textShape-2436)
	{
		height: 0.000pt;
		left: 628.000pt;
		top: 321.000pt;
		width: 25.507pt;
		z-index: 8;
	}
	::slot(textShape-2437)
	{
		height: 200.000pt;
		left: 175.000pt;
		top: 252.000pt;
		width: 453.000pt;
		z-index: 9;
	}
	::slot(image-860)
	{
		height: 33.000pt;
		left: 643.110pt;
		top: 305.583pt;
		width: 31.390pt;
		z-index: 10;
	}
	::slot(image-1142)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 525.000pt;
		width: 32.000pt;
		z-index: 11;
	}
	::slot(viewport-popup-106)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 318.000pt;
		left: 205.000pt;
		top: 369.583pt;
		width: 721.000pt;
		z-index: 12;
	}
	-ibooks-positioned-slots: image-197, textShape-749, textShape-750, textShape-751, textShape-3044, frame-75, textShape-2436, textShape-2437, image-860, image-1142, viewport-popup-106, body(textShape-748);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-198)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-752)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-752 p url(../hints/content24-paginated.plist) 122 8;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-753)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-754)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-755)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-3047)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	::slot(frame-145)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 431.000pt;
		left: 40.000pt;
		top: 225.000pt;
		width: 678.000pt;
		z-index: 7;
	}
	::slot(textShape-2492)
	{
		height: 0.000pt;
		left: 619.000pt;
		top: 458.000pt;
		width: 25.507pt;
		z-index: 8;
	}
	::slot(textShape-2493)
	{
		height: 125.000pt;
		left: 190.000pt;
		top: 405.000pt;
		width: 429.000pt;
		z-index: 9;
	}
	::slot(image-868)
	{
		height: 34.167pt;
		left: 633.000pt;
		top: 442.000pt;
		width: 32.500pt;
		z-index: 10;
	}
	::slot(image-593)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 624.000pt;
		width: 32.000pt;
		z-index: 11;
	}
	::slot(viewport-popup-107)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 239.000pt;
		left: 148.000pt;
		top: 507.167pt;
		width: 721.000pt;
		z-index: 12;
	}
	-ibooks-positioned-slots: image-198, textShape-753, textShape-754, textShape-755, textShape-3047, frame-145, textShape-2492, textShape-2493, image-868, image-593, viewport-popup-107, body(textShape-752);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-199)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-756)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-756 p url(../hints/content24-paginated.plist) 130 22;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 666.000pt;
		z-index: 2;
	}
	::slot(textShape-757)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-758)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-759)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-3048)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	-ibooks-positioned-slots: image-199, textShape-757, textShape-758, textShape-759, textShape-3048, body(textShape-756);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-263)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-1110)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1110 p url(../hints/content24-paginated.plist) 152 27;
		height: 908.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 669.000pt;
		z-index: 2;
	}
	::slot(textShape-1114)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-1116)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-1118)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-3049)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	-ibooks-positioned-slots: image-263, textShape-1114, textShape-1116, textShape-1118, textShape-3049, body(textShape-1110);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-320)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-1120)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1120 p url(../hints/content24-paginated.plist) 179 22;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 664.000pt;
		z-index: 2;
	}
	::slot(textShape-1122)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-1126)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-1128)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-3080)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	-ibooks-positioned-slots: image-320, textShape-1122, textShape-1126, textShape-1128, textShape-3080, body(textShape-1120);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-321)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-1129)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1129 p url(../hints/content24-paginated.plist) 201 15;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-1130)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-1131)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-1132)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-3081)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	-ibooks-positioned-slots: image-321, textShape-1130, textShape-1131, textShape-1132, textShape-3081, body(textShape-1129);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-322)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-1134)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1134 p url(../hints/content24-paginated.plist) 216 25;
		height: 898.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-1135)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-1136)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-1137)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-3082)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	-ibooks-positioned-slots: image-322, textShape-1135, textShape-1136, textShape-1137, textShape-3082, body(textShape-1134);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-323)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-1138)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1138 p url(../hints/content24-paginated.plist) 241 30;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-1140)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-1141)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-1142)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-3083)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	-ibooks-positioned-slots: image-323, textShape-1140, textShape-1141, textShape-1142, textShape-3083, body(textShape-1138);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-950)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-2783)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-2783 p url(../hints/content24-paginated.plist) 271 24;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-2787)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-2791)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-2795)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-3084)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	-ibooks-positioned-slots: image-950, textShape-2787, textShape-2791, textShape-2795, textShape-3084, body(textShape-2783);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-953)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-2799)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-2799 p url(../hints/content24-paginated.plist) 295 30;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 670.000pt;
		z-index: 2;
	}
	::slot(textShape-2803)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-2807)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-2811)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-3091)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	-ibooks-positioned-slots: image-953, textShape-2803, textShape-2807, textShape-2811, textShape-3091, body(textShape-2799);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-399)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-1876)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1876 p url(../hints/content24-paginated.plist) 325 24;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-1877)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-1878)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-1879)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-3092)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	-ibooks-positioned-slots: image-399, textShape-1877, textShape-1878, textShape-1879, textShape-3092, body(textShape-1876);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-420)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-1885)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1885 p url(../hints/content24-paginated.plist) 349 28;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-1886)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-1887)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-1888)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-3093)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	-ibooks-positioned-slots: image-420, textShape-1886, textShape-1887, textShape-1888, textShape-3093, body(textShape-1885);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-431)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-1889)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1889 p url(../hints/content24-paginated.plist) 377 23;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-1890)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-1891)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-1892)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-3094)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	-ibooks-positioned-slots: image-431, textShape-1890, textShape-1891, textShape-1892, textShape-3094, body(textShape-1889);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-436)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-1893)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1893 p url(../hints/content24-paginated.plist) 400 29;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-1894)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-1895)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-1897)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-3095)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	-ibooks-positioned-slots: image-436, textShape-1894, textShape-1895, textShape-1897, textShape-3095, body(textShape-1893);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(image-437)
	{
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-1898)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1898 p url(../hints/content24-paginated.plist) 429 14;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-1899)
	{
		height: 0.000pt;
		left: -0.500pt;
		top: 32.000pt;
		width: 1024.500pt;
		z-index: 3;
	}
	::slot(textShape-1900)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-1901)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 5;
	}
	::slot(textShape-3096)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 6;
	}
	-ibooks-positioned-slots: image-437, textShape-1899, textShape-1900, textShape-1901, textShape-3096, body(textShape-1898);
}

