@namespace ibooks "http://www.apple.com/2011/iBooks";
#textShape-1236{
	-ibooks-line-hints: textShape-1236 p url(../hints/content33-paginated.plist) 220 1;
}
#textShape-3813{
	-ibooks-line-hints: textShape-3813 p url(../hints/content33-paginated.plist) 241 1;
}
#textShape-3807{
	-ibooks-line-hints: textShape-3807 p url(../hints/content33-paginated.plist) 219 1;
}
#textShape-1180{
	-ibooks-line-hints: textShape-1180 p url(../hints/content33-paginated.plist) 181 1;
}
#textShape-1740{
	-ibooks-line-hints: textShape-1740 p url(../hints/content33-paginated.plist) 246 1;
}
#textShape-1200{
	-ibooks-line-hints: textShape-1200 p url(../hints/content33-paginated.plist) 209 1;
}
#textShape-1946{
	-ibooks-line-hints: textShape-1946 p url(../hints/content33-paginated.plist) 180 1;
}
#textShape-1190{
	-ibooks-line-hints: textShape-1190 p url(../hints/content33-paginated.plist) 201 1;
}
#textShape-3802{
	-ibooks-line-hints: textShape-3802 p url(../hints/content33-paginated.plist) 204 1;
}
#textShape-1178{
	-ibooks-line-hints: textShape-1178 p url(../hints/content33-paginated.plist) 179 1;
}
#textShape-1717{
	-ibooks-line-hints: textShape-1717 p url(../hints/content33-paginated.plist) 243 1;
}
#textShape-3812{
	-ibooks-line-hints: textShape-3812 p url(../hints/content33-paginated.plist) 237 1;
}
#textShape-3806{
	-ibooks-line-hints: textShape-3806 p url(../hints/content33-paginated.plist) 217 1;
}
#textShape-1908{
	-ibooks-line-hints: textShape-1908 p url(../hints/content33-paginated.plist) 248 1;
}
#textShape-3816{
	-ibooks-line-hints: textShape-3816 p url(../hints/content33-paginated.plist) 249 1;
}
#textShape-1224{
	-ibooks-line-hints: textShape-1224 p url(../hints/content33-paginated.plist) 218 1;
}
#textShape-1183{
	-ibooks-line-hints: textShape-1183 p url(../hints/content33-paginated.plist) 183 1;
}
#textShape-1177{
	-ibooks-line-hints: textShape-1177 p url(../hints/content33-paginated.plist) 178 1;
}
#textShape-3801{
	-ibooks-line-hints: textShape-3801 p url(../hints/content33-paginated.plist) 202 1;
}
#textShape-1271{
	-ibooks-line-hints: textShape-1271 p url(../hints/content33-paginated.plist) 236 1;
}
#textShape-1187{
	-ibooks-line-hints: textShape-1187 p url(../hints/content33-paginated.plist) 193 1;
}
#textShape-3805{
	-ibooks-line-hints: textShape-3805 p url(../hints/content33-paginated.plist) 213 1;
}
#textShape-1193{
	-ibooks-line-hints: textShape-1193 p url(../hints/content33-paginated.plist) 203 1;
}
#textShape-1250{
	-ibooks-line-hints: textShape-1250 p url(../hints/content33-paginated.plist) 226 1;
}
#textShape-3811{
	-ibooks-line-hints: textShape-3811 p url(../hints/content33-paginated.plist) 235 1;
}
#textShape-1197{
	-ibooks-line-hints: textShape-1197 p url(../hints/content33-paginated.plist) 206 1;
}
#textShape-1705{
	-ibooks-line-hints: textShape-1705 p url(../hints/content33-paginated.plist) 240 1;
}
#textShape-3809{
	-ibooks-line-hints: textShape-3809 p url(../hints/content33-paginated.plist) 227 1;
}
#textShape-3815{
	-ibooks-line-hints: textShape-3815 p url(../hints/content33-paginated.plist) 247 1;
}
#textShape-1254{
	-ibooks-line-hints: textShape-1254 p url(../hints/content33-paginated.plist) 228 1;
}
#textShape-3800{
	-ibooks-line-hints: textShape-3800 p url(../hints/content33-paginated.plist) 194 1;
}
#textShape-3799{
	-ibooks-line-hints: textShape-3799 p url(../hints/content33-paginated.plist) 184 1;
}
#textShape-3810{
	-ibooks-line-hints: textShape-3810 p url(../hints/content33-paginated.plist) 229 1;
}
#textShape-3804{
	-ibooks-line-hints: textShape-3804 p url(../hints/content33-paginated.plist) 210 1;
}
#textShape-1212{
	-ibooks-line-hints: textShape-1212 p url(../hints/content33-paginated.plist) 216 1;
}
#textShape-1206{
	-ibooks-line-hints: textShape-1206 p url(../hints/content33-paginated.plist) 212 1;
}
#textShape-3814{
	-ibooks-line-hints: textShape-3814 p url(../hints/content33-paginated.plist) 244 1;
}
#textShape-3808{
	-ibooks-line-hints: textShape-3808 p url(../hints/content33-paginated.plist) 221 1;
}
#textShape-3798{
	-ibooks-line-hints: textShape-3798 p url(../hints/content33-paginated.plist) 182 1;
}
#textShape-1263{
	-ibooks-line-hints: textShape-1263 p url(../hints/content33-paginated.plist) 234 1;
}
#textShape-3803{
	-ibooks-line-hints: textShape-3803 p url(../hints/content33-paginated.plist) 207 1;
}
@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1175)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 210.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-1176)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1176 p url(../hints/content33-paginated.plist) 0 24;
		height: 696.000pt;
		left: 60.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 249.000pt;
		width: 648.000pt;
		z-index: 2;
	}
	::slot(textShape-1177)
	{
		height: 54.000pt;
		left: 60.000pt;
		top: 153.000pt;
		width: 648.000pt;
		z-index: 3;
	}
	::slot(textShape-1178)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-1946)
	{
		height: 33.000pt;
		left: 60.000pt;
		top: 129.000pt;
		width: 377.000pt;
		z-index: 5;
	}
	::slot(image-631)
	{
		height: 25.000pt;
		left: 25.000pt;
		top: 254.000pt;
		width: 25.000pt;
		z-index: 6;
	}
	-ibooks-positioned-slots: textShape-1175, textShape-1177, textShape-1178, textShape-1946, image-631, body(textShape-1176);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1179)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1179 p url(../hints/content33-paginated.plist) 24 16;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 1;
	}
	::slot(textShape-1180)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-1181)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 3;
	}
	::slot(textShape-3798)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(textShape-2684)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 231.000pt;
		left: 50.000pt;
		top: 173.000pt;
		width: 661.000pt;
		z-index: 5;
	}
	::slot(frame-70)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 278.000pt;
		left: 41.000pt;
		top: 140.000pt;
		width: 678.000pt;
		z-index: 6;
	}
	::slot(image-453)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 377.000pt;
		width: 32.000pt;
		z-index: 7;
	}
	-ibooks-positioned-slots: textShape-1180, textShape-1181, textShape-3798, textShape-2684, frame-70, image-453, body(textShape-1179);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1182)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1182 p url(../hints/content33-paginated.plist) 40 1;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 1;
	}
	::slot(textShape-1183)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-1185)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 3;
	}
	::slot(textShape-3799)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(gallery-34)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 639.000pt;
		left: 50.500pt;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 5;
	}
	::slot(image-454)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 1065.000pt;
		width: 32.000pt;
		z-index: 6;
	}
	-ibooks-positioned-slots: textShape-1183, textShape-1185, textShape-3799, gallery-34, image-454, body(textShape-1182);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1186)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1186 p url(../hints/content33-paginated.plist) 41 2;
		height: 903.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 1;
	}
	::slot(textShape-1187)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-1188)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 3;
	}
	::slot(textShape-3800)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(gallery-35)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 569.000pt;
		left: 50.500pt;
		top: 112.000pt;
		width: 658.000pt;
		z-index: 5;
	}
	-ibooks-positioned-slots: textShape-1187, textShape-1188, textShape-3800, gallery-35, body(textShape-1186);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1189)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1189 p url(../hints/content33-paginated.plist) 43 9;
		height: 929.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 1;
	}
	::slot(textShape-1190)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-1191)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 3;
	}
	::slot(textShape-3801)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(table-5)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 622.000pt;
		left: 226.000pt;
		top: 313.010pt;
		width: 285.000pt;
		z-index: 5;
	}
	::slot(image-392)
	{
		height: 40.385pt;
		left: 404.000pt;
		top: 880.323pt;
		width: 75.000pt;
		z-index: 6;
	}
	::slot(image-561)
	{
		height: 40.385pt;
		left: 404.000pt;
		top: 833.462pt;
		width: 75.000pt;
		z-index: 7;
	}
	::slot(image-1038)
	{
		height: 40.385pt;
		left: 404.000pt;
		top: 785.538pt;
		width: 75.000pt;
		z-index: 8;
	}
	::slot(image-1052)
	{
		height: 40.385pt;
		left: 404.000pt;
		top: 739.323pt;
		width: 75.000pt;
		z-index: 9;
	}
	::slot(image-1053)
	{
		height: 40.385pt;
		left: 404.000pt;
		top: 692.077pt;
		width: 75.000pt;
		z-index: 10;
	}
	::slot(image-1054)
	{
		height: 40.385pt;
		left: 404.000pt;
		top: 645.315pt;
		width: 75.000pt;
		z-index: 11;
	}
	::slot(image-1060)
	{
		height: 40.385pt;
		left: 404.000pt;
		top: 598.908pt;
		width: 75.000pt;
		z-index: 12;
	}
	::slot(image-1062)
	{
		height: 40.385pt;
		left: 404.000pt;
		top: 552.500pt;
		width: 75.000pt;
		z-index: 13;
	}
	::slot(image-1063)
	{
		height: 40.385pt;
		left: 404.000pt;
		top: 505.577pt;
		width: 75.000pt;
		z-index: 14;
	}
	::slot(image-1068)
	{
		height: 40.385pt;
		left: 404.000pt;
		top: 457.462pt;
		width: 75.000pt;
		z-index: 15;
	}
	::slot(image-1069)
	{
		height: 40.385pt;
		left: 404.000pt;
		top: 410.054pt;
		width: 75.000pt;
		z-index: 16;
	}
	::slot(image-1070)
	{
		height: 40.385pt;
		left: 404.000pt;
		top: 362.000pt;
		width: 75.000pt;
		z-index: 17;
	}
	-ibooks-positioned-slots: textShape-1190, textShape-1191, textShape-3801, table-5, image-392, image-561, image-1038, image-1052, image-1053, image-1054, image-1060, image-1062, image-1063, image-1068, image-1069, image-1070, body(textShape-1189);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1192)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1192 p url(../hints/content33-paginated.plist) 52 9;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 657.000pt;
		z-index: 1;
	}
	::slot(textShape-1193)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-1194)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 3;
	}
	::slot(textShape-3802)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(frame-91)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 456.000pt;
		left: 40.000pt;
		top: 120.000pt;
		width: 678.000pt;
		z-index: 5;
	}
	::slot(textShape-2647)
	{
		height: 43.352pt;
		left: 579.000pt;
		top: 300.000pt;
		width: 0.000pt;
		z-index: 6;
	}
	::slot(textShape-2648)
	{
		height: 136.000pt;
		left: 405.000pt;
		top: 164.000pt;
		width: 303.000pt;
		z-index: 7;
	}
	::slot(image-928)
	{
		height: 35.000pt;
		left: 562.000pt;
		top: 326.000pt;
		width: 32.500pt;
		z-index: 8;
	}
	::slot(image-1164)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 523.000pt;
		width: 32.000pt;
		z-index: 9;
	}
	::slot(viewport-popup-119)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 350.000pt;
		left: 166.000pt;
		top: 416.000pt;
		width: 642.000pt;
		z-index: 10;
	}
	-ibooks-positioned-slots: textShape-1193, textShape-1194, textShape-3802, frame-91, textShape-2647, textShape-2648, image-928, image-1164, viewport-popup-119, body(textShape-1192);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1195)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1195 p url(../hints/content33-paginated.plist) 61 12;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 1;
	}
	::slot(textShape-1197)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-1198)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 3;
	}
	::slot(textShape-3803)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(frame-92)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 534.000pt;
		left: 40.000pt;
		top: 369.000pt;
		width: 678.000pt;
		z-index: 5;
	}
	::slot(textShape-2686)
	{
		height: 15.121pt;
		left: 657.000pt;
		top: 544.231pt;
		width: 0.000pt;
		z-index: 6;
	}
	::slot(textShape-2687)
	{
		height: 142.000pt;
		left: 606.000pt;
		top: 402.000pt;
		width: 101.000pt;
		z-index: 7;
	}
	::slot(image-940)
	{
		height: 35.000pt;
		left: 640.000pt;
		top: 559.000pt;
		width: 32.500pt;
		z-index: 8;
	}
	::slot(image-1165)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 772.000pt;
		width: 32.000pt;
		z-index: 9;
	}
	::slot(viewport-popup-120)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 447.000pt;
		left: 505.000pt;
		top: 165.000pt;
		width: 324.000pt;
		z-index: 10;
	}
	-ibooks-positioned-slots: textShape-1197, textShape-1198, textShape-3803, frame-92, textShape-2686, textShape-2687, image-940, image-1165, viewport-popup-120, body(textShape-1195);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1199)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1199 p url(../hints/content33-paginated.plist) 73 3;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 1;
	}
	::slot(textShape-1200)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-1201)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 3;
	}
	::slot(textShape-3804)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(frame-189)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 431.000pt;
		left: 40.000pt;
		top: 98.000pt;
		width: 678.000pt;
		z-index: 5;
	}
	::slot(textShape-2705)
	{
		height: 15.121pt;
		left: 652.000pt;
		top: 314.231pt;
		width: 0.000pt;
		z-index: 6;
	}
	::slot(textShape-2706)
	{
		height: 191.000pt;
		left: 606.000pt;
		top: 123.000pt;
		width: 102.000pt;
		z-index: 7;
	}
	::slot(image-942)
	{
		height: 35.000pt;
		left: 635.000pt;
		top: 326.000pt;
		width: 32.500pt;
		z-index: 8;
	}
	::slot(image-1166)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 500.000pt;
		width: 32.000pt;
		z-index: 9;
	}
	::slot(viewport-popup-121)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 489.000pt;
		left: 639.000pt;
		top: 392.000pt;
		width: 268.000pt;
		z-index: 10;
	}
	-ibooks-positioned-slots: textShape-1200, textShape-1201, textShape-3804, frame-189, textShape-2705, textShape-2706, image-942, image-1166, viewport-popup-121, body(textShape-1199);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1204)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1204 p url(../hints/content33-paginated.plist) 76 3;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 1;
	}
	::slot(textShape-1206)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-1207)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 3;
	}
	::slot(textShape-3805)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(frame-190)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 444.000pt;
		left: 40.000pt;
		top: 123.000pt;
		width: 678.000pt;
		z-index: 5;
	}
	::slot(textShape-2708)
	{
		height: 15.121pt;
		left: 655.000pt;
		top: 339.231pt;
		width: 0.000pt;
		z-index: 6;
	}
	::slot(textShape-2711)
	{
		height: 191.000pt;
		left: 605.000pt;
		top: 148.000pt;
		width: 102.000pt;
		z-index: 7;
	}
	::slot(image-944)
	{
		height: 35.000pt;
		left: 638.000pt;
		top: 354.000pt;
		width: 32.500pt;
		z-index: 8;
	}
	::slot(image-1167)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 526.000pt;
		width: 32.000pt;
		z-index: 9;
	}
	::slot(textShape-4018)
	{
		height: 25.000pt;
		left: 417.000pt;
		top: 467.000pt;
		width: 24.000pt;
		z-index: 10;
	}
	::slot(textShape-4019)
	{
		height: 0.000pt;
		left: 442.188pt;
		top: 480.797pt;
		width: 18.750pt;
		z-index: 11;
	}
	::slot(image-1406)
	{
		height: 35.000pt;
		left: 461.000pt;
		top: 461.000pt;
		width: 32.500pt;
		z-index: 12;
	}
	::slot(viewport-popup-122)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 529.000pt;
		left: 527.000pt;
		top: 433.000pt;
		width: 289.000pt;
		z-index: 13;
	}
	::slot(viewport-popup-195)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 201.000pt;
		left: 415.250pt;
		top: 540.000pt;
		width: 254.000pt;
		z-index: 14;
	}
	-ibooks-positioned-slots: textShape-1206, textShape-1207, textShape-3805, frame-190, textShape-2708, textShape-2711, image-944, image-1167, textShape-4018, textShape-4019, image-1406, viewport-popup-122, viewport-popup-195, body(textShape-1204);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1208)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1208 p url(../hints/content33-paginated.plist) 79 13;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 1;
	}
	::slot(textShape-1212)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-1216)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 3;
	}
	::slot(textShape-3806)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(frame-16)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 525.000pt;
		left: 268.000pt;
		top: 422.000pt;
		width: 221.000pt;
		z-index: 5;
	}
	::slot(image-1278)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 846.000pt;
		width: 32.000pt;
		z-index: 6;
	}
	-ibooks-positioned-slots: textShape-1212, textShape-1216, textShape-3806, frame-16, image-1278, body(textShape-1208);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1220)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1220 p url(../hints/content33-paginated.plist) 92 11;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 1;
	}
	::slot(textShape-1224)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-1228)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 3;
	}
	::slot(textShape-3807)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	-ibooks-positioned-slots: textShape-1224, textShape-1228, textShape-3807, body(textShape-1220);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1232)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1232 p url(../hints/content33-paginated.plist) 103 3;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 655.000pt;
		z-index: 1;
	}
	::slot(textShape-1236)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-1243)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 3;
	}
	::slot(textShape-3808)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(gallery-38)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 594.000pt;
		left: 50.000pt;
		top: 191.000pt;
		width: 658.000pt;
		z-index: 5;
	}
	-ibooks-positioned-slots: textShape-1236, textShape-1243, textShape-3808, gallery-38, body(textShape-1232);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1249)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1249 p url(../hints/content33-paginated.plist) 106 8;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 1;
	}
	::slot(textShape-1250)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-1251)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 3;
	}
	::slot(textShape-3809)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	-ibooks-positioned-slots: textShape-1250, textShape-1251, textShape-3809, body(textShape-1249);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1253)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1253 p url(../hints/content33-paginated.plist) 114 1;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 1;
	}
	::slot(textShape-1254)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-1258)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 3;
	}
	::slot(textShape-3810)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(gallery-39)
	{
		height: 637.000pt;
		left: 50.000pt;
		top: 62.000pt;
		width: 661.000pt;
		z-index: 5;
	}
	-ibooks-positioned-slots: textShape-1254, textShape-1258, textShape-3810, gallery-39, body(textShape-1253);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1259)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1259 p url(../hints/content33-paginated.plist) 115 14;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 667.000pt;
		z-index: 1;
	}
	::slot(textShape-1263)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-1268)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 3;
	}
	::slot(textShape-3811)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	-ibooks-positioned-slots: textShape-1263, textShape-1268, textShape-3811, body(textShape-1259);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1270)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1270 p url(../hints/content33-paginated.plist) 129 6;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 676.000pt;
		z-index: 1;
	}
	::slot(textShape-1271)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-1272)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 3;
	}
	::slot(textShape-3812)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(frame-93)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 431.000pt;
		left: 40.000pt;
		top: 55.000pt;
		width: 677.000pt;
		z-index: 5;
	}
	::slot(textShape-1906)
	{
		height: 22.322pt;
		left: 105.000pt;
		top: 199.000pt;
		width: 0.000pt;
		z-index: 6;
	}
	::slot(textShape-2296)
	{
		height: 108.000pt;
		left: 51.000pt;
		top: 91.000pt;
		width: 105.000pt;
		z-index: 7;
	}
	::slot(image-698)
	{
		height: 35.000pt;
		left: 88.000pt;
		top: 213.000pt;
		width: 32.500pt;
		z-index: 8;
	}
	::slot(image-1168)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 454.000pt;
		width: 32.000pt;
		z-index: 9;
	}
	::slot(textShape-2762)
	{
		height: 0.167pt;
		left: 333.932pt;
		top: 152.322pt;
		width: 42.068pt;
		z-index: 10;
	}
	::slot(textShape-2763)
	{
		height: 10.000pt;
		left: 164.000pt;
		top: 148.000pt;
		width: 170.000pt;
		z-index: 11;
	}
	::slot(image-1032)
	{
		height: 35.000pt;
		left: 356.000pt;
		top: 136.000pt;
		width: 32.500pt;
		z-index: 12;
	}
	::slot(viewport-popup-63)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 330.000pt;
		left: 162.000pt;
		top: 279.000pt;
		width: 337.000pt;
		z-index: 13;
	}
	::slot(viewport-popup-163)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 89.000pt;
		left: 284.250pt;
		top: 202.000pt;
		width: 470.000pt;
		z-index: 14;
	}
	-ibooks-positioned-slots: textShape-1271, textShape-1272, textShape-3812, frame-93, textShape-1906, textShape-2296, image-698, image-1168, textShape-2762, textShape-2763, image-1032, viewport-popup-63, viewport-popup-163, body(textShape-1270);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1704)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1704 p url(../hints/content33-paginated.plist) 135 5;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 1;
	}
	::slot(textShape-1705)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-1706)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 3;
	}
	::slot(textShape-3813)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(frame-156)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 431.000pt;
		left: 40.000pt;
		top: 55.000pt;
		width: 677.000pt;
		z-index: 5;
	}
	::slot(textShape-2713)
	{
		height: 0.478pt;
		left: 572.667pt;
		top: 109.844pt;
		width: 31.927pt;
		z-index: 6;
	}
	::slot(textShape-2714)
	{
		height: 51.000pt;
		left: 604.667pt;
		top: 80.000pt;
		width: 102.000pt;
		z-index: 7;
	}
	::slot(image-946)
	{
		height: 35.000pt;
		left: 548.667pt;
		top: 94.000pt;
		width: 32.500pt;
		z-index: 8;
	}
	::slot(image-1169)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 458.000pt;
		width: 32.000pt;
		z-index: 9;
	}
	::slot(viewport-popup-123)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 244.000pt;
		left: 317.000pt;
		top: 160.000pt;
		width: 437.000pt;
		z-index: 10;
	}
	-ibooks-positioned-slots: textShape-1705, textShape-1706, textShape-3813, frame-156, textShape-2713, textShape-2714, image-946, image-1169, viewport-popup-123, body(textShape-1704);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1715)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1715 p url(../hints/content33-paginated.plist) 140 14;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 1;
	}
	::slot(textShape-1717)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-1718)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 3;
	}
	::slot(textShape-3814)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(frame-157)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 431.000pt;
		left: 40.000pt;
		top: 55.000pt;
		width: 677.000pt;
		z-index: 5;
	}
	::slot(textShape-2717)
	{
		height: 34.275pt;
		left: 382.786pt;
		top: 372.745pt;
		width: 0.000pt;
		z-index: 6;
	}
	::slot(textShape-2718)
	{
		height: 205.000pt;
		left: 235.333pt;
		top: 168.000pt;
		width: 286.000pt;
		z-index: 7;
	}
	::slot(image-948)
	{
		height: 35.000pt;
		left: 367.333pt;
		top: 399.000pt;
		width: 32.500pt;
		z-index: 8;
	}
	::slot(image-1170)
	{
		height: 32.000pt;
		left: 368.000pt;
		top: 458.000pt;
		width: 32.000pt;
		z-index: 9;
	}
	::slot(viewport-popup-124)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 458.000pt;
		left: 73.083pt;
		top: 465.000pt;
		width: 623.000pt;
		z-index: 10;
	}
	-ibooks-positioned-slots: textShape-1717, textShape-1718, textShape-3814, frame-157, textShape-2717, textShape-2718, image-948, image-1170, viewport-popup-124, body(textShape-1715);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1719)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1719 p url(../hints/content33-paginated.plist) 154 23;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 1;
	}
	::slot(textShape-1740)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-1741)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 3;
	}
	::slot(textShape-3815)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	-ibooks-positioned-slots: textShape-1740, textShape-1741, textShape-3815, body(textShape-1719);
}

@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1907)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1907 p url(../hints/content33-paginated.plist) 177 1;
		height: 880.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 65.000pt;
		width: 658.000pt;
		z-index: 1;
	}
	::slot(textShape-1908)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 2;
	}
	::slot(textShape-1909)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 32.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 3;
	}
	::slot(textShape-3816)
	{
		height: 20.000pt;
		left: 60.000pt;
		top: 8.000pt;
		width: 648.000pt;
		z-index: 4;
	}
	::slot(review-17)
	{
		height: 511.000pt;
		left: 50.000pt;
		top: 111.000pt;
		width: 648.000pt;
		z-index: 5;
	}
	-ibooks-positioned-slots: textShape-1908, textShape-1909, textShape-3816, review-17, body(textShape-1907);
}

