@namespace ibooks "http://www.apple.com/2011/iBooks";
@font-face{
  font-family: "HanHeiSC-Text";
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/HanHeiSC-Text.otf");
}
@font-face{
  font-family: "SFProDisplay-RegularItalic";
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  src: url("../fonts/SF-Pro-Display-RegularItalic.otf");
}
@font-face{
  font-family: "SFProDisplay-Thin";
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/SF-Pro-Display-Thin.otf");
}
@font-face{
  font-family: "SFHello-Regular";
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/SF-Hello-Regular.otf");
}
@font-face{
  font-family: "SFProDisplay-Semibold";
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/SF-Pro-Display-Semibold.otf");
}
@font-face{
  font-family: "SFProDisplay-Regular";
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/SF-Pro-Display-Regular.otf");
}
@font-face{
  font-family: "SFProDisplay-Bold";
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/SF-Pro-Display-Bold.otf");
}
@font-face{
  font-family: "HanHeiSC-Bold";
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/HanHeiSC-Bold.otf");
}
@font-face{
  font-family: "HanHeiSC-SemiBold";
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/HanHeiSC-SemiBold.otf");
}
body{
	white-space: pre-wrap;
}
.columnbreak{
	break-after: column;
}
a.page{
	-ibooks-layout-hint: anchor page;
	display: none;
}
a.pageShape{
	-ibooks-layout-hint: anchor page shape;
	display: none;
}
sup{
	font-size: 67%;
	vertical-align: 33%;
}
a.shape{
	-ibooks-layout-hint: shape;
	display: none;
}
div.multichoice{
	list-style-type: upper-alpha;
}
a.anchor{
	-ibooks-layout-hint: anchor;
	display: none;
}
.hide{
	display: none;
}
a.attachment{
	-ibooks-layout-hint: inline;
	display: none;
}
sub{
	font-size: 67%;
	vertical-align: -10%;
}
table{
	border-collapse: collapse;
	white-space: pre-wrap;
}
.pagebreak{
	break-after: page;
}
.inlineblock{
	display: inline;
}
p, ul, ol{
	margin: 0px;
}
.s1{
	-ibooks-line-spacing-mode: exact;
	-ibooks-list-text-indent: 0.00pt;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #424242;
	font-family: "SFProDisplay-Regular";
	font-size: 150.00%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0;
	line-height: 23.00pt;
	margin-bottom: 12.00pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
}
.s2{
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #FD5D00;
	font-family: "SFProDisplay-Bold";
	font-size: 183.33%;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	hyphens: auto;
	letter-spacing: 0;
	line-height: 1.10em;
	margin-bottom: 6.00pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: capitalize;
	vertical-align: 0;
	text-decoration: none;
}
.s3{
	-ibooks-list-text-indent: 0.00pt;
	font-family: "HanHeiSC-Bold";
}
.s4{
	-ibooks-line-spacing-mode: exact;
	-ibooks-list-text-indent: 2.00pt;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #424242;
	font-family: "SFProDisplay-Regular";
	font-size: 150.00%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0;
	line-height: 23.00pt;
	margin-bottom: 12.00pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
}
.s5{
	-ibooks-line-spacing-mode: exact;
	-ibooks-list-text-indent: 0.00pt;
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #424242;
	font-family: "SFProDisplay-Bold";
	font-size: 150.00%;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	hyphens: none;
	letter-spacing: 0;
	line-height: 23.00pt;
	margin-bottom: 5.00pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 15.00pt;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
.s6{
	-ibooks-line-spacing-mode: exact;
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #424242;
	font-family: "SFProDisplay-Regular";
	font-size: 150.00%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0;
	line-height: 23.00pt;
	margin-bottom: 12.00pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
.s7{
	-ibooks-list-text-indent: 68.00pt;
}
.s8{
	-ibooks-list-text-indent: 72.00pt;
}
.s9{
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #FD5D00;
	font-family: "SFProDisplay-Bold";
	font-size: 225.00%;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	hyphens: auto;
	letter-spacing: 0;
	line-height: 1.10em;
	margin-bottom: 10.00pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: capitalize;
	vertical-align: 0;
	text-decoration: none;
}
.s10{
	-ibooks-list-text-indent: 0.00pt;
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #FD5D00;
	font-family: "HanHeiSC-Bold";
	font-size: 225.00%;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	hyphens: auto;
	letter-spacing: 0;
	line-height: 1.10em;
	margin-bottom: 10.00pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: capitalize;
	vertical-align: 0;
	text-decoration: none;
}
.s11{
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #424242;
	font-family: "SFProDisplay-Regular";
	font-size: 150.00%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0;
	line-height: 1.20em;
	margin-bottom: 14.00pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
.s12{
	-ibooks-list-text-indent: 0.00pt;
}
.s13{
	-ibooks-list-text-indent: 0.00pt;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #424242;
	font-family: "SFProDisplay-Regular";
	font-size: 150.00%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0;
	line-height: 1.20em;
	margin-bottom: 14.00pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
}
.s14{
	-ibooks-line-spacing-mode: exact;
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #424242;
	font-family: "SFProDisplay-Bold";
	font-size: 150.00%;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	hyphens: none;
	letter-spacing: 0;
	line-height: 23.00pt;
	margin-bottom: 5.00pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 15.00pt;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
.s15{
	-ibooks-line-spacing-mode: exact;
	-ibooks-list-text-indent: 0.00pt;
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #424242;
	font-family: "HanHeiSC-Bold";
	font-size: 150.00%;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	hyphens: none;
	letter-spacing: 0;
	line-height: 23.00pt;
	margin-bottom: 5.00pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 15.00pt;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
.s16{
	-ibooks-list-text-indent: 0.00pt;
	font-family: "HanHeiSC-Text";
}
.s17{
	padding-left: 0;
}
.s18{
	-ibooks-bullet-baseline: 0.00pt;
	-ibooks-custom-bullet: "• ";
	-ibooks-line-spacing-mode: exact;
	-ibooks-list-text-indent: 0;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #424242;
	font-family: "SFProDisplay-Regular";
	font-size: 150.00%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0;
	line-height: 23.00pt;
	list-style-position: -ibooks-inside-align-to-text;
	margin-bottom: 8.00pt;
	margin-left: 34.00pt;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: -14.00pt;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
}
.s19{
	-ibooks-stroke: none;
	box-shadow: none;
	fill: none;
	opacity: 1.000;
	stroke: none;
}
.s20{
	fill: #FD5D00;
}
.s21{
	-ibooks-column-count: 1;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	vertical-align: top;
}
.s22{
	-ibooks-list-text-indent: 0.00pt;
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #FFFFFF;
	font-family: "SFProDisplay-Bold";
	font-size: 558.33%;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	hyphens: none;
	letter-spacing: 0;
	line-height: 1.10em;
	margin-bottom: 10.00pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: capitalize;
	vertical-align: 0;
	text-decoration: none;
}
.s23{
	-ibooks-list-text-indent: 0.00pt;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #646464;
	font-family: "HanHeiSC-Text";
	font-size: 100.00%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0;
	line-height: 1.00em;
	margin-bottom: 10.00pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: right;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
}
.s24{
	-ibooks-list-text-indent: 0.00pt;
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #AAAAAA;
	font-family: "SFProDisplay-Thin";
	font-size: 350.00%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: auto;
	letter-spacing: 0;
	line-height: 0.01em;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
.s25{
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #666666;
	font-family: "SFProDisplay-Bold";
	font-size: 458.33%;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	hyphens: none;
	letter-spacing: 0;
	line-height: 0.90em;
	margin-bottom: 25.00pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: capitalize;
	vertical-align: 0;
	text-decoration: none;
}
.s26{
	-ibooks-list-text-indent: 0.00pt;
	color: #FFFFFF;
	font-size: 691.67%;
	line-height: 0.65em;
	text-transform: none;
}
.s27{
	-ibooks-list-text-indent: 0.00pt;
	color: #153969;
	font-family: "HanHeiSC-Bold";
	font-size: 691.67%;
	line-height: 0.65em;
	text-transform: none;
}
.s28{
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #1D3667;
	font-family: "SFProDisplay-Bold";
	font-size: 408.33%;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	hyphens: auto;
	letter-spacing: 0;
	line-height: 1.00em;
	margin-bottom: 25.00pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: capitalize;
	vertical-align: 0;
	text-decoration: none;
}
.s29{
	-ibooks-list-text-indent: 0.00pt;
	color: #FD5D00;
	font-family: "HanHeiSC-Bold";
}
.s30{
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #424242;
	font-family: "SFProDisplay-Regular";
	font-size: 91.67%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0;
	line-height: 0.20em;
	margin-bottom: 12.00pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: center;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
.s31{
	-ibooks-list-text-indent: 0.00pt;
	line-height: 0.80em;
}
.s32{
	-ibooks-list-text-indent: 0.00pt;
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #424242;
	font-family: "HanHeiSC-Text";
	font-size: 91.67%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0;
	line-height: 0.20em;
	margin-bottom: 12.00pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: center;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
.s33{
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #000000;
	font-family: "Helvetica Neue";
	font-size: 133.33%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: auto;
	letter-spacing: 0;
	line-height: 1.20em;
	margin-bottom: 14.00pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
.s34{
	-ibooks-list-text-indent: 0.00pt;
	font-family: "SFHello-Regular";
	margin-bottom: 0;
}
.s35{
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #424242;
	font-family: "SFProDisplay-Regular";
	font-size: 91.67%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0;
	line-height: 1.00em;
	margin-bottom: 12.00pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
.s36{
	-ibooks-list-text-indent: 0.00pt;
	font-family: "HanHeiSC-Text";
	text-align: center;
}
.s37{
	opacity: 0.000;
}
.s38{
	-ibooks-list-text-indent: 0.00pt;
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #000000;
	font-family: "Helvetica Neue";
	font-size: 133.33%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: auto;
	letter-spacing: 0;
	line-height: 1.20em;
	margin-bottom: 14.00pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
.c1{
	background: transparent;
	font-family: "HanHeiSC-Text";
	letter-spacing: 0.05em;
}
.c2{
	background: transparent;
	letter-spacing: 0.05em;
}
.c3{
	background: transparent;
	font-family: "HanHeiSC-Text";
	letter-spacing: 0;
}
.c4{
	background: transparent;
	letter-spacing: 0;
}
.c5{
	background: transparent;
	font-family: "HanHeiSC-Text";
}
.c6{
	background: transparent;
}
.c7{
	-ibooks-strikethru-type: none;
	-ibooks-underline-type: none;
	background: transparent;
	color: #424242;
	font-family: "SFProDisplay-RegularItalic";
	font-size: 100.00%;
	font-style: italic;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: -0.02em;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
.c8{
	font-family: "HanHeiSC-Text";
	font-style: normal;
	letter-spacing: 0;
}
.c9{
	letter-spacing: 0;
}
.c10{
	font-family: "SFProDisplay-Regular";
	font-style: normal;
	letter-spacing: 0;
}
.c11{
	background: transparent;
	font-family: "HanHeiSC-Text";
	letter-spacing: 0.03em;
}
.c12{
	background: transparent;
	font-family: "HanHeiSC-Text";
	letter-spacing: 0.01em;
}
.c13{
	background: transparent;
	font-family: "HanHeiSC-Bold";
}
.c14{
	background: transparent;
	font-family: "HanHeiSC-Text";
	letter-spacing: -0.02em;
}
.c15{
	background: transparent;
	letter-spacing: -0.02em;
}
.c16{
	color: #EB6F00;
	font-family: "SFProDisplay-Bold";
	font-weight: bold;
	letter-spacing: 0.03em;
}
.c17{
	letter-spacing: 0.03em;
}
.c18{
	font-family: "HanHeiSC-Text";
	letter-spacing: 0.03em;
}
.c19{
	-ibooks-strikethru-type: none;
	-ibooks-underline-type: none;
	background: transparent;
	color: #EB6F00;
	font-family: "SFProDisplay-Bold";
	font-size: 100.00%;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	letter-spacing: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
.c20{
	font-family: "HanHeiSC-Bold";
}
.c21{
	background: transparent;
	font-family: "HanHeiSC-Text";
	letter-spacing: 0.02em;
}
.c22{
	font-family: "HanHeiSC-Text";
	letter-spacing: -0.03em;
}
.c23{
	font-family: "HanHeiSC-Bold";
	letter-spacing: -0.03em;
}
.c24{
	letter-spacing: -0.03em;
}
.c25{
	font-family: "HanHeiSC-Text";
	letter-spacing: 0;
}
.c26{
	font-family: "HanHeiSC-Text";
	letter-spacing: 0.02em;
}
.c27{
	font-family: "HanHeiSC-Text";
	letter-spacing: -0.01em;
}
.c28{
	letter-spacing: -0.01em;
}
.c29{
	color: #FD5D00;
}
.c30{
	font-family: "HanHeiSC-Text";
	letter-spacing: 0.01em;
}
.c31{
	letter-spacing: 0.01em;
}
.c32{
	font-family: "HanHeiSC-Text";
	letter-spacing: -0.02em;
}
.c33{
	-ibooks-strikethru-type: none;
	-ibooks-underline-type: none;
	background: transparent;
	color: #7A7A7A;
	font-family: "SFProDisplay-Regular";
	font-size: 77.78%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
.c34{
	font-family: "HanHeiSC-Text";
}
.c35{
	background: transparent;
	letter-spacing: 0.01em;
}
.c36{
	background: transparent;
	font-family: "HanHeiSC-Text";
	letter-spacing: -0.03em;
}
.c37{
	background: transparent;
	letter-spacing: -0.03em;
}
.c38{
	letter-spacing: 0.02em;
}
.c39{
	background: transparent;
	letter-spacing: 0.02em;
}
.c40{
	-ibooks-strikethru-type: none;
	-ibooks-underline-type: none;
	background: transparent;
	color: #424242;
	font-family: "SFProDisplay-Semibold";
	font-size: 100.00%;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	letter-spacing: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
.c41{
	-ibooks-strikethru-type: none;
	-ibooks-underline-type: none;
	background: transparent;
	color: #424242;
	font-family: "SFProDisplay-Semibold";
	font-size: 100.00%;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	letter-spacing: 0.02em;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
.c42{
	font-family: "HanHeiSC-SemiBold";
}
.c43{
	background: transparent;
	color: #24292E;
	font-family: "HanHeiSC-Text";
}
.c44{
	letter-spacing: -0.02em;
}
.c45{
	font-family: "SFProDisplay-Regular";
	letter-spacing: 0;
}
.c46{
	font-family: "SFProDisplay-Regular";
}
.c47{
	background: transparent;
	font-family: "SFProDisplay-Regular";
}
.c48{
	-ibooks-strikethru-type: none;
	-ibooks-underline-type: none;
	background: transparent;
	color: #424242;
	font-family: "SFProDisplay-Semibold";
	font-size: 112.50%;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	letter-spacing: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
.c49{
	color: #FD5D00;
	font-family: "HanHeiSC-SemiBold";
	font-size: 100.00%;
}
.c50{
	color: #FD5D00;
	font-size: 100.00%;
}
.c51{
	background: transparent;
	color: #7B7B7B;
	font-family: "HanHeiSC-Text";
}
.c52{
	background: transparent;
	color: #7B7B7B;
	font-family: "SFProDisplay-Regular";
}
.c53{
	background: transparent;
	color: #7B7B7B;
	font-family: "HanHeiSC-SemiBold";
	font-weight: bold;
}
.c54{
	background: transparent;
	color: #7B7B7B;
	font-family: "SFProDisplay-Semibold";
	font-weight: bold;
}
.c55{
	background: transparent;
	color: #7B7B7B;
	font-family: "HanHeiSC-Text";
	letter-spacing: 0;
}
.c56{
	background: transparent;
	color: #7B7B7B;
	font-family: "SFProDisplay-Regular";
	letter-spacing: 0;
}
.c57{
	-ibooks-underline-type: none;
	background: transparent;
	color: #0089CD;
	font-family: "Helvetica Neue";
	font-size: 150.00%;
	text-decoration: none;
}
#textShape-3846{
	-ibooks-slot: textShape-3846;
	display: block;
}
#textShape-3852{
	-ibooks-slot: textShape-3852;
	display: block;
}
#textShape-14{
	-ibooks-slot: textShape-14;
	display: block;
}
#textShape-3847{
	-ibooks-slot: textShape-3847;
	display: block;
}
#textShape-151-svg{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 661.000pt;
}
#textShape-3846-div{
	height: 100.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 550.000pt;
}
#image-430{
	-ibooks-slot: image-430;
	display: block;
}
#textShape-6737-div{
	height: 87.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 695.000pt;
}
#textShape-6736{
	-ibooks-slot: textShape-6736;
	display: block;
}
#textShape-6737{
	-ibooks-slot: textShape-6737;
	display: block;
}
#textShape-660-div{
	height: 102.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 90.000pt;
}
#textShape-1022-svg{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 661.000pt;
}
#textShape-534{
	-ibooks-slot: textShape-534;
	display: block;
}
#textShape-149-svg{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 661.000pt;
}
#image-1475{
	-ibooks-slot: image-1475;
	display: block;
}
#textShape-534-div{
	height: 29.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 52.000pt;
}
#textShape-535-svg{
	height: 44.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 63.000pt;
}
#textShape-145-svg{
	height: 78.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 661.000pt;
}
#textShape-3847-svg{
	height: 100.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 550.000pt;
}
#image-1476{
	-ibooks-slot: image-1476;
	display: block;
}
#textShape-3852-div{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 661.000pt;
}
#textShape-6736-div{
	height: 221.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 676.000pt;
}
#textShape-142{
	-ibooks-slot: textShape-142;
	display: block;
}
#textShape-182-svg{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 661.000pt;
}
#textShape-3525-div{
	height: 29.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 52.000pt;
}
#textShape-151{
	-ibooks-slot: textShape-151;
	display: block;
}
#image-1477{
	-ibooks-slot: image-1477;
	display: block;
}
#textShape-660{
	-ibooks-slot: textShape-660;
	display: block;
}
#textShape-3846-svg{
	height: 100.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 550.000pt;
}
#textShape-6737-svg{
	height: 87.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 695.000pt;
}
#image-1478{
	-ibooks-slot: image-1478;
	display: block;
}
#textShape-182{
	-ibooks-slot: textShape-182;
	display: block;
}
#textShape-660-svg{
	height: 102.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 90.000pt;
}
#textShape-147-div{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 661.000pt;
}
#textShape-3524-div{
	height: 29.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 52.000pt;
}
#image-530{
	-ibooks-slot: image-530;
	display: block;
}
#textShape-534-svg{
	height: 29.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 52.000pt;
}
#textShape-3524{
	-ibooks-slot: textShape-3524;
	display: block;
}
#image-531{
	-ibooks-slot: image-531;
	display: block;
}
#textShape-3525{
	-ibooks-slot: textShape-3525;
	display: block;
}
#image-44{
	-ibooks-slot: image-44;
	display: block;
}
#textShape-3852-svg{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 661.000pt;
}
#image-532{
	-ibooks-slot: image-532;
	display: block;
}
#textShape-6736-svg{
	height: 221.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 676.000pt;
}
#textShape-3843-div{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 661.000pt;
}
#textShape-3525-svg{
	height: 29.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 52.000pt;
}
#textShape-3850-div{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 661.000pt;
}
#textShape-298{
	-ibooks-slot: textShape-298;
	display: block;
}
#textShape-4377-div{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 661.000pt;
}
#textShape-3549{
	-ibooks-slot: textShape-3549;
	display: block;
}
#image-72{
	-ibooks-slot: image-72;
	display: block;
}
#textShape-535{
	-ibooks-slot: textShape-535;
	display: block;
}
#image-529{
	-ibooks-slot: image-529;
	display: block;
}
#textShape-147-svg{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 661.000pt;
}
#textShape-3549-div{
	height: 43.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 61.000pt;
}
#textShape-17-div{
	height: 231.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 550.000pt;
}
#textShape-3524-svg{
	height: 29.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 52.000pt;
}
#textShape-142-div{
	height: 135.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 648.000pt;
}
#textShape-298-div{
	height: 42.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 91.000pt;
}
#image-84{
	-ibooks-slot: image-84;
	display: block;
}
#textShape-145{
	-ibooks-slot: textShape-145;
	display: block;
}
#textShape-151-div{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 661.000pt;
}
#textShape-147{
	-ibooks-slot: textShape-147;
	display: block;
}
#textShape-17{
	-ibooks-slot: textShape-17;
	display: block;
}
#textShape-149{
	-ibooks-slot: textShape-149;
	display: block;
}
#textShape-3843-svg{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 661.000pt;
}
#textShape-3850-svg{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 661.000pt;
}
#textShape-1022-div{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 661.000pt;
}
#textShape-1022{
	-ibooks-slot: textShape-1022;
	display: block;
}
#image-8{
	-ibooks-slot: image-8;
	display: block;
}
#textShape-149-div{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 661.000pt;
}
#textShape-4377{
	-ibooks-slot: textShape-4377;
	display: block;
}
#textShape-4377-svg{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 661.000pt;
}
#textShape-3847-div{
	height: 100.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 550.000pt;
}
#textShape-535-div{
	height: 44.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 63.000pt;
}
#textShape-145-div{
	height: 78.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 661.000pt;
}
#textShape-17-svg{
	height: 231.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 550.000pt;
}
#textShape-1672{
	-ibooks-slot: textShape-1672;
	display: block;
}
#textShape-3549-svg{
	height: 43.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 61.000pt;
}
#textShape-142-svg{
	height: 135.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 648.000pt;
}
#textShape-182-div{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 661.000pt;
}
#textShape-3843{
	-ibooks-slot: textShape-3843;
	display: block;
}
#textShape-298-svg{
	height: 42.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 91.000pt;
}
#textShape-3850{
	-ibooks-slot: textShape-3850;
	display: block;
}
