@namespace ibooks "http://www.apple.com/2011/iBooks";
@font-face{
  font-family: "HanHeiSC-Text";
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/HanHeiSC-Text.otf");
}
@font-face{
  font-family: "Consolas-Bold";
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/Consolas%20Bold.ttf");
}
@font-face{
  font-family: "SFProText-Regular";
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/SF-Pro-Text-Regular.otf");
}
@font-face{
  font-family: "SFMono-Regular";
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/SF-Mono-Regular.otf");
}
@font-face{
  font-family: "HanHeiSC-SemiBold";
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/HanHeiSC-SemiBold.otf");
}
@font-face{
  font-family: "SFProDisplay-Regular";
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/SF-Pro-Display-Regular.otf");
}
@font-face{
  font-family: "SFProDisplay-Bold";
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/SF-Pro-Display-Bold.otf");
}
@font-face{
  font-family: "HanHeiSC-Bold";
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/HanHeiSC-Bold.otf");
}
@font-face{
  font-family: "SFProDisplay-Semibold";
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/SF-Pro-Display-Semibold.otf");
}
body{
	white-space: pre-wrap;
}
.columnbreak{
	break-after: column;
}
a.page{
	-ibooks-layout-hint: anchor page;
	display: none;
}
a.pageShape{
	-ibooks-layout-hint: anchor page shape;
	display: none;
}
sup{
	font-size: 67%;
	vertical-align: 33%;
}
a.shape{
	-ibooks-layout-hint: shape;
	display: none;
}
div.multichoice{
	list-style-type: upper-alpha;
}
a.anchor{
	-ibooks-layout-hint: anchor;
	display: none;
}
.hide{
	display: none;
}
a.attachment{
	-ibooks-layout-hint: inline;
	display: none;
}
sub{
	font-size: 67%;
	vertical-align: -10%;
}
table{
	border-collapse: collapse;
	white-space: pre-wrap;
}
.pagebreak{
	break-after: page;
}
.inlineblock{
	display: inline;
}
p, ul, ol{
	margin: 0px;
}
.s1{
	-ibooks-line-spacing-mode: exact;
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #000000;
	font-family: "SFProDisplay-Regular";
	font-size: 150.00%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0;
	line-height: 23.00pt;
	margin-bottom: 15.00pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
.s2{
	-ibooks-list-text-indent: 0.00pt;
}
.s3{
	-ibooks-line-spacing-mode: exact;
	-ibooks-list-text-indent: 0.00pt;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #000000;
	font-family: "SFProDisplay-Regular";
	font-size: 150.00%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0;
	line-height: 23.00pt;
	margin-bottom: 15.00pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
}
.s4{
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.00px;
	border-top-color: rgba(102,102,102,0.250000);
	border-top-style: solid;
	border-top-width: 3.00px;
	color: #424242;
	font-family: "SFProDisplay-Bold";
	font-size: 150.00%;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	hyphens: auto;
	letter-spacing: 0;
	line-height: 1.20em;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 12.00pt;
	padding-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
.s5{
	-ibooks-list-text-indent: 0.00pt;
	font-family: "HanHeiSC-Bold";
}
.s6{
	padding-left: 11.00pt;
}
.s7{
	-ibooks-bullet-baseline: 0.00pt;
	-ibooks-custom-bullet: "•";
	-ibooks-line-spacing-mode: exact;
	-ibooks-list-text-indent: 15.00pt;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #000000;
	font-family: "SFProDisplay-Regular";
	font-size: 150.00%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0;
	line-height: 23.00pt;
	list-style-position: -ibooks-inside-align-to-text;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: '' left 11.0pt '' left 36.0pt;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
}
.s8{
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #000000;
	font-family: "Helvetica Neue";
	font-size: 133.33%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: auto;
	letter-spacing: 0;
	line-height: 1.20em;
	margin-bottom: 14.00pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
.s9{
	-ibooks-list-text-indent: 0.00pt;
	color: #4078C0;
	font-size: 200.00%;
	font-weight: bold;
	line-height: 1.00em;
	margin-bottom: 0;
}
.s10{
	-ibooks-line-spacing-mode: exact;
	-ibooks-list-text-indent: 0.00pt;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #424242;
	font-family: "SFProDisplay-Regular";
	font-size: 150.00%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0;
	line-height: 23.00pt;
	margin-bottom: 12.00pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
}
.s11{
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #FD5D00;
	font-family: "SFProDisplay-Bold";
	font-size: 183.33%;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	hyphens: auto;
	letter-spacing: 0;
	line-height: 1.10em;
	margin-bottom: 6.00pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: capitalize;
	vertical-align: 0;
	text-decoration: none;
}
.s12{
	-ibooks-list-text-indent: 0.00pt;
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #FD5D00;
	font-family: "HanHeiSC-Bold";
	font-size: 183.33%;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	hyphens: auto;
	letter-spacing: 0;
	line-height: 1.10em;
	margin-bottom: 6.00pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: capitalize;
	vertical-align: 0;
	text-decoration: none;
}
.s13{
	-ibooks-stroke: none;
	box-shadow: none;
	fill: none;
	opacity: 1.000;
	stroke: none;
}
.s14{
	-ibooks-line-spacing-mode: exact;
	-ibooks-list-text-indent: 0.00pt;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #424242;
	font-family: "SFProDisplay-Regular";
	font-size: 150.00%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0;
	line-height: 15.00pt;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
}
.s15{
	-ibooks-line-spacing-mode: exact;
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #424242;
	font-family: "SFProDisplay-Regular";
	font-size: 150.00%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0;
	line-height: 23.00pt;
	margin-bottom: 12.00pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
.s16{
	-ibooks-list-text-indent: 0.00pt;
	font-family: "HanHeiSC-Text";
}
.s17{
	padding-left: 0;
}
.s18{
	-ibooks-bullet-baseline: 0.00pt;
	-ibooks-custom-bullet: "• ";
	-ibooks-line-spacing-mode: exact;
	-ibooks-list-text-indent: 0;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #424242;
	font-family: "SFProDisplay-Regular";
	font-size: 150.00%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0;
	line-height: 23.00pt;
	list-style-position: -ibooks-inside-align-to-text;
	margin-bottom: 8.00pt;
	margin-left: 34.00pt;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: -14.00pt;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
}
.s19{
	-ibooks-line-spacing-mode: exact;
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #424242;
	font-family: "SFProDisplay-Regular";
	font-size: 150.00%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0;
	line-height: 23.00pt;
	margin-bottom: 8.00pt;
	margin-left: 34.00pt;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: -14.00pt;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
.s20{
	-ibooks-bullet-baseline: 0.00pt;
	-ibooks-custom-bullet: "• ";
	-ibooks-list-text-indent: 0;
	list-style-position: -ibooks-inside-align-to-text;
}
.s21{
	-ibooks-list-text-indent: 0.00pt;
	line-height: 18.00pt;
}
.s22{
	-ibooks-list-text-indent: 0.00pt;
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #FD5D00;
	font-family: "SFProDisplay-Bold";
	font-size: 183.33%;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	hyphens: auto;
	letter-spacing: 0;
	line-height: 1.10em;
	margin-bottom: 6.00pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: capitalize;
	vertical-align: 0;
	text-decoration: none;
}
.s23{
	-ibooks-list-text-indent: 0.00pt;
	color: #323333;
	font-size: 200.00%;
	font-weight: bold;
	line-height: 1.00em;
	margin-bottom: 0;
}
.s24{
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #666666;
	font-family: "SFProDisplay-Bold";
	font-size: 183.33%;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	hyphens: auto;
	letter-spacing: 0;
	line-height: 1.00em;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: capitalize;
	vertical-align: 0;
	text-decoration: none;
}
.s25{
	-ibooks-list-text-indent: 0.00pt;
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #666666;
	font-family: "HanHeiSC-Bold";
	font-size: 183.33%;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	hyphens: auto;
	letter-spacing: 0;
	line-height: 1.00em;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: capitalize;
	vertical-align: 0;
	text-decoration: none;
}
.s26{
	-ibooks-list-text-indent: 0.00pt;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #A9A9A9;
	font-family: "SFProDisplay-Bold";
	font-size: 183.33%;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	hyphens: auto;
	letter-spacing: 0;
	line-height: 1.00em;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: capitalize;
	vertical-align: 0;
}
.s27{
	-ibooks-stroke: none;
	box-shadow: none;
	fill: #FD5D00;
	opacity: 1.000;
	stroke: none;
}
.s28{
	-ibooks-column-count: 1;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	vertical-align: top;
}
.s29{
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #FFFFFF;
	font-family: "SFProDisplay-Bold";
	font-size: 291.67%;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	hyphens: auto;
	letter-spacing: 0;
	line-height: 1.10em;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
.s30{
	-ibooks-list-text-indent: 0.00pt;
	font-family: "Consolas-Bold";
}
.s31{
	-ibooks-list-text-indent: 0.00pt;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #646464;
	font-family: "HanHeiSC-Text";
	font-size: 100.00%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0;
	line-height: 1.00em;
	margin-bottom: 10.00pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: right;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
}
.s32{
	-ibooks-list-text-indent: 0.00pt;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #FFFFFF;
	font-family: "SFProDisplay-Regular";
	font-size: 166.67%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: auto;
	letter-spacing: 0;
	line-height: 1.20em;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
}
.s33{
	-ibooks-list-text-indent: 0.00pt;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #FFFFFF;
	font-family: "SFProText-Regular";
	font-size: 100.00%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0;
	line-height: 1.00em;
	margin-bottom: 10.00pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: right;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
}
.s34{
	-ibooks-stroke: none;
	box-shadow: none;
	fill: #FFFFFF;
	opacity: 1.000;
	stroke: #818181;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4.0;
	stroke-width: 1.0pt;
}
.s35{
	stroke: #D6D6D6;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4.0;
	stroke-width: 0.5pt;
}
.s36{
	-ibooks-stroke: none;
	border-radius: 3.000;
	box-shadow: none;
	fill: #E2E9EC;
	opacity: 1.000;
	padding: 6.000;
	stroke: #A8B5BA;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4.0;
	stroke-width: 1.0pt;
}
.s37{
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #000000;
	font-family: "Helvetica Neue";
	font-size: 133.33%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: auto;
	letter-spacing: 0;
	line-height: 1.20em;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
.s38{
	-ibooks-stroke: none;
	box-shadow: none;
	fill: none;
	opacity: 1.000;
	stroke: #000000;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4.0;
	stroke-width: 0.5pt;
}
.s39{
	stroke: #FD5D00;
}
.s40{
	stroke: #FD5D00;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4.0;
	stroke-width: 0.5pt;
}
.s41{
	-ibooks-stroke: none;
	box-shadow: 0.0pt 5.0pt 12.0pt rgba(0,0,0,0.400000);
	fill: #FFFFFF;
	opacity: 1.000;
	stroke: #818181;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4.0;
	stroke-width: 1.0pt;
}
.s42{
	fill: rgba(102,102,102,0.798227);
	stroke: none;
}
.s43{
	-ibooks-list-text-indent: 0.00pt;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #424242;
	font-family: "SFProDisplay-Regular";
	font-size: 150.00%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0;
	line-height: 1.50em;
	margin-bottom: 12.00pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
}
.c1{
	font-family: "HanHeiSC-Text";
}
.c2{
	background: transparent;
}
.c3{
	-ibooks-strikethru-type: none;
	-ibooks-underline-type: none;
	background: transparent;
	color: #0E74C1;
	font-family: "SFProDisplay-Semibold";
	font-size: 100.00%;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	letter-spacing: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
.c4{
	font-family: "HanHeiSC-SemiBold";
}
.c5{
	-ibooks-underline-type: none;
	background: transparent;
	color: #0089CD;
	font-family: "SFProDisplay-Regular";
	font-size: 100.00%;
	text-decoration: none;
}
.c6{
	-ibooks-underline-type: none;
	background: transparent;
	color: #0089CD;
	font-family: "HanHeiSC-Text";
	font-size: 100.00%;
	text-decoration: none;
}
.c7{
	background: transparent;
	font-family: "HanHeiSC-Text";
	letter-spacing: 0;
}
.c8{
	background: transparent;
	font-family: "HanHeiSC-Text";
	letter-spacing: 0.01em;
}
.c9{
	background: transparent;
	letter-spacing: 0;
}
.c10{
	-ibooks-strikethru-type: none;
	-ibooks-underline-type: none;
	background: transparent;
	color: #989FA2;
	font-family: "SFMono-Regular";
	font-size: 94.44%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: -0.03em;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
.c11{
	letter-spacing: 0;
}
.c12{
	background: transparent;
	font-family: "HanHeiSC-Text";
	letter-spacing: -0.01em;
}
.c13{
	background: transparent;
	letter-spacing: -0.01em;
}
.c14{
	-ibooks-strikethru-type: none;
	-ibooks-underline-type: none;
	background: transparent;
	color: #424242;
	font-family: "SFProDisplay-Semibold";
	font-size: 100.00%;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	letter-spacing: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
.c15{
	font-family: "HanHeiSC-SemiBold";
	letter-spacing: -0.01em;
}
.c16{
	letter-spacing: -0.01em;
}
.c17{
	-ibooks-strikethru-type: none;
	-ibooks-underline-type: none;
	background: transparent;
	color: #424242;
	font-family: "HanHeiSC-SemiBold";
	font-size: 100.00%;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	letter-spacing: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
.c18{
	background: transparent;
	vertical-align: 5.00pt;
}
.c19{
	background: transparent;
	letter-spacing: 0.03em;
}
.c20{
	background: transparent;
	font-family: "HanHeiSC-Text";
	letter-spacing: 0.03em;
}
.c21{
	background: transparent;
	letter-spacing: 0.03em;
	vertical-align: 5.00pt;
}
.c22{
	background: transparent;
	color: #323333;
}
.c23{
	background: transparent;
	letter-spacing: 0;
	vertical-align: 5.00pt;
}
.c24{
	background: transparent;
	font-family: "HanHeiSC-Text";
	letter-spacing: 0.04em;
}
.c25{
	background: transparent;
	font-family: "HanHeiSC-Bold";
	font-weight: bold;
}
.c26{
	font-family: "SFProDisplay-Bold";
	font-weight: bold;
}
.c27{
	background: transparent;
	font-family: "HanHeiSC-Text";
	letter-spacing: -0.02em;
}
.c28{
	background: transparent;
	letter-spacing: -0.02em;
}
.c29{
	letter-spacing: -0.02em;
}
.c30{
	background: transparent;
	font-family: "HanHeiSC-Bold";
}
.c31{
	-ibooks-strikethru-type: none;
	-ibooks-underline-type: none;
	background: transparent;
	color: #989FA2;
	font-family: "SFMono-Regular";
	font-size: 77.27%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: -0.03em;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
.c32{
	font-size: 100.00%;
}
.c33{
	background: transparent;
	font-family: "HanHeiSC-Text";
}
.c34{
	background: transparent;
	font-family: "SFProDisplay-Regular";
}
.c35{
	background: transparent;
	font-family: "HanHeiSC-SemiBold";
	font-weight: bold;
}
#textShape-4000{
	-ibooks-slot: textShape-4000;
	display: block;
}
#textShape-4141{
	-ibooks-slot: textShape-4141;
	display: block;
}
#image-384{
	-ibooks-slot: image-384;
	display: block;
}
#textShape-1281{
	-ibooks-slot: textShape-1281;
	display: block;
}
#textShape-4001-svg{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 648.000pt;
}
#image-385{
	-ibooks-slot: image-385;
	display: block;
}
#frame-105-gutter{
	height: 70.7pt;
	left: 0;
	top: 0;
	width: 113.0pt;
}
#image-1226{
	-ibooks-slot: image-1226;
	display: block;
}
#textShape-3101{
	-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
	-ibooks-line-hints: textShape-3101 p url(../hints/content9-paginated.plist) 86 1;
	display: block;
	height: 694.000pt;
	left: 0.000pt;
	position: absolute;
	top: 0.000pt;
	width: 181.000pt;
}
#textShape-3101-div{
	height: 694.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 181.000pt;
}
#textShape-1301-svg{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 661.000pt;
}
#textShape-1306{
	-ibooks-slot: textShape-1306;
	display: block;
}
#textShape-1305-svg{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 661.000pt;
}
#viewport-popup-180{
	-ibooks-slot: viewport-popup-180;
	display: block;
}
#image-657{
	-ibooks-box-wrap-exterior-path: neither contour both 12.0pt 0.500000 false;
	display: block;
	height: 410.625pt;
	left: 10.000pt;
	position: absolute;
	top: 93.000pt;
	width: 657.000pt;
}
#image-386{
	-ibooks-slot: image-386;
	display: block;
}
#textShape-4145-svg{
	height: 49.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 314.000pt;
}
#textShape-4145{
	-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
	-ibooks-line-hints: textShape-4145 p url(../hints/content9-paginated.plist) 83 1;
	display: block;
	height: 49.000pt;
	left: 0.000pt;
	position: absolute;
	top: 0.000pt;
	width: 314.000pt;
}
#textShape-3997{
	-ibooks-slot: textShape-3997;
	display: block;
}
#image-658{
	-ibooks-slot: image-658;
	display: block;
}
#image-352{
	-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
	display: block;
	height: 410.625pt;
	left: 10.000pt;
	position: absolute;
	top: 10.000pt;
	width: 657.000pt;
}
#image-1227{
	height: 12.923pt;
	width: 12.000pt;
}
#image-737{
	-ibooks-box-wrap-exterior-path: neither contour both 12.0pt 0.500000 false;
	display: block;
	height: 439.000pt;
	left: 10.000pt;
	position: absolute;
	top: 250.000pt;
	width: 702.400pt;
}
#textShape-1297-div{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 661.000pt;
}
#image-659{
	-ibooks-box-wrap-exterior-path: neither contour both 12.0pt 0.500000 false;
	display: block;
	height: 410.625pt;
	left: 10.000pt;
	position: absolute;
	top: 247.000pt;
	width: 657.000pt;
}
#viewport-popup-180-background{
	-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
	display: block;
	height: 720.000pt;
	left: 0.000pt;
	position: absolute;
	top: 0.000pt;
	width: 205.000pt;
}
#textShape-1279-div{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 661.000pt;
}
#textShape-1275-div{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 661.000pt;
}
#textShape-836-div{
	height: 33.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 648.000pt;
}
#viewport-popup-11{
	-ibooks-slot: viewport-popup-11;
	display: block;
}
#viewport-popup-183-background{
	-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
	display: block;
	height: 77.000pt;
	left: 0.000pt;
	position: absolute;
	top: 0.000pt;
	width: 338.000pt;
}
#textShape-1953-div{
	height: 319.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 643.000pt;
}
#image-1228{
	height: 12.923pt;
	width: 12.000pt;
}
#textShape-2499{
	-ibooks-slot: textShape-2499;
	display: block;
}
#textShape-143{
	-ibooks-slot: textShape-143;
	display: block;
}
#image-626{
	-ibooks-slot: image-626;
	display: block;
}
#textShape-4001{
	-ibooks-slot: textShape-4001;
	display: block;
}
#viewport-popup-180-alt{
	display: block;
	height: 720.0pt;
	left: 0.0pt;
	top: 0.0pt;
	visibility: hidden;
	width: 205.0pt;
}
#textShape-4142{
	-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
	-ibooks-line-hints: textShape-4142 p url(../hints/content9-paginated.plist) 87 1;
	display: block;
	height: 55.000pt;
	left: 0.000pt;
	position: absolute;
	top: 0.000pt;
	width: 437.000pt;
}
#frame-101-gutter{
	height: 70.8pt;
	left: 0;
	top: 0;
	width: 113.0pt;
}
#viewport-popup-183{
	-ibooks-slot: viewport-popup-183;
	display: block;
}
#textShape-818-svg{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 661.000pt;
}
#image-356{
	height: 15.607pt;
	width: 38.043pt;
}
#textShape-3996-div{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 648.000pt;
}
#textShape-1290-svg{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 661.000pt;
}
#textShape-3998-div{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 648.000pt;
}
#viewport-popup-182-alt{
	display: block;
	height: 81.0pt;
	left: 0.0pt;
	top: 0.0pt;
	visibility: hidden;
	width: 461.0pt;
}
#textShape-1286-svg{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 661.000pt;
}
#image-1259-gutter{
	height: 42.0pt;
	left: 0;
	top: 0;
	width: 39.0pt;
}
#image-357{
	height: 15.809pt;
	width: 19.761pt;
}
#textShape-1297{
	-ibooks-slot: textShape-1297;
	display: block;
}
#textShape-4001-div{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 648.000pt;
}
#image-1254{
	height: 689.000pt;
	width: 180.372pt;
}
#image-358{
	height: 16.288pt;
	width: 20.360pt;
}
#textShape-3998{
	-ibooks-slot: textShape-3998;
	display: block;
}
#image-712{
	-ibooks-box-wrap-exterior-path: neither contour both 12.0pt 0.500000 false;
	display: block;
	height: 410.625pt;
	left: 11.000pt;
	position: absolute;
	top: 132.000pt;
	width: 657.000pt;
}
#textShape-1286{
	-ibooks-slot: textShape-1286;
	display: block;
}
#textShape-1290{
	-ibooks-slot: textShape-1290;
	display: block;
}
#textShape-1305-div{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 661.000pt;
}
#textShape-1301-div{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 661.000pt;
}
#viewport-popup-11-alt{
	display: block;
	height: 350.0pt;
	left: 0.0pt;
	top: 0.0pt;
	visibility: hidden;
	width: 667.0pt;
}
#viewport-popup-182-background{
	-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
	display: block;
	height: 81.000pt;
	left: 0.000pt;
	position: absolute;
	top: 0.000pt;
	width: 461.000pt;
}
#textShape-3999-svg{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 648.000pt;
}
#textShape-817-div{
	height: 54.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 648.000pt;
}
#textShape-3995-svg{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 648.000pt;
}
#textShape-3997-svg{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 648.000pt;
}
#textShape-1275{
	-ibooks-slot: textShape-1275;
	display: block;
}
#textShape-4145-div{
	height: 49.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 314.000pt;
}
#frame-102-gutter{
	height: 70.8pt;
	left: 0;
	top: 0;
	width: 113.0pt;
}
#textShape-4000-svg{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 648.000pt;
}
#textShape-818{
	-ibooks-slot: textShape-818;
	display: block;
}
#textShape-4143{
	-ibooks-slot: textShape-4143;
	display: block;
}
#textShape-3995{
	-ibooks-slot: textShape-3995;
	display: block;
}
#image-1260{
	height: 44.155pt;
	width: 313.502pt;
}
#textShape-1279{
	-ibooks-slot: textShape-1279;
	display: block;
}
#textShape-4142-svg{
	height: 55.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 437.000pt;
}
#image-450{
	-ibooks-slot: image-450;
	display: block;
}
#image-1226-gutter{
	height: 42.0pt;
	left: 0;
	top: 0;
	width: 39.0pt;
}
#image-1237{
	height: 12.923pt;
	width: 12.000pt;
}
#textShape-1298{
	-ibooks-slot: textShape-1298;
	display: block;
}
#image-1257{
	-ibooks-slot: image-1257;
	display: block;
}
#image-451{
	height: 314.000pt;
	width: 642.000pt;
}
#textShape-1290-div{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 661.000pt;
}
#textShape-3999{
	-ibooks-slot: textShape-3999;
	display: block;
}
#frame-103-gutter{
	height: 70.8pt;
	left: 0;
	top: 0;
	width: 113.0pt;
}
#textShape-1286-div{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 661.000pt;
}
#textShape-1287{
	-ibooks-slot: textShape-1287;
	display: block;
}
#textShape-1291{
	-ibooks-slot: textShape-1291;
	display: block;
}
#textShape-1301{
	-ibooks-slot: textShape-1301;
	display: block;
}
#image-1042{
	-ibooks-slot: image-1042;
	display: block;
}
#textShape-3101-svg{
	height: 694.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 181.000pt;
}
#textShape-836-svg{
	height: 33.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 648.000pt;
}
#image-1257-gutter{
	height: 42.0pt;
	left: 0;
	top: 0;
	width: 39.0pt;
}
#image-450-gutter{
	height: 42.0pt;
	left: 0;
	top: 0;
	width: 39.0pt;
}
#textShape-4140{
	-ibooks-slot: textShape-4140;
	display: block;
}
#image-1238{
	height: 12.923pt;
	width: 12.000pt;
}
#image-1258{
	height: 49.320pt;
	width: 433.182pt;
}
#textShape-2497{
	-ibooks-slot: textShape-2497;
	display: block;
}
#textShape-1276{
	-ibooks-slot: textShape-1276;
	display: block;
}
#frame-101{
	-ibooks-slot: frame-101;
	display: block;
}
#textShape-3097{
	-ibooks-slot: textShape-3097;
	display: block;
}
#textShape-818-div{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 661.000pt;
}
#textShape-1305{
	-ibooks-slot: textShape-1305;
	display: block;
}
#frame-102{
	-ibooks-slot: frame-102;
	display: block;
}
#textShape-1297-svg{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 661.000pt;
}
#textShape-3999-div{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 648.000pt;
}
#textShape-3997-div{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 648.000pt;
}
#image-1259{
	-ibooks-slot: image-1259;
	display: block;
}
#textShape-1279-svg{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 661.000pt;
}
#textShape-3995-div{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 648.000pt;
}
#viewport-popup-183-alt{
	display: block;
	height: 77.0pt;
	left: 0.0pt;
	top: 0.0pt;
	visibility: hidden;
	width: 338.0pt;
}
#textShape-1275-svg{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 661.000pt;
}
#frame-103{
	-ibooks-slot: frame-103;
	display: block;
}
#textShape-3996{
	-ibooks-slot: textShape-3996;
	display: block;
}
#textShape-1953{
	-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
	-ibooks-line-hints: textShape-1953 p url(../hints/content9-paginated.plist) 82 1;
	display: block;
	height: 319.000pt;
	left: 0.000pt;
	position: absolute;
	top: 0.000pt;
	width: 643.000pt;
}
#textShape-1109{
	-ibooks-slot: textShape-1109;
	display: block;
}
#textShape-4144{
	-ibooks-slot: textShape-4144;
	display: block;
}
#textShape-1953-svg{
	height: 319.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 643.000pt;
}
#frame-104-gutter{
	height: 70.8pt;
	left: 0;
	top: 0;
	width: 113.0pt;
}
#frame-104{
	-ibooks-slot: frame-104;
	display: block;
}
#textShape-4000-div{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 648.000pt;
}
#viewport-popup-182{
	-ibooks-slot: viewport-popup-182;
	display: block;
}
#textShape-817{
	-ibooks-slot: textShape-817;
	display: block;
}
#frame-105{
	-ibooks-slot: frame-105;
	display: block;
}
#viewport-popup-11-background{
	-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
	display: block;
	height: 350.000pt;
	left: 0.000pt;
	position: absolute;
	top: 0.000pt;
	width: 667.000pt;
}
#textShape-1302{
	-ibooks-slot: textShape-1302;
	display: block;
}
#textShape-3998-svg{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 648.000pt;
}
#textShape-3996-svg{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 648.000pt;
}
#textShape-836{
	-ibooks-slot: textShape-836;
	display: block;
}
#textShape-4142-div{
	height: 55.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 437.000pt;
}
#textShape-817-svg{
	height: 54.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 648.000pt;
}
