@namespace ibooks "http://www.apple.com/2011/iBooks";
#textShape-1591{
	-ibooks-line-hints: textShape-1591 p url(../hints/content12-paginated.plist) 4 1;
}
#textShape-1592{
	-ibooks-line-hints: textShape-1592 p url(../hints/content12-paginated.plist) 5 1;
}
@page ::nth-instance
{
	height: 1004.0pt;
	width: 768.0pt;
	::slot(textShape-1245)
	{
		height: 210.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 768.000pt;
		z-index: 1;
	}
	::slot(textShape-1590)
	{
		-ibooks-column-count: 1;
		-ibooks-line-hints: textShape-1590 p url(../hints/content12-paginated.plist) 0 4;
		height: 696.000pt;
		left: 50.000pt;
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		top: 249.000pt;
		width: 658.000pt;
		z-index: 2;
	}
	::slot(textShape-1591)
	{
		height: 54.000pt;
		left: 60.000pt;
		top: 153.000pt;
		width: 648.000pt;
		z-index: 3;
	}
	::slot(textShape-1592)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 969.000pt;
		width: 661.000pt;
		z-index: 4;
	}
	::slot(textShape-1282)
	{
		height: 33.000pt;
		left: 60.000pt;
		top: 129.000pt;
		width: 648.000pt;
		z-index: 5;
	}
	-ibooks-positioned-slots: textShape-1245, textShape-1591, textShape-1592, textShape-1282, body(textShape-1590);
}

