@namespace ibooks "http://www.apple.com/2011/iBooks";
@font-face{
  font-family: "HanHeiSC-Text";
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/HanHeiSC-Text.otf");
}
@font-face{
  font-family: "SFProDisplay-RegularItalic";
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  src: url("../fonts/SF-Pro-Display-RegularItalic.otf");
}
@font-face{
  font-family: "SFProDisplay-Regular";
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/SF-Pro-Display-Regular.otf");
}
@font-face{
  font-family: "SFProDisplay-Bold";
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/SF-Pro-Display-Bold.otf");
}
@font-face{
  font-family: "HanHeiSC-Bold";
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/HanHeiSC-Bold.otf");
}
body{
	white-space: pre-wrap;
}
.columnbreak{
	break-after: column;
}
sup{
	font-size: 67%;
	vertical-align: 33%;
}
dt{
	margin-bottom: 20px;
}
a.pageShape{
	-ibooks-layout-hint: anchor page shape;
	display: none;
}
a.page{
	-ibooks-layout-hint: anchor page;
	display: none;
}
a.anchor{
	-ibooks-layout-hint: anchor;
	display: none;
}
a.shape{
	-ibooks-layout-hint: shape;
	display: none;
}
div.multichoice{
	list-style-type: upper-alpha;
}
dl{
	margin: 0px;
}
.hide{
	display: none;
}
a.attachment{
	-ibooks-layout-hint: inline;
	display: none;
}
sub{
	font-size: 67%;
	vertical-align: -10%;
}
dd{
	-webkit-margin-start: 0px;
}
table{
	border-collapse: collapse;
	white-space: pre-wrap;
}
.pagebreak{
	break-after: page;
}
.inlineblock{
	display: inline;
}
p, ul, ol{
	margin: 0px;
}
.s1{
	-ibooks-line-spacing-mode: exact;
	-ibooks-list-text-indent: 0.00pt;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #424242;
	font-family: "SFProDisplay-Bold";
	font-size: 150.00%;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	hyphens: none;
	letter-spacing: 0;
	line-height: 23.00pt;
	margin-bottom: 12.00pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
}
.s2{
	-ibooks-line-spacing-mode: exact;
	-ibooks-list-text-indent: 0.00pt;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #424242;
	font-family: "SFProDisplay-Regular";
	font-size: 150.00%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0;
	line-height: 23.00pt;
	margin-bottom: 12.00pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
}
.s3{
	-ibooks-list-text-indent: 0.00pt;
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #000000;
	font-family: "Helvetica";
	font-size: 125.00%;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	hyphens: auto;
	letter-spacing: 0;
	line-height: 1.20em;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
.s4{
	-ibooks-list-text-indent: 0.00pt;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #7A7A7A;
	font-family: "Helvetica";
	font-size: 125.00%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: auto;
	letter-spacing: 0;
	line-height: 1.20em;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
}
.c1{
	background: transparent;
}
.c2{
	background: transparent;
	font-family: "HanHeiSC-Bold";
}
.c3{
	background: transparent;
	font-family: "HanHeiSC-Text";
}
.c4{
	-ibooks-strikethru-type: none;
	-ibooks-underline-type: none;
	background: transparent;
	color: #424242;
	font-family: "SFProDisplay-RegularItalic";
	font-size: 100.00%;
	font-style: italic;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: -0.02em;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
.c5{
	font-family: "HanHeiSC-Text";
	font-style: normal;
}
.c6{
	background: transparent;
	font-family: "Helvetica";
	font-style: normal;
}
