@namespace ibooks "http://www.apple.com/2011/iBooks";
body{
	white-space: pre-wrap;
}
.columnbreak{
	break-after: column;
}
sup{
	font-size: 67%;
	vertical-align: 33%;
}
dt{
	margin-bottom: 20px;
}
a.pageShape{
	-ibooks-layout-hint: anchor page shape;
	display: none;
}
a.page{
	-ibooks-layout-hint: anchor page;
	display: none;
}
a.anchor{
	-ibooks-layout-hint: anchor;
	display: none;
}
a.shape{
	-ibooks-layout-hint: shape;
	display: none;
}
div.multichoice{
	list-style-type: upper-alpha;
}
dl{
	margin: 0px;
}
.hide{
	display: none;
}
a.attachment{
	-ibooks-layout-hint: inline;
	display: none;
}
sub{
	font-size: 67%;
	vertical-align: -10%;
}
dd{
	-webkit-margin-start: 0px;
	margin-bottom: 20px;
}
table{
	border-collapse: collapse;
	white-space: pre-wrap;
}
.pagebreak{
	break-after: page;
}
.inlineblock{
	display: inline;
}
p, ul, ol{
	margin: 0px;
}
