<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BKAllocatedSize</key>
	<integer>227491840</integer>
	<key>BKDisplayName</key>
	<string>develop-in-swift-fundamentals-student-guide</string>
	<key>BKGenerationCount</key>
	<integer>2</integer>
	<key>BKInsertionDate</key>
	<integer>658654666</integer>
	<key>book-info</key>
	<dict>
		<key>cover-image-hash</key>
		<string>1151F45C5B775B45F0119A7145CF0F8B</string>
		<key>cover-image-path</key>
		<string>OPS/assets/images/cover-image.jpg</string>
		<key>mime-type</key>
		<string>application/x-ibooks+zip</string>
		<key>package-file-hash</key>
		<string>AE65022FBC2AB0D32483F98C3F49D7DB</string>
		<key>publisher-unique-id</key>
		<string>A50FF126-7D1C-4ECC-B198-1824133FD73E</string>
		<key>unique-id</key>
		<integer>3003449733040717883</integer>
		<key>update-level</key>
		<integer>2</integer>
	</dict>
	<key>isPreview</key>
	<false/>
	<key>itemName</key>
	<string>使用 Swift 开发：基础知识</string>
	<key>updateDate</key>
	<date>2021-11-15T07:37:46Z</date>
</dict>
</plist>
